[2018-04-19 19:24] inlined opened #259 "As a user, I want Google events"
## Expected Behavior
The open source software Google uses interacts with Google Cloud

## Actual Behavior
Google's events are only routed to Cloud Functions

## Steps to Reproduce the Problem

  1. Read docs

## Additional Info
We should build another event source proxy (this time for *.googleapis.com). We can start by just deploying a Cloud Function that sends our cluster Cloud Events via a webho

[2018-10-19 17:08] adrcunha opened #8 "Write E2E tests"

[2018-10-19 18:13] adrcunha commented on #8
/woof

[2018-10-22 17:25] n3wscott opened #12 "Think about the source contract for knative"
https://github.com/knative/eventing/pull/482/files#r226756604

[2018-10-22 17:41] n3wscott commented on #12
https://github.com/knative/eventing/pull/482/files#r226757935

[2018-10-22 21:39] n3wscott opened #15 "Add default telemetry."
Add it.

[2018-10-23 13:32] matzew opened #18 "Container Source args"
the container source `args`:

e.g. in here:
https://github.com/knative/eventing-sources/blob/master/config/samples/sources_v1alpha1_containersources.yaml#L9-L11

can they be populated by ENV_VARs?

[2018-10-23 15:06] matzew opened #19 "eventing sources namespace"
https://github.com/knative/eventing-sources/blob/master/config/default/kustomization.yaml#L2

What do people feel about changing the namespace to `knative-eventing-sources` ?

Not sure if `eventing-sources-system` is a good choice

[2018-10-23 15:40] n3wscott commented on #18
Which is more standard? I think about sources as if you are making a single script and in the context of just a runable, I tend to think about passing command arguments to it vs env_args. But that is just my small view. What is the pros of ENV_VARs?

[2018-10-23 15:40] matzew commented on #19
Thx!

[2018-10-23 15:40] #19 closed

[2018-10-23 15:48] matzew commented on #18
OK, fair point, how about baking weaving in values, that are stored/configed in a `ConfigMap` ?

I think that would give me some better flexibility

For instance, if I have a source that should pulls an external system every `n` seconds, and send the _result_ to a **Sink**. The desired value may change, and if stored somewhere else (single CM), I feel that reuse of some of the yaml fragments might

[2018-10-23 15:51] n3wscott commented on #18
TOTALLY.

This is still not real code yet... Secrets will be supported too

[2018-10-24 14:06] n3wscott opened #21 "ContainerSource needs a soft delete to unhook anything hooked."
https://github.com/knative/eventing-sources/pull/16#discussion_r227580313

When a container source is deleted, we need to signal to the deployment pod that it will be deleted soon. We could do something that requires the ContainerSource to have a finalizer and an endpoint to shutdown or a status or something.

Design this integration.

[2018-10-24 17:46] grantr opened #22 "Return errors and let caller log instead of logging in nested functions"
_Originally posted by @grantr in https://github.com/knative/eventing-sources/pull/16#discussion_r227590572_

/assign @n3wscott

[2018-10-24 18:10] grantr opened #23 "kubebuilder create command fails due to missing Makefile"
## Expected Behavior

`kubebuilder create api` runs without errors

## Actual Behavior

[code]

Must then run `hack/update-codegen.sh && hack/update-manifests.sh` manually.

/cc @n3wscott

[2018-10-25 13:57] n3wscott opened #28 "ContainerSource should recreate the deployment if args or image change."
## Expected Behavior

Deployments reflect current settings

## Actual Behavior

Deployments reflect first settings.

[2018-10-25 15:06] n3wscott opened #29 "Add guidelines for when to make a CRD based source vs leverage an existing source"
from slack:

nicholss [7:17 AM]
I think the line is when you need to talk to k8s

I need to write this down in the container source (edited)
but my current thinking is the container source can make calls to external things, and act as a gateway

[2018-10-25 15:09] n3wscott opened #30 "Define what is required to be considered a source, as a concept."
Like:

- tagets a sink
- has a status of X Y Z
- is labeled like X
- the CRD has a Y label
- the CRD is in X Y Z k8s categories.

[2018-10-25 15:09] n3wscott opened #31 "Document what Container Source does, will do, and should do."
People need better documentation for this resource.

[2018-10-25 16:56] n3wscott opened #33 "Implement a source like the original eventing feedlet sources."
## Expected Behavior

This will be passed:

- a service account to run as
- a start image
- a stop image

Thinking of calling this ... **SimpleSource**

[2018-10-25 18:07] #23 closed

[2018-10-25 18:28] n3wscott commented on #33
EdgeSource.

[2018-10-29 15:07] n3wscott opened #41 "Support Finalizers for sdk"
/assign @adamharwayne

[2018-10-29 15:08] n3wscott opened #42 "Support changes to metadata in reconciled object for sdk"

[2018-10-29 22:23] n3wscott opened #45 "Move eventing/pkg/events to pkg/ ?"
Will this package continue to exist in knative after https://github.com/knative/eventing/pull/532 is merged? If we intend to share it, maybe it should move to knative/pkg.

_Originally posted by @grantr in https://github.com/knative/eventing-sources/pull/27_

[2018-10-29 22:38] vaikas opened #46 "installation of kustomize is not documented."
## Expected Behavior
scripts to work after development requirements have been done.

## Actual Behavior
get an error about missing kustomize

## Steps to Reproduce the Problem

  1. check out the repo
  2. update things
  3. run ./hack/update-manifests.sh
  4. things fail

## Additional Info
Fails with:
vaikas@penguin:~/projects/go/src/github.com/knative/eventing-sources$ ./hack/update-manifests.s

[2018-10-29 22:47] #41 closed

[2018-10-30 19:13] vaikas-google opened #49 "Need ability to specify which service account to run *Sources as"
## Expected Behavior
For example, in #48 the Receive Adapter which connects to the k8s API server, it needs permissions to be able to watch for events. Currently the Deployment created by KubernetesEventSource (and because it uses ContainerSource) runs as the default service account:
  serviceAccount: default
  serviceAccountName: default

That means that the user needs to grant this account permi

[2018-10-30 19:59] vaikas-google opened #50 "ReceiveAdapter can't talk to Channels by default."
## Expected Behavior
When I create a KubernetesEventSource it should be able to talk to the Channels.

## Actual Behavior
It can't due to Istio side cars.

## Steps to Reproduce the Problem

  1. Create KubernetesEventSource
  2. it can talk to k8s event api and receive events (but see #49 )
  3. can't talk to channel

## Additional Info

[2018-10-30 20:09] vaikas-google commented on #50
The current work around is to figure out the VirtualService representing the channel and then patching this to the Spec of it:

spec:
  gateways:
  - knative-shared-gateway.knative-serving.svc.cluster.local
  - mesh

And then find the underlying k8s service (with the same name) and replacing the spec with this:
spec:
  externalName: knative-ingressgateway.istio-system.svc.cluster.local
  sessionAf

[2018-10-30 21:28] n3wscott commented on #50
istio lean should be supported with https://github.com/knative/eventing/pull/524

[2018-10-30 22:09] adamharwayne commented on #50
The GCP PubSub Source's RA is forcibly injecting the Isito sidecar for now. https://github.com/adamharwayne/knative-eventing-sources/blob/451c04a546dbcab126826c0e153a7a7f0f419fc1/pkg/controller/gcppubsub/reconcile.go#L233

[2018-10-31 22:19] grantr opened #54 "Graceful shutdown of subscriptions in GCP PubSub receive adapter"
The normal usage of `sub.Receive` is to pass it a cancelable context. Then cancel from the outside when appropriate. But because all this program is doing is receiving messages (and we don't have any shutdown logic), there is no reason to call cancel.

We probably should add graceful shutdown logic, but I would rather do that in the future than in this PR. At worst what will happen is a message wi

[2018-11-01 14:54] rootfs opened #55 "inline k8s corev1 Container over ContainerSourceSpec"
## Expected Behavior
[ContainerSourceSpec](https://github.com/knative/eventing-sources/blob/master/pkg/apis/sources/v1alpha1/containersource_types.go#L37) has some but not all k8s corev1 Container. If k8s corev1 Container is inlined here, we then don't need to hardcode the pull policy [here](https://github.com/knative/eventing-sources/blob/master/pkg/controller/containersource/resources/deployment

[2018-11-01 15:30] rootfs opened #56 "passing secret to ContainerSource"
I am building a new source based on container source. It is really awkward I have to plaintext secret in env.

I am contemplating a probable solution that could work this way:

-  adding a `SecretReference` to `ContainerSourceSpec`.
-  by the time the deployment is created, the secret is revealed and appended into the container's env.
-  container has to know the name of the env var and get the se

[2018-11-01 15:57] n3wscott commented on #56
ContainerSource is not fully featured yet. This is a feature we would like to add for sure to bring new sources to parity to what we had with feeds. Thanks for the issue to track this.

[2018-11-01 15:58] n3wscott commented on #55
Perhaps container source should bump out and have a the container template?

[2018-11-01 16:02] rootfs commented on #55
if that is not a big inconvenience, please get a pod template

[2018-11-01 16:19] n3wscott commented on #55
I think it is a good idea. @evankanderson and @grantr were looking at this a bit too

[2018-11-01 16:28] grantr commented on #56
@rootfs if ContainerSource took a pod template spec, would that solve this problem?

[2018-11-01 16:35] grantr commented on #50
Since #53 ContainerSource injects the Istio sidecar in all controlled containers. I think this can be closed, but feel free to reopen.

[2018-11-01 16:35] #50 closed

[2018-11-01 16:36] grantr commented on #55
/assign

[2018-11-01 16:57] rootfs commented on #56
@grantr i believe SecretReference + PodTemplateSpec is the solution for most, if all, use cases.

[2018-11-01 17:05] grantr opened #57 "Allow scaling of ContainerSources"
## Expected Behavior

ContainerSource objects scale with load.

## Actual Behavior

ContainerSource replicas are hardcoded to 1, and it's difficult for the user to change that because the Deployment has a generated name.

## Additional Info

Options include:
- Automatically create an HPA or something similar scaling the controlled Deployment. Easiest for basic cases but sacrifices flexibility.
- S

[2018-11-01 17:09] rootfs commented on #56
/assign @grantr

[2018-11-01 17:36] rootfs commented on #56
The app then needs to get the secret out of the secret volume, this surely works.

A probable limitation is that the secret has to be in the same namespace as the pod. This could be a deal breaker if the container source is in e.g. eventing-system  namespace while secret is in a different namespace.

[2018-11-01 17:46] n3wscott opened #58 "I wonder if we should make a followup to consolidate conditions for sources."
_Originally posted by @n3wscott in https://github.com/knative/eventing-sources/diffs_

[2018-11-01 17:48] grantr commented on #56
ContainerSource objects themselves don't go in the `eventing-system` namespace. They're created in the user's namespace along with the pod. It seems reasonable to disallow cross-namespace secret references, but do you have a counter example @rootfs?

[2018-11-01 17:50] rootfs commented on #56
i see, that'll work, thanks!

[2018-11-01 17:50] #56 closed

[2018-11-01 17:51] grantr commented on #56
Duplicate of #55

[2018-11-01 21:37] adamharwayne opened #59 "Create a Webhook for Eventing-Sources"
_Originally posted by @n3wscott in https://github.com/knative/eventing-sources/pull/39_

[2018-11-02 20:13] #49 closed

[2018-11-03 03:35] adrcunha opened #67 "Releases are broken"
## Expected Behavior

Releases are not broken. :)

## Actual Behavior

Since 10/25, `release.sh` fails with:

[code]

## Steps to Reproduce the Problem

  1. Run `hack/release.sh`
## Additional Info

[2018-11-03 03:39] adrcunha commented on #67
Based on the commit history, there are two possible culprits:

* Add rbac annotations to ContainerSource controller (#24)
* Working with what kubebuilder is doing, document how to deploy to k8s (#16)

Both were merged on 10/24.

[2018-11-05 18:01] vaikas-google commented on #67
@grantr is looking at this.

[2018-11-06 11:11] matzew opened #74 "k8s eventsource not working"
## Expected Behavior

seeing k8s events floating into my serving function

## Actual Behavior

stacktrace on the `eventing-controller` when `ko apply` for the `subscription.yaml`

## Steps to Reproduce the Problem

  1. run the k8s event soruce sample from @vaikas-google
  2. get the log from the `eventing-controller` in the `knative-eventing` ns

## Additional Info

I have build from master (`ko

[2018-11-06 16:26] matzew commented on #74
@n3wscott any idea? I have the latest ... :thinking:

[2018-11-06 16:52] vaikas-google commented on #74
I wonder if there's a mismatch between the serving stack and the resolver in the container source. looks like at least. Can you do:
kubectl get -oyaml service.serving.knative.dev message-dumper

so we can see what it's setting as the interface for resolving.

[2018-11-06 17:05] matzew commented on #74
[code]

[2018-11-06 17:09] vaikas-google commented on #74
status:
  address:
    hostname: message-dumper.default.svc.cluster.local

So, looks like the serving stack is using Addressable but Subscription has not been updated for that yet:
https://github.com/knative/eventing/blob/master/pkg/controller/eventing/subscription/reconcile.go#L200

[2018-11-06 18:02] vaikas-google opened #75 "Update source resolvers to use Addressable"
## Expected Behavior
Channels now use Addressable, Sources need to use that to resolve.

## Actual Behavior
They don't.

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Additional Info
https://github.com/knative/eventing/pull/583

[2018-11-06 18:40] #75 closed

[2018-11-06 18:56] vaikas-google commented on #74
well, it fixed one part :) The second part was #75 :)

[2018-11-06 20:34] vaikas-google opened #78 "Add a sample for github source in knative/docs/eventing/samples"
## Expected Behavior
knative/docs repo contains workable examples for Knative Eventing examples including github.

## Actual Behavior
Currently has an out of date one, will remove it from there.

## Additional Info
Should be done in conjunction with: #36

[2018-11-06 20:37] vaikas-google commented on #78
https://github.com/knative/eventing/issues/548

[2018-11-07 11:09] matzew commented on #74
@vaikas-google I still get the same `yaml` for the dumper.

[2018-11-07 11:12] matzew commented on #74
Here is what I have in the Eventing's Controller manager log:

[code]

[2018-11-07 14:22] matzew commented on #74
Also, should i have a pod for the k8s event source, in some namespace ?

[2018-11-07 15:10] matzew commented on #74
Ok... I've sorted the permission issue (gave it some `oc adm...` love)

also, I did `dep ensure -update` on both **eventing** and **eventing-sources**

Now, I get:
[code]
here is the JSON of the pod:  https://gist.github.com/matzew/5eb930ae801582c7dc6d0c7685a39015

and yes, I do have the image:

[code]

[2018-11-07 16:06] matzew commented on #74
@vaikas-google so, this and reapplying fixed the pull issue for me

https://github.com/knative/eventing-sources/pull/80

[2018-11-07 16:36] #74 closed

[2018-11-07 16:36] matzew commented on #74
Closing since the `k8s` demo now works fine w/ the in-mem channel

[2018-11-08 18:53] n3wscott opened #86 "we should be testing this inlined method (need mock pubsub client)"
_Originally posted by @Harwayne in https://github.com/knative/eventing-sources/pull/81_

[2018-11-09 12:26] matzew opened #89 "default source file confusion"
More a question...

why does the `default-gcppubsub` file contain four sources?

* ContainerSource
* GcpPubSubSource
* GitHubSource
* KubernetesEventSource

I think I'd expect it is just `GcpPubSubSource` that's in there.

The `default` on the other hand, contains:
* ContainerSource
* GitHubSource
* KubernetesEventSource

Not sure I agree the `GitHubSource` is in there - seems a bit specialised, s

[2018-11-09 12:38] bbrowning commented on #89
I agree it is a bit confusing, and we should decide when a Source gets added to `default.yaml`, gets its own `default-*.yaml`, or should exist as a completely separate controller with separate release files.

[2018-11-09 12:47] matzew commented on #89
Not sure I like the `default-xyz` file name for each source. I think the default in there is confusion too.

[2018-11-09 22:53] n3wscott commented on #89
We did this because pubsub crashloops if it is not provided the correct creds.

[2018-11-10 00:04] evankanderson commented on #89
A few additional details:

Right now, all the controllers are built into the same binary (`github.com/knative/eventing-sources/cmd/manager`), and it seems like only the pubsub source is flagged on/off via environment variables.

A few other interesting items from the combined yaml:

The `manager-role` YAML seems to duplicate permissions for the following:
* apps/deployment
* sources.eventing.knati

[2018-11-13 18:24] rootfs opened #100 "don't inject istio by default"
istio sidecar is injected into container source by default [here](https://github.com/knative/eventing-sources/blob/master/pkg/controller/containersource/resources/deployment.go#L60). And there is no document on it or service entry. I notice only container source and gcp pubsub have it, github source doesn't have it (a right thing imo)

I may have missed the big picture, but is there a reason to fo

[2018-11-13 18:59] grantr commented on #100
The Istio sidecar is needed to communicate with the in-memory channel which uses Istio. For now Istio is required for channel implementations, but that may not always be true (see #524).

[2018-11-13 19:35] rootfs commented on #100
I see, thank you @grantr

[2018-11-13 19:35] #100 closed

[2018-11-14 19:57] #78 closed

[2018-11-15 09:58] saphoooo opened #111 "kubernetes events pks return an error"
## Expected Behavior

Capture K8s event

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. install knative eventing: https://github.com/knative/docs/tree/master/eventing#installation
  2. install K8s-event-source: https://github.com/knative/docs/tree/master/eventing/samples/kubernetes-event-source
  3. when k8s-events is created with correct sa, source container returns an error

[2018-11-15 18:52] grantr opened #114 "CRDs have invalid schema definitions with status enabled"
https://gubernator.knative.dev/build/knative-prow/pr-logs/pull/knative_eventing/622/pull-knative-eventing-integration-tests/1063116345668800514 is failing due to an error creating the containersource CRD.

The validation error is:
[code]

The generated CRDs have the `type` field and that's causing a new validation failure that only occurs when status is enabled.

See https://github.com/kubernetes/

[2018-11-15 19:40] #114 closed

[2018-11-17 17:07] mattmoor opened #118 "Github Source doesn't surface failures registering webhook"
Original issue: https://github.com/knative/docs/issues/554

[2018-11-17 17:17] mattmoor opened #119 "Github Source doesn't handle (or reject) changes to spec.eventTypes"
## Expected Behavior

I'd expect the controller to update the webhook with the new event types, or (worse) reject the mutation via the webhook.

## Actual Behavior

The change is silently accepted and does nothing.

## Repro

Try adding the following to the source sample:
[code]

Then "edit" the webhook configuration in Github, and no new even types are checked.

[2018-11-17 23:19] mattmoor opened #120 "Github Source drops critical header"
/kind bug

I am trying to use the `github.com/google/go-github` library to handle events received through the Github event source, and it seems that a key header is being dropped.

From my own logging:
[code]

What I'm doing is largely following the sample usage [here](https://godoc.org/github.com/google/go-github/github#ParseWebHook), with the exception that I don't call `ValidatePayload` because

[2018-11-17 23:43] mattmoor commented on #120
It looks like it is the github event source translating this into cloud event headers.  If I add further instrumentation I see this header:
[code]

I believe [this](https://github.com/knative/eventing-sources/blob/b18ce62c41a1bfb462bb375460bc0818519646ac/pkg/githubsource/receive_adapter.go#L61-L64) is the offending logic.

From a user perspective, this is confusing and frustrating.  I don't really

[2018-11-20 17:35] grantr commented on #8
/milestone v0.2.1

[2018-11-21 04:09] sebgoa opened #126 "cannot list events when kubernetes event source starts"
## Expected Behavior

Service account is used to authenticate to k8s API server and role/rolebinding are enforced.

## Actual Behavior

Despite properly setup role/rolebinding for a k8s event source setup in a specific namespace, the `test-events` pod started by the kuberneteseventsource cannot get the list of events.

I believe that the culprit is:

https://github.com/knative/eventing-sources/blo

[2018-11-21 16:42] sebgoa commented on #126
so not quite, the error seems to happen when the container starts:

[code]

But it seems related to a network error.

The k8s source cannot post events to the channel

[code]

Strangely, 8 hours later, the problem disappeared...

[2018-11-21 16:52] vaikas-google commented on #126
Sorry, are there two bugs here, or was the SA a red herring? Just trying to figure out if there are problems receiving events from K8S -> Receive Adapter (Should have error messages in logs that it is unable to talk to K8S to set up a watch for k8s events.

[2018-11-21 16:53] sebgoa commented on #126
I think the SA is a red herring after all.

the real error is in the istio-proxy logs shown above, where it cannot post to the channel svc

[2018-11-21 17:44] n3wscott opened #128 "Break apart the manager for each source controller into an independently releasable and installable controller"
## Expected Behavior

Sources are independently releasable, installable and updatable.

## Actual Behavior

Source manager is shared for all sources in eventing-sources making the shared controller deploy fragile.

## Steps to Reproduce the Problem

  1. Install a source.
  2. Note the controller reconciles all supported sources.
  3. Note again that adding new sources adds complexity to the exist

[2018-11-22 21:32] matzew commented on #126
Hi, @sebgoa

I just tested, and I see this in the `source` container:

[code]

I do get events~

Also, this is in the `istio-proxy` logs:

[code]

[2018-11-22 21:32] matzew commented on #126
all `202`s here

[2018-11-26 12:45] vaikas-google commented on #126
@sebgoa , can you repro this consistently? Is this related to the chats on slack about long (hours?) of not being able to connect, then suddenly things start working?

[2018-11-26 16:01] sebgoa commented on #126
Yes, it is related. I just modified the description of the issue.

There are clearly logs that complain we cannot get to the events. But these are logged early when the container starts, most likely because the mesh is not in place yet.

But still, it takes a _long time_ for events to flow. I will test again.

[2018-11-26 19:52] vaikas-google commented on #126
Great, it would be great to isolate it to the following bits:
 1. start to being able to receive events from API server
 2. from step 1 to being able to send them to the Channel
 3. from step 2 to being able to see them in the receiving function.

[2018-11-26 20:33] sebgoa commented on #126
that's on GKE ( I don't plan to run prod on raspberry pi's :) )

[2018-12-04 10:24] matzew opened #139 "Proposal: Awesome Knative Eventing Sources"
## Expected Behavior

Initial version of a **Catalog solution for Sources** that could a structured document, as discussed on the roadmap: https://docs.google.com/document/d/1z0z412rL9FsBsF8kwKxG6w7sflJLKe9hIECkc7jWfOY/edit?disco=AAAACRGJwCE

## Proposal

Instead of creating such a file here, I'd think that creating a separate "knative-awesome" repo is actually better.  This allows all Knative com

[2018-12-04 15:01] mattmoor commented on #139
cc @sixolet @cppforlife

Seems somewhat relevant to CLI (but perhaps it's still too much of an operator concern for `kn`?)

[2018-12-05 17:24] vaikas opened #141 "Create a debugging / tracing decoding guide"
We should have a page that describes how to debug failed events, how to read traces, etc.

[2018-12-05 18:46] sebgoa opened #142 "Better logging format"
Would be nice to get some prettier logging format for the controller

see:

[code]

Especially the timestamp, a human readable date would be cool.

[2018-12-05 19:34] evankanderson commented on #142
If you have ELK (or stackdriver) configured, I think these logs should be collected and aggregated with human-readable timestamps. I think the output comes from zap -- there may also be zap flags that can help.

[2018-12-05 21:46] evankanderson commented on #142
Looking at https://github.com/uber-go/zap/issues/33, it looks like we should be able to plug in our own `TimeFormatter`.

[2018-12-05 21:47] evankanderson commented on #142
Actually, https://github.com/uber-go/zap/issues/485 seems to be more up-to-date.

[2018-12-06 19:20] sebgoa commented on #142
May not be a good location for this issue, but my main point is that all our controllers format logs differently and that makes it a big of a pain when you debug with `kubectl logs`. So it is more about consistency.

eventing controller logs as:

[code]

in-memory channel controller and most controllers in serving do pure json with a formatted date:

[code]

put source controller as a epoch timest

[2018-12-07 18:30] evankanderson opened #151 "Create a CloudEvents Ingress source"
A useful generic Source would be a Source which sets up routing from the external world to an `Addressable` (which may have an address which only exists within the cluster). This would assume that the incoming data was in CloudEvents format, and might be able to perform authentication and credential exchange within the cluster.

Implementation-wise, this could be another event source which using K

[2018-12-13 00:20] sbezverk commented on #151
@evankanderson  is there any examples which can be used as a sort of guideline to get things started?

[2018-12-27 19:00] kelaban opened #159 "Allow all namespaces in kubeeventsource"
## Expected Behavior
When passing `namespace=""` I expect to be able to gather events from all namespaces

## Actual Behavior
Spec is rejected

## Steps to Reproduce the Problem

  1.  Create kuberneteseventsource with
[code]

## Additional Info

[Kuberneteseventsource](https://github.com/knative/eventing-sources/blob/d0eb0ef5cb9b34daeb3a55f33943d75c48a30b3d/cmd/kuberneteseventsource/main.go#L47)

[2018-12-28 21:16] sebgoa commented on #55
+1 to this.

We need to be able to use a full Pod spec in the Container source manifest.

Being able to use secrets as env variables is one good use-case.

[2018-12-30 03:37] adrcunha opened #160 "Nightly releases are failing since 12/19/2019"
# Expected Behavior

Each day a release.yaml is published to https://console.cloud.google.com/storage/browser/knative-nightly/eventing-sources/latest and the images are published to
http://gcr.io/knative-nightly/github.com/knative/eventing-sources

# Actual Behavior

The latest release.yaml file and images have been published 10 days ago.

# Additional Info

The pipeline is failing due to the foll

[2018-12-30 15:37] #160 closed

[2019-01-02 20:07] sebgoa commented on #55
@tzununbekov let's discuss this one, I think you could help here

[2019-01-09 17:32] vaikas opened #174 "Examples for consuming sources should show how to deserialize the event."
## Expected Behavior
Easy consumption example missing. We should have a real sample for creating a function consuming pubsub events (or for each of the sources) that a user could take and use as a goby

## Actual Behavior
we use the message dumper which dumps the entire http message, which is great for debugging, but what the user really cares about is consuming their event. We should have an exam

[2019-01-09 23:40] vaikas opened #176 "make it easier to see installed Source CRs in a cluster."
## Expected Behavior
it's a bit tricky to see what CRs for sources have been installed. by convention if we just label the created CRs consistently, we'll be able to provide a cleaner user experience.

For example, I can see available sources because I have tagged the CR created like so:

https://github.com/vaikas-google/csr/blob/master/config/cloudschedulersource.yaml#L7

vaikas@penguin:~/project

[2019-01-10 00:36] csantanapr commented on #176
What are other alternatives in a k8s to "tag" an object?

I think labels are the most common way to "tag".

annotations serve a different purpose, and putting a field/property feels to invasive.

I like labels as same idioms for "filtering" like affinity/anti-affinity can be use on CRDs in future.

[2019-01-10 09:09] matzew commented on #176
Labels seem to work, but feels still a bit weak, no ?
E.g. I have to ensure it is set... instead of something more _strongly_ typed

[2019-01-10 09:45] matzew commented on #139
I think @Harwayne did check in a first doc into the docs repo.  Perhaps eventually it will be moved to a _dedicated_ repo ?

[2019-01-10 18:59] sixolet commented on #139
Interesting. I feel like the answer to whether this is interesting to the Client group depends on whether an event source ends up being exclusively something your operator installs. If so, then looking at which ones your operator has installed and then connecting your services to them is in scope for Client, but picking event sources from the list of all event sources anyone has implemented isn't.

[2019-01-10 22:11] evankanderson commented on #139
I think this is a duplicate of https://github.com/knative/eventing/issues/702?

@matzew is there a particular benefit to having this in a separate repo? There's additional overhead in setting up and maintaining multiple repos, and having a separate repo will make it harder to integrate the content with the website documentation when that is set up.

[2019-01-14 16:12] dturanski opened #180 "GCP PubSub Source fails after first create"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Additional Info

[2019-01-14 16:18] dturanski commented on #180
Actual Behavior:
Sample works as expected the first time. After deleting,  new GCP Pub Sub Source creation does not create a pod and source cannot deleted until I set `finalizers: []` in the yaml.

Steps to Reproduce the Problem
1. Create a GCP Pub Sub Source and run the message dumper sample
2. Delete the source
3. Repeat

[2019-01-14 17:18] csantanapr opened #181 "k8s event source doesn't work on release 0.3.0"
## Expected Behavior
k8s event sample should work on a knative deployment using 0.3.0 release

## Actual Behavior
k8s event source doesn't work, there are error in the logs

## Steps to Reproduce the Problem

## 1. Minikube
for mac Carlo's way 😄
[code]
## 2. Install Istio
[code]
## 3. Install Knative Serving
[code]

## 3. Install Eventing
[code]

## 4. Install Event Sources
[code]

## 5. Knative E

[2019-01-14 19:05] n3wscott commented on #181
I did the same in a GCP cluster following the documentation and it worked. I do see some of these errors in my logs though

[2019-01-14 19:07] grantr commented on #181
sources controller:
- Reconcile attempt 1: Channel exists, but has no address in its Status

eventing controller:
- Reconcile attempt 1: message-dumper Service doesn't exist yet
- Reconcile attempt 2: message-dumper service exists, but has no address in its Status

[2019-01-14 20:22] csantanapr commented on #181
I tried again and got better luck but message-dumper never came up, now I'm using release.yaml for eventing

## Install Eventing
[code]

## Install Event Sources
[code]

I see the in memory provisoner
[code]

But I see errors in  `eventing-controller`
[code]
{"level":"info","ts":"2019-01-14T19:58:19.351Z","caller":"logging/config.go:96","msg":"Successfully created the logger.","knative.dev/jsoncon

[2019-01-15 23:54] vaikas opened #182 "Sources open api spec does not include field descriptions."
## Expected Behavior
when dumping the CRD for a source, I'll get a description for each of the fields.

For example, Cloud Scheduler shows:
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        metadata:
          type: object
        spec:
          properties:
            body:
              description: Optio

[2019-01-16 00:02] grantr commented on #182
Our version of controller-tools doesn't generate this, but that was fixed in https://github.com/kubernetes-sigs/controller-tools/pull/111 (and https://github.com/kubernetes-sigs/controller-tools/pull/118). I think if we upgrade we'll get this for free. @n3wscott is working on that; first step is https://github.com/knative/eventing/pull/726.

[2019-01-16 18:50] vaikas-google commented on #55
Makes sense to add the pod template. however, you should be able to use env secrets today as is. not disputing the need for pods.

[2019-01-16 20:49] vaikas-google commented on #180
Do you have any logs indicating what may have gone wrong?

[2019-01-16 21:45] dturanski commented on #180
I'm not sure where to look but I was able to reproduce on 2 different clusters:
 `kubectl delete gcppubsubsources.sources.eventing.knative.dev/mysource` hangs until I remove the finalizers.
The next time(s) creating the source never creates a pod.
Do you have any suggestions of where to look?

[2019-01-16 22:35] vaikas-google commented on #180
best place would be in the controller logs, which should land in:
kubectl -n knative-sources logs gcppubsub-controller-0

I'll try to repro myself or @Harwayne might get to it first.

[2019-01-16 22:55] dturanski commented on #180
That's the thing. I don't see `gcppubsub-controller`.  Am I missing something?
[code]
[code]

[2019-01-16 23:02] dturanski commented on #180
I think the problem is that `knative/docs/eventing` is not up to date with `eventing-sources/contrib/gcppubsub`.

[2019-01-16 23:10] vaikas-google commented on #180
Heh, yeah, probably :(

FYI:
https://github.com/knative/docs/pull/777

On Wed, Jan 16, 2019 at 3:02 PM David Turanski <notifications@github.com>
wrote:

[2019-01-17 00:05] vaikas-google commented on #180
Yes, so indeed, if it's the 0.2.1 it was part of the main one. If you wouldn't mind trying with the 3.0 and see if you run into similar issues. I just updated the readme (SORRY about the out of date docs :( )

[2019-01-17 00:21] vaikas-google commented on #180
sigh upon re-reading, figured I'd clarify :) 0.2.1 gcp pubsub controller was part of the main controller for all the other sources. In 3.0 pubsub has its own controller and you should see two controllers in the knative-sources namespace.

[2019-01-17 20:16] dturanski commented on #180
Sounds good.

[2019-01-17 20:36] vaikas-google commented on #180
Just checking that the issue was actually resolved with the 0.3 release?

[2019-01-22 10:15] sebgoa opened #187 "containersource controller does not retry pod creation"
## Expected Behavior

containersource controller would retry to start the pod specified in the `image` field if it did not succeed the first time

## Actual Behavior

It seems that if the sink is not present the controller will not start the containersource image.
Hence if you create the sink afterwards, you will need to kick the controller.

## Steps to Reproduce the Problem

  1. create a simple

[2019-01-23 01:32] evankanderson commented on #151
This could be a good place to start. You might want to check with @Harwayne
and @grantr to see if they have advice on how to proceed here.

On Tue, Jan 22, 2019 at 5:27 PM Ying Chun Guo <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-01-23 16:42] Harwayne commented on #151
My suggestion would be:
1. Build a Knative Service that forwards Cloud Events to a Knative Channel.
   - This will allow us to verify that someone can send an event from outside the cluster and see that it is usable.
2. Add a very simple, shared secret in an HTTP header auth to the Knative Service from step 1.
3. Decide if we want to use Istio directly.
    - If yes, then create an Istio ingress g

[2019-01-23 16:53] grantr commented on #151
/assign @daisy-ycguo

[2019-01-28 08:33] sebgoa commented on #55
confirmed env configured via secrets do work. However volumes mounts don't.

If you create a container source for Google cloud for instance, you need to set GOOGLE_APPLICATION_CREDENTIALS to a file path where you mount the service account secret.

Therefore today we cannot write a Container source for Google services.

[2019-01-28 23:54] ahmetb opened #190 "CronJobSource, GitHubSource...: all statuses have severity:Error but it's working"
## Expected Behavior

I followed https://github.com/knative/docs/tree/88a6f7fea6038c43467a5f4da9c1dadb3b4202d0/eventing/samples/cronjob-source sample with eventing v0.3.0 to try things out.

I look at `kubectl get -o=yaml CronJobSource` output and `kubectl describe` outputs to see if anything failed. I expect not to find any errors.

## Actual Behavior

[code]

But it actually works fine (makes a

[2019-01-29 03:49] evankanderson commented on #190
`severity` is a new value we created to be able to distinguish between errors, warnings, and info levels of conditions.

@mattmoor @sixolet IIRC, we did this because UI and our Condition logic didn't know how to handle the not-error conditions. But seeing the word "Error" next to the word "True" had freaked out at least 4 people. What do you think of omitting `severity` for the case of errors, and

[2019-01-29 04:03] sixolet commented on #190
I think that was the intent all along, to have error be the default condition severity.

[2019-01-29 04:34] ahmetb commented on #190
I got freaked out once more when I saw this on `GitHubSource`, too. I think it’ll take some time to get used to.

[2019-01-29 23:15] n3wscott opened #193 "Remove kubebuilder annotations."
/assign

[2019-01-30 16:36] n3wscott opened #194 "Use YAML anchor to set labels."
Or even better, set a YAML anchor on matchLabels above and use it here.

_Originally posted by @Harwayne in https://github.com/knative/eventing-sources/pull/192_

/good-first-issue

[2019-01-30 16:39] n3wscott commented on #190
cc: @mattmoor @vaikas-google

[2019-01-30 16:40] n3wscott commented on #190
my vote is to switch to numbers rather than "Error" string.

`severity: Error`

vs

`severity: 0`

[2019-01-31 00:06] #194 closed

[2019-01-31 00:17] evankanderson commented on #190
See https://github.com/knative/pkg/pull/255, which makes the string for "Error" severity "", and causes the severity for errors to be omitted.

[2019-02-07 08:49] zanven42 commented on #126
Hi i am experiencing this exact same issue where my events 404 trying to hit the sink, this issue disappears when i redeploy the sink and the event into the default namespace. I am also using GKE.

[2019-02-07 17:56] n3wscott opened #202 "Add clarity to the comment for gcppubsubsource.Add()"
Add clarity to the comment for gcppubsubsource.Add()

_Originally posted by @n3wscott in https://github.com/knative/eventing-sources/pull/199/review_comment/create_

[2019-02-07 17:57] n3wscott opened #203 "Add clarity to the comment for awssqusource.Add()"
Add clarity to the comment for awssqusource.Add()

_Originally posted by @n3wscott in https://github.com/knative/eventing-sources/pull/199/review_comment/create_

[2019-02-07 17:58] n3wscott opened #204 "Add clarity to the comment for kuberneteseventsource.add()"
Add clarity to the comment for kuberneteseventsource.add()

_Originally posted by @n3wscott in https://github.com/knative/eventing-sources/pull/199/review_comment/create_

[2019-02-08 16:08] bbrowning opened #206 "Data race in cronjobevents"
CI has caught intermittent data races in cronjobevents on both #191 and #178. I haven't done any digging into the cause yet so don't know if this is purely a race in the cronjobevents tests or a race in the non-test code as well.

Example races from a recent CI failure:
[code]

[2019-02-14 14:08] Justin2997 opened #210 "Using RabbitMQ as a event source"
## Expected Behavior
I create these issues to start a work in progress that I plan to work on. We will have a list of events on one or more queue in RabbitMQ. Those events will flow to the respective pod in Knative. I was planning to do something like the AWS SQS event source.

My gold is to use RabbitMQ to send data from one pod to another and externally feed the queue.

## Additional Info
I work

[2019-02-20 21:34] brosner opened #213 "v0.4.0 gcppubsub.yaml release artifact empty"
## Expected Behavior
The release artifact, `gcppubsub.yaml`, for the v0.4.0 release should contain the YAML manifest to run the GCP PubSub controller

## Actual Behavior
The release artifact contains only a comment.

[2019-02-21 22:33] #190 closed

[2019-02-22 10:27] dibbles opened #216 "Deletion of githubsource does not always delete webhook"
## Expected Behavior

If I delete a githubsource the associated webhook should be deleted

## Actual Behavior

Sometimes deletion occurs, but more often than not deletion does not occur.

## Steps to Reproduce the Problem

  1. kubectl apply -f <githubsource.yaml>
  2. check in github repo webhooks to see webhook created
  3. kubectl delete -f <githubsource.yaml>
  4. check in github repo webhooks

[2019-02-28 00:25] n3wscott commented on #213
I think @evankanderson has corrected this.

[2019-02-28 10:44] sebgoa opened #223 "Container Source does not get annotation for outbound network"
## Expected Behavior

A pod created by a containersource should have the annotation for Istio to let the network out.
If you follow this setup:

https://github.com/knative/docs/blob/master/serving/outbound-network-access.md

A pod should have the following type of annotation:

[code]

## Actual Behavior

Pod created by container source does not get the "traffic sidecar" annotation and therefore tr

[2019-02-28 17:12] sebgoa commented on #223
for reference: networking function in serving:
https://github.com/knative/serving/blob/master/pkg/network/network.go

Loaded in:
https://github.com/knative/serving/blob/master/pkg/reconciler/v1alpha1/revision/config/store.go

[2019-03-01 00:20] grantr opened #227 "Several sources construct their CloudEvents client without thread safety"
## Expected Behavior

Sources are thread-safe.

## Actual Behavior

Several sources use variants of `if client == nil` inside the message handler function, which will race if two messages are handled concurrently.

AWSSQS source: https://github.com/knative/eventing-sources/blob/acb8625a4469cbf4969400e74ee98766d209e719/pkg/adapter/awssqs/adapter.go#L158

CronJob source: https://github.com/knative/e

[2019-03-05 21:58] evankanderson commented on #223
Should this be sidecar annotations or [Istio ServiceEntries](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry)?

[2019-03-07 08:15] sebgoa commented on #223
You can add the sidecar annotation to the container source deployment which fixes the issue, but it will get removed after a while (reconciliation I suppose).

It seems with Istio 1.1 default will be open so we won't need the annotation anymore.

[2019-03-07 16:28] mchmarny commented on #213
Still empty

[2019-03-07 18:00] grantr commented on #213
`message-dumper.yaml` is also empty. I'm looking into this.

[2019-03-07 19:00] evankanderson commented on #213
It looks like the files are not _empty_, which would produce an error, but don't contain anything useful:

[code]

I'm out for the next couple days, but the first step would be to check whether nightly is impacted the same way.

[2019-03-07 19:08] grantr commented on #213
It appears the images for message dumper and gcppubsub source were never published.

The issue is in the release script as currently configured:

https://github.com/knative/eventing-sources/blob/850fc5b7f87c94d2162dfad748356f6a158fa2df/hack/release.sh#L21-L33

When a release file has the same name as a component, the publish for that release file fails before uploading any images or yaml artifacts

[2019-03-07 19:12] evankanderson commented on #213
My release process was to copy the Prow nightly outputs to the release; this revealed silent release script failures in `knative/eventing` with empty files (`hub release` fails on empty files), but since these files aren't quite empty, I copied the useless files to the release without realizing it.

[2019-03-07 19:17] grantr commented on #213
If we can get Prow to repeat the release with the same hashes, we can correct 0.4.0 by uploading just the missed images and yamls. If Prow doesn't generate the same hashes as before, I recommend creating a new release 0.4.1.

[2019-03-08 00:59] adrcunha opened #237 "Setup automatic major and dot releases"
Let's stop building eventing-sources releases from workstations. :)

[2019-03-08 01:29] grantr commented on #213
[v0.4.1](https://github.com/knative/eventing-sources/releases/tag/v0.4.1) has been released to correct this.

[2019-03-08 01:29] #213 closed

[2019-03-08 18:25] #237 closed

[2019-03-10 03:06] steren commented on #139
I would expect more than event sources in a `knative-awesome` repo, e.g. link to articles, clients, Knative commercial offerings. Somebody actually started one already: https://github.com/idvoretskyi/awesome-knative

Instead, for event sources, I recommend having a dedicated repo, more "official". That can be embedded into the Knative docs, and hopefully programmatically queried.

[2019-03-11 21:32] whynowy opened #244 "Sink availability check in event source adapters"
## Expected Behavior
An AwsSqsSource listening to a queue with existing messages should work well.

## Actual Behavior
Many `connect: connection refused` errors are seen at the beginning.

## Steps to Reproduce the Problem

  1. Send some messages to a SQS queue
  2. Create Channel, Sub, Service and AwsSqsSource
  3. Find `connect: connection refused` errors in receive_adapter container logs.

##

[2019-03-12 20:36] #227 closed

[2019-03-13 18:17] n3wscott opened #247 "use cloudevents sdk"
Use https://github.com/cloudevents/sdk-go

/assign

[2019-03-21 14:04] n3wscott commented on #247
/close

Done!

[2019-03-21 14:04] #247 closed

[2019-03-21 14:06] n3wscott commented on #89
I think we fixed this moving away from kustomize.

/close

[2019-03-21 14:06] #89 closed

[2019-03-21 16:09] matzew opened #266 "e2e test for WebSocket source"
## Expected Behavior

have a e2e test for the websocket source

## Actual Behavior

no test for this

[2019-03-21 16:10] matzew commented on #266
/kind feature-request

[2019-03-21 16:12] matzew opened #267 "e2e test for heartbeat source"
## Expected Behavior

have a e2e test for the heartbeat source

## Actual Behavior

no test for this

[2019-03-21 16:12] matzew commented on #267
/kind feature-request

[2019-03-21 16:13] matzew opened #268 "e2e test for github_receive_adapter"
## Expected Behavior

have a e2e test for the github source

## Actual Behavior

no test for this

[2019-03-21 16:14] matzew opened #269 "e2e test for cronjob source"
## Expected Behavior

have a e2e test for the cronjob source

## Actual Behavior

no test for this

[2019-03-21 16:14] matzew opened #270 "e2e test for awssqs source"
## Expected Behavior

have a e2e test for the aws_sqs source

## Actual Behavior

no test for this

[2019-03-21 16:15] matzew opened #271 "e2e test for camel-k source"
## Expected Behavior

have a e2e test for the camel-k source

## Actual Behavior

no test for this

[2019-03-21 16:15] matzew opened #272 "e2e test for kafka source"
## Expected Behavior

have a e2e test for the kafka source

## Actual Behavior

no test for this

[2019-03-22 14:44] bbrowning opened #274 "Scaling of Kafka source receive adapters"
## Expected Behavior
The receive adapters for a Kafka source should scale up and down as needed.

## Actual Behavior
Each Kafka source gets a single receive adapter

## Additional Info
For every configured Kafka source, the controller should periodically check the offsets and calculate the lag for each partition in a given topic and consumer group. If the lag is greater than 0, then it scales from

[2019-03-22 14:45] bbrowning commented on #274
This depends on #264 .

[2019-03-22 15:10] bbrowning commented on #274
/assign

[2019-03-22 17:09] n3wscott opened #275 "I think we should have one manager for each source."
## Expected Behavior
Customer installs container source and they try to look at the reconciliation logs, they have a hard time finding a controller that has "container source" in it's name.

## Actual Behavior
We smash most source controllers into one pod.

[2019-03-25 14:26] lionelvillard opened #288 "Provider parent object is deep copied twice"
## Expected Behavior

The object should be deep copied only once

## Actual Behavior

It is copied twice.

here: https://github.com/knative/eventing-sources/blob/d44413300a25f86f91ef77948478bfb11ec854d9/pkg/controller/sdk/reconciler.go#L54

and here: https://github.com/knative/eventing-sources/blob/d44413300a25f86f91ef77948478bfb11ec854d9/pkg/controller/sdk/reconciler.go#L69

The first copy is cor

[2019-03-25 22:19] evankanderson commented on #288
/kind bug

[2019-03-25 22:28] evankanderson commented on #288
/kind bug

(Prow didn't have that label until just now.)

[2019-03-25 22:28] evankanderson commented on #275
/kind proposal

[2019-03-25 22:28] evankanderson commented on #275
/kind feature-request

[2019-03-25 22:29] evankanderson commented on #274
/kind feature-request

[2019-03-25 22:29] evankanderson commented on #244
/kind feature-request

[2019-03-26 17:09] evankanderson commented on #223
/kind feature-request

[2019-03-26 18:52] dubee opened #291 "Update Kafka source documentation to add a strimzi demo"
Documentation for the Kafka source should provide a demo that includes setting up Kafka with strimzi. Related comment: https://github.com/knative/eventing-sources/pull/264#issuecomment-476390112.

[2019-03-26 18:53] dubee commented on #291
@matzew, @aslom, I think one of you might be interested in doing this work.

[2019-03-26 18:56] dubee opened #292 "Update Kafka source to bulk consume messages"
Currently the Kafka source consumes one message at a time. This behavior should be changed to support bulk consuming of messages to increase performance. Related comment:
https://github.com/knative/eventing-sources/pull/148#pullrequestreview-212240649.

[2019-03-26 18:57] dubee commented on #292
@matzew, FYI.

[2019-03-26 19:01] matzew commented on #292
/assign @matzew

[2019-03-26 19:02] matzew commented on #291
/assign @matzew

[2019-03-26 19:02] matzew commented on #291
/kind feature-request

[2019-03-26 19:02] matzew commented on #292
/kind feature-request

[2019-03-26 19:37] aslom commented on #291
@matzew let me know if you want me to test documentation instructions or anything else

[2019-03-27 05:32] matzew commented on #292
the consumer reads from broker, and it batches those reads. In the code we consume the claim, and messages are consumed from a channel so that is 1-1

[2019-03-27 09:08] daisy-ycguo commented on #31
Agree. I can work on this issue.

[2019-03-27 14:05] duglin opened #297 "Make githubsource's SecretToken optional"
Right now SecretToken appears to be required:
https://github.com/knative/eventing-sources/blob/master/pkg/apis/sources/v1alpha1/githubsource_types.go#L66

I think it would be nice if it were made optional, and if not provided then the system just created something to use (like a UUID). This value has no meaning outside of this subscription so I don't need the requirement to force the user to speci

[2019-03-27 15:39] Justin2997 commented on #210
WIP : https://github.com/Justin2997/knative-rabbitmq-to-lambda-source

[2019-03-27 15:52] aslom opened #299 "Apache Kafka event source does not work with minikube local docker"
## Expected Behavior

Apache Kafka source should work in minikube with local docker

## Actual Behavior

export KO_DOCKER_REPO=ko.local  and because ImagePullPolicy: "Always" is used in contrib/kafka/pkg/reconciler/resources/receive_adapter.go then source is ImagePullBackOff

[code]

## Steps to Reproduce the Problem

  1. Deploy controller will fail until changed to contrib/kafka/config/500-contr

[2019-03-27 15:54] aslom commented on #299
I was looking to compare how other sources are doing and it seems to use IfNotPresent -https://github.com/knative/eventing-sources/blob/1fbf7302f71deb10540acc3b7a938f287ecc1b30/pkg/reconciler/containersource/resources/deployment.go#L76
https://github.com/knative/eventing-sources/search?q=ImagePullPolicy&unscoped_q=ImagePullPolicy

[2019-03-27 15:54] aslom commented on #299
It seems that best option is to remove ImagePullPolicy or make it configurable to override default  IfNotPresent? https://kubernetes.io/docs/concepts/containers/images/

[2019-03-27 16:13] vaikas-google commented on #223
Fixed in #285
https://github.com/knative/eventing-sources/pull/285

This allows for the user to specify this, 1.1 fixes this as you said, so we should be in a better place. We still want to be able to control the speced pods. I'm going to close this, reopen if you're not happy with this.

Longer term we should have something that controls the network configuration (just like Serving), I'd rather c

[2019-03-27 16:14] vaikas-google commented on #223
An example usage is here:
https://github.com/vaikas-google/ftp

[2019-03-27 16:14] #223 closed

[2019-03-27 17:35] aslom commented on #299
@dubee going to change kafka source adapter to use default IfNotPresent but will allow to override it with new optional env variable set in eventing-sources/contrib/kafka/config/500-controller.yaml

[code]

and remove `imagePullPolicy: Always`

[2019-03-27 17:40] dubee commented on #299
The optional pull policy override sounds like the way to go.

[2019-03-27 17:40] dubee commented on #299
/assign @aslom

[2019-03-27 19:12] aslom opened #302 "Kafka source should check that required bootstrapServers is in yaml"
## Expected Behavior

Validate yaml and print useful error message when required parameters are missing

If the field is misnamed or missing then it is connecting to "" and failing with not obvious error ...

## Actual Behavior

[code]

## Steps to Reproduce the Problem

  1. Rename or remove bootstrapServers field form kafka source config
  2. Follow steps descrined in README in https://github.co

[2019-03-27 19:13] aslom commented on #302
@dubee @matzew Is there some schema/validation tool for yaml config files? It would be great to automatically validate config and print useful messages before using invalid config.

[2019-03-27 19:15] aslom commented on #302
The same happens to misnamed topics but error message is better

[code]

[2019-03-27 19:57] lionelvillard commented on #299
@aslom this is typically done using Kustomize: https://github.com/kubernetes-sigs/kustomize

[2019-03-27 20:07] bbrowning opened #304 "Sources should not ignore failures when POSTing to sinks"
## Expected Behavior
A source's receive adapter should not ack (whatever form this takes - commit offsets, responding with HTTP 200, etc) receiving of an event unless it successfully POSTs that event to the Sink.

## Actual Behavior
Several of the sources ack receipt of the event and then subsequently log a message but otherwise drop events entirely if POSTing of the event to the sink fails.

## S

[2019-03-27 20:09] bbrowning commented on #304
/kind bug

[2019-03-27 20:19] bbrowning commented on #299
Why make this an option instead of just changing it from `Always` to `IfNotPresent`? Won't this reference an image reference be an image digest once we cut a release, and thus `IfNotPresent` sufficient?

[2019-03-27 20:21] bbrowning commented on #299
Since my last comment discusses implementation, copying it over to the PR where we can discuss there.

[2019-03-27 21:13] Harwayne opened #305 "Missing name in the ContainerSource's sink causes the controller to panic"
## Expected Behavior
The `ContainerSource` gets a failing status with a good explanation.

## Actual Behavior
The controller crash loops.

## Steps to Reproduce the Problem

  1. Deploy

[code]

  2. Get the controller's logs:

[code]

## Additional Info

Logs from the failed controller

[code]

[2019-03-27 21:16] aslom opened #306 "Out of order events in events-display"
## Expected Behavior

Events should be received in order they are sent (consumed) form Kafka topic

I tested with Kafka Strimizi installation:

[code]

This is correct order: test, test992, test993

## Actual Behavior

Message are received by Kafka source and sent in correct order:

[code]

but not in

[code]

Note test992 is before test message and notice offsets and timestamps:

[code]

## Steps

[2019-03-27 21:27] Harwayne commented on #305
/kind bug

[2019-03-27 21:53] matzew commented on #304
I will take a shot on the Kafka src

[2019-03-28 14:20] lberk commented on #291
Just an FYI, I'll be taking a look at this over the next day or two to add

[2019-03-28 15:22] matzew commented on #291
Coolio - one thing to - perhaps - keep in mind is: let's not start vendoring of yamls for a specific release.

IMO this guide should be linked:
https://strimzi.io/quickstarts/minikube/

and assumed this has been installed, to than explain, how to use the src w/ strimzi on your cluster!

[2019-03-28 17:37] aslom commented on #291
I used that guide for strimzi installation and testing kafka event source with minikube and standalone k8s.

Here is the config I used
[code]

The biggest non-obvious issue for me was need to add ".kafka" which is different bootrap server name than used in the guide.

[2019-03-28 18:06] matzew commented on #291
yes, that should be captured in text.

E.g. install strimzi, like here -> link

Now, when installed, here is what to put into the source config.

@lberk is on this

On Thu, Mar 28, 2019 at 6:37 PM Aleksander Slominski <
notifications@github.com> wrote:

--
Matthias Wessendorf

github: https://github.com/matzew
twitter: http://twitter.com/mwessendorf

[2019-03-28 23:19] matzew commented on #304
/reopen

On Thu 28. Mar 2019 at 23:03, Knative Prow Robot <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-03-28 23:22] matzew commented on #304
only parts where addressed

On Fri 29. Mar 2019 at 00:19, Knative Prow Robot <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-03-29 00:25] evankanderson commented on #210
/kind feature-request

Thanks for letting us know! A few tips to make the process smooth:

* Please prepare these to go into `contrib` with a separate yaml install.
* In the future, we may end up creating OWNERS for each directory matching `contrib/*` so that each contributed system has specific maintainers.

[2019-03-29 10:24] nerusnayleinad opened #330 "gcppubsubsource won't get deleted"
I made a test yesterday with knative eventing (pubsub), which failed, and now I can't delete gcppubsubsource object from my cluster. It is just stuck there.

I tried forcing it, but nothing. I end up deleting the cluster.

[2019-03-29 17:14] syedriko opened #314 "If a sink does not exist at the time of source creation, it may take a while for the source to notice the sink's existance"
## Expected Behavior
A source notices creation of its sink as soon as possible.

## Actual Behavior
A source relies on retries with exponential backoff to notice existence of its sink. The intervals between retries may eventually grow quite long, leading users to think the source is 'broken'.

## Steps to Reproduce the Problem
Follow the https://github.com/knative/docs/tree/master/docs/eventing/sa

[2019-03-29 17:36] syedriko commented on #314
An example of a PR where the order of creation steps had to be changed because it was though that the sink must exist before the source can be created https://github.com/knative/eventing-sources/pull/290

[2019-03-29 18:17] aslom commented on #302
I have tested possible error situations with latest code

For empty strings we get nice validations errors now:

[code]

[code]

However if actual parameters (`bootstrapServers` and `topics`) are missing it deploys with no error:

[code]

[code]

and controller fails to create receive adapter with non-descriptive errors

[code]

If I remove placeholder fields then receiver is created but it keeps

[2019-03-29 18:26] bbrowning commented on #314
/kind bug
/assign syedriko

[2019-03-29 18:28] bbrowning commented on #314
Sergey pinged me on Slack that he'd like to work on this, so assigning to him.

[2019-03-29 18:45] evankanderson commented on #302
/kind bug

[2019-03-29 22:16] bbrowning opened #320 "Kafka Source creates unbounded goroutines on topics with many messages"
## Expected Behavior
The Kafka Source should be able to consume messages from a Kafka topic with many thousands of messages without error.

## Actual Behavior
The Kafka Source creates a new goroutine for every message it consumes from every partition of a topic. If you dump a lot of messages into a topic, this ends up creating so many goroutines that you start running out of OS level resources - s

[2019-03-31 10:50] nak3 opened #323 "RFE: KafkaSource(Kafka consumer) should have a way to specify CA to connect broker over TLS"
## Expected Behavior

KafkaSource(Consumer) should have a setting to load CA to connect broker over TLS.

## Actual Behavior

Although `KAFKA_NET_TLS_ENABLE` is already implmented, CA for broker cannot be specified. Hence, we need to re-build container image and include CA for broker as system's Root CA.

## Additional Info

Kafka channel is WIP - https://github.com/knative/eventing/pull/957

[2019-03-31 17:03] sebgoa opened #324 "We should add a label per source type"
It would be great to add a label to show which source an issue applies to.

Maybe:

`source/github`
`source/kafka`
`source/awssqs`

etc....

[2019-04-01 01:39] duglin opened #325 "Add support for a urlPath to Sinks"
Right now EventSource `Sink`s are of type `corev1.ObjectReference`. This assumes that the sink wants to, and can ,process the incoming event at a URL path of `/`. This may not be ideal for all cases, in particular when the same service supports multiple types of calls/APIs/subscriptions. It would be nice if sinks took an optional `urlPath` type of parameter to allow people to send events to their

[2019-04-01 19:42] lberk opened #328 "stop logging user information, raw messages in Kafka event-source"
## Expected Behavior
Setting up the kafka event-source shouldn't leak user/password combinations as well as log actual message contents (imagine if that was sensitive content) outside of the intended sink.  General configuration and metadata makes sense to log.

## Actual Behavior
Running through the Apache Kafka [README](https://github.com/knative/eventing-sources/blob/master/contrib/kafka/sample

[2019-04-01 20:20] evankanderson commented on #330
/kind bug

[2019-04-01 20:20] evankanderson commented on #330
Can you provide the YAML of the GCPPubSubSource object? (Feel free to obscure name/project/secret strings as needed.)

[2019-04-01 23:01] evankanderson commented on #328
/kind bug

[2019-04-02 15:30] bbrowning commented on #274
It's unclear at what point we need to scale above 1 receive adapter, since the receive adapter doesn't do much work itself and is really just the thing that passes messages along to the sink. There is undoubtedly a number of topic partitions and message throughput where we need more than 1, but I don't know what that is.

Perhaps as a stop-gap, we should let users manually specify the number of re

[2019-04-02 15:31] matzew commented on #320
/kind bug

[2019-04-02 15:35] matzew opened #331 "Missing containers for some sources"
## Expected Behavior

images matching the `/cmd` structure on the `knative-nightly`

## Actual Behavior

not matching.

## Steps to Reproduce the Problem

  1. go https://console.cloud.google.com/gcr/images/knative-nightly/GLOBAL/github.com/knative/eventing-sources/cmd?gcrImageListsize=30
  2. go https://github.com/knative/eventing-sources/tree/master/cmd
  3. note that the following are missing

[2019-04-02 15:35] matzew commented on #331
/kind bug

[2019-04-02 16:20] grantr opened #332 "Kafka adapter uses the fallback logger"
Looked into this a bit now.  Yes, that's what the logs look like.  It appears that both prior logging messages and current ones are using the fallback logger (which is why we have the extra output).

Testing this quickly locally by commenting out the
`logger := logging.FromContext(context.TODO())`
line and adding in
[code]
Seems to produce the logging format you describe.

May I suggest that, due

[2019-04-02 16:21] grantr commented on #332
/kind bug

[2019-04-02 18:48] #328 closed

[2019-04-02 19:26] #291 closed

[2019-04-02 21:23] Justin2997 opened #335 "DEVELOPMENT.md is outdated"
## Expected Behavior
For example, event-source start moving to `contrib/`, but the documentation say to run `ko apply -f config/ `.

## Actual Behavior
Update DEVELOPMENT.md page

## Additional Info
https://github.com/knative/eventing-sources/blob/master/DEVELOPMENT.md#installing-a-source

[2019-04-02 21:24] Justin2997 commented on #335
/kind bug
/kind chore

[2019-04-02 21:24] Justin2997 commented on #335
/kind chore

[2019-04-03 10:11] daisy-ycguo commented on #210
I'm co-work with @Justin2997 on this issue. The latest progress can be check in the master branch of this repo: https://github.com/Justin2997/eventing-sources.

[2019-04-03 14:01] lberk commented on #332
/assign @lberk

[2019-04-03 15:43] aslom commented on #274
Do you have a test scenario for it? Should we also have a way to throttle output from receive adapter so it does not start too many events?

[2019-04-03 18:01] aslom opened #339 "Allow to set imagePullPolicy for knative sources"
## Expected Behavior

It should be possible to set imagePullPolicy for receive adapters that are managed by knative sources

## Actual Behavior

Either imagePullPolicy is not set or it is hardcoded

## Steps to Reproduce the Problem

  1. Run any knative source and deploy configuration
  2.Look what is image pull policy if any set in receive adapter
  3.

## Additional Info

There is common patter

[2019-04-03 18:03] aslom commented on #339
This issue came for Kafka source
https://github.com/knative/eventing-sources/pull/303#issuecomment-479523925

[2019-04-03 20:26] bbrowning commented on #274
I don't have a specific test for receive adapter scaling yet, although I do have a running system that I'm doing some load tests on using the Kafka source. The receive adapter pod is not yet a bottleneck in my system, but I'm also not testing on a huge cluster.

As far as throttling output from the receive adapter, it will only send one event at a time from each Kafka topic partition. So if you du

[2019-04-03 23:19] akashrv commented on #325
https://github.com/knative/pkg/pull/362#issuecomment-479692177

[2019-04-04 00:18] evankanderson commented on #339
/kind feature-request

[2019-04-04 03:46] n3wscott opened #340 "Add a control plane container option to container source."
Two containers, one for data plane and one for control plane. We did something like this with the feedlet and feed.

The control plane container should be a job that can be set to setup or teardown mode via envvar.

[2019-04-04 03:46] n3wscott commented on #340
/proposal
/feature

[2019-04-04 03:54] n3wscott opened #341 "Move Fundamental Sources to Eventing Core"
_Originally posted by @n3wscott in https://github.com/knative/eventing-sources/pull/337#issuecomment-479526635_

TODO: Define Fundamental Sources. Like, the building blocks of other sources.

- Container Source
- others?

[2019-04-04 03:54] n3wscott commented on #341
/cc @matzew

[2019-04-04 08:47] matzew commented on #272
@Fredy-Z  does this related to your https://github.com/knative/eventing/pull/976 PR ?

will it share code or do a similar attempt to have some "generic framework" for doing e2e tests for the sources ?

[2019-04-04 11:01] matzew commented on #341
Moving the "ContainerSource" controller over is a good point. However sources that are usable as "container source image" (e.g. WebSocket) would still feel natural here

[2019-04-04 12:24] bbrowning commented on #320
This was fixed by #322

[2019-04-04 12:24] #320 closed

[2019-04-04 12:34] bbrowning opened #342 "Maximum throughput in receive adapters limited by poor HTTP connection handling"
## Expected Behavior

A receive adapter pod should be able to sustain a reasonably high rate of throughput (let's say 1,000 events per second) without throwing errors.

## Actual Behavior

Receive adapter pods start throwing errors after less than a minute of sinking 1,000 events per second.

## Steps to Reproduce the Problem

  1. Create a receive adapter that uses our standard kncloudevents libr

[2019-04-04 12:39] matzew opened #343 "Eventing Sources framework/API"
## Expected Behavior

It should be really simple to write sources. Ideally a source author would have not much to deal with the "infrastructure" that runs the source (e.g. kubebuilder).

Ideally a author would provide some arguments that are manifested in the CRD, and will be provided as config object to some handler, that implements a simple lifecycle.

The lifecycle would offer the author to per

[2019-04-04 12:39] matzew commented on #139
This is a duplicate of knative/eventing#702

[2019-04-04 12:39] #139 closed

[2019-04-04 12:56] matzew commented on #343
Possible API for such a handler:

[code]

[code]

[2019-04-04 12:59] matzew commented on #343
/cc @n3wscott

[2019-04-04 14:51] alanconway commented on #343
I did some prototyping of this at

https://github.com/alanconway/lightning

I came at this from the messaging perspective: how to reduce duplication and minimise effort to build AMQP an MQTT event transports. I was quite ignorant of knative at time of writing, it needs a total rewrite to fit with established CNCF and knative APIs. However if you ignore the packaging, terminology and duplication, I

[2019-04-04 16:11] aslom commented on #343
That would help with developer experience especially consistency in configurations for example
https://github.com/knative/eventing-sources/issues/339

[2019-04-04 17:09] vaikas-google commented on #343
This is definitely something that's timely as we've now done quite a few of these as a community, so we've learned quite a few patterns and as usual, it's best to abstract those patterns. I'm personally very interested in this area, so yay!
I view there being roughly 3 areas that are typically required for a given source. Some of these don't apply in all cases, but roughly these buckets imho need

[2019-04-04 17:11] vaikas-google commented on #343
Oh, and having a Standard Cloudevents Ingress which is in the works, is a great first step for the Data Plane for Push based ones, and as more and more authoritative sources emit Cloud Events the one obvious plugin to that Ingress would need to be Auth.

[2019-04-04 17:14] rprakashg opened #344 "Slack event source"
We have a lot of workflows driven off of slack and have a need for a slack Knative event source to forward events from our Slack workspaces to addressable HTTP targets. This should enable the development of slack apps as Knative services.

[2019-04-04 17:36] evankanderson commented on #344
/kind feature-request

This should go into `contrib/` if we have people who want to work on and maintain it. It could also live outside the repo in a vendor's repo if someone wants to sponsor it.

[2019-04-04 17:40] rprakashg commented on #344
I've started work on this.

[2019-04-04 21:28] alanconway commented on #343
@vaikas-google I agree with your breakdown. It is a layering problem:  to date I have focussed on the layers *inside* a process that (maybe) gets deployed in kubernetes. The "API" I'm referring to is a Go  library API, not a kubernetes API -  the  model could be expressed in any language but Go seems like a sensible starting point.

The main layer inside the process is a generic abstraction for Ev

[2019-04-05 00:40] n3wscott commented on #343
Also, I think there could be room for more than one of these frameworks. A simple one for simple sources, a spec to implement for very complex ones, and a middle ground.

[2019-04-05 15:18] alanconway commented on #343
The big benefit of layering is we can have both: a *transport* implementation can be as simple or complex as the transport requires, it is not itself a k8 Source  - just a library that implements Message, Sender and Receiver interfaces.

Building a k8 Source executable is a separate exercise: the simplest source just shovels events unreliably from Receiver to a Sender. A full-featured source might

[2019-04-08 15:24] n3wscott commented on #344
I have done some work on this too: github.com/botless/slack

[2019-04-08 15:26] n3wscott opened #352 "Eventing Sources assume a webhook like eventing/serving, there is none."
## Expected Behavior

A `pkg/webhook` style `webhook` is registered and run on known types.

## Actual Behavior

eventing sources deploys no webhook.

[2019-04-09 05:51] daisy-ycguo commented on #341
+1.

I think we should also move different kind of sources to separated folders, not mixing them together, just as several sub folders under `contrib`.

There is no differences between github event source and kafka event source. Github event source is with the same folder structure of k8s event source, cron job event source and etc, while kafka event source is under `contrib` folder with gcppubsub

[2019-04-09 11:49] matzew commented on #331
@n3wscott mind take a look here ?

[2019-04-09 11:51] matzew commented on #341
Perhaps the main propose for this repo is to be the home of `contrib` sources?

E.g. move all core bits to the eventing-core repo?

and each of the remaining sources is getting their own single "release" yaml? (e.g. kafka.yaml, github.yaml)

[2019-04-09 15:07] n3wscott commented on #331
This is in the sample dir,

See: samples/sources_v1alpha2_websocketsource.yaml

It is not in the release.

[2019-04-09 15:09] n3wscott commented on #331
| awssqs_source

Also in the sample dir: https://github.com/knative/eventing-sources/blob/6c13100ca5708a4397b4ec59033b2f6376dbc48d/samples/awssqs_source/README.md

Also not in the release.

[2019-04-09 15:21] #335 closed

[2019-04-09 15:42] n3wscott commented on #341
What do you think if the repo was renamed `eventing-contrib` and it could contain both sources and channel impls of contrib versions.

[2019-04-09 15:44] n3wscott commented on #325
/cc @akashrv

[2019-04-09 15:45] n3wscott commented on #324
Ah, this is for the github issues and PRs. From the title it seemed like for k8s

[2019-04-09 15:48] n3wscott commented on #306
There was a bug in the cloudevents SDK that was fixed in version `0.4.4` where if custom headers were used, they would start stacking. And the receiver is given a list of all event values. I wonder if this bug is being manifested here.

Can you please try this again with the 0.5 release of Knative?

[2019-04-09 15:49] n3wscott commented on #342
Set the required values directly in the http client inside the cloudevents sdk http transport object that is given to the cloudevents client.

[2019-04-09 15:52] n3wscott commented on #288
It turns out that both of those are not required because controller runtime passes a deepcopy from the client call.

https://github.com/kubernetes-sigs/controller-runtime/blob/abf0c072c7038f95bd88c8770679a98203be3743/pkg/cache/internal/cache_reader.go#L75

[2019-04-09 15:53] n3wscott commented on #267
/close

this is just a demo for developers to play with container source.

[2019-04-09 15:53] #267 closed

[2019-04-09 19:01] matzew commented on #341
that is an interesting though (not sure on the name)

Also code share is possible (or easier), w/o knative/pkg

every channel has receiver/consumer and sender/producer. the
receiver/consumer but is also in the src (e.g kafka src / kafka ccp)

On Tue 9. Apr 2019 at 17:48, Scott Nichols <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-04-10 02:00] daisy-ycguo commented on #341
I prefer to putting channels in a different repo from event sources, because they are different concepts, although they are all contributed by third parties.

My understanding to this feature quest is to have eventing core team maintain the core code of eventing, and third party contributors maintain their own contributions. It's a good idea. Now there are many sources contributions coming but onl

[2019-04-10 18:54] dubee commented on #342
@bbrowning, I've observed the same problem when performance testing the Kafka event source.

[2019-04-10 19:36] dubee commented on #342
@n3wscott, @bbrowning, should this issue be open in this repo? Tried to set `MaxIdleConns` and `MaxIdleConnsPerHost` from the event source, but wasn't able to figure it out as the `Transport` struct in `cloudevents` client differs from the `Transport` struct in `net/http`.

[2019-04-10 22:45] rprakashg commented on #344
@n3wscott Looks like you are way ahead of where I am at. LMK if you need any help. I was using Slack events API I see you are using the RTM way.

[2019-04-10 23:25] Harwayne commented on #332
My suggestion is to follow the pattern that is common in knative/eventing.

1. Create a `zap.Logger` in `main()`.
1. Save that Logger as a field on each reconciler.
1. The very first thing that is done after a request is received by the reconciler, it stores the logger in its context:
[code]
1. Everywhere else use `logging.FromContext(ctx)` to get the Logger.

knative/eventing's Trigger controller

[2019-04-10 23:30] Harwayne commented on #332
Actually what is likely even better, given that these all use the SDK is to only do the above steps for the SDK's `Reconciler`.

I think adding the line
[code]
[here](https://github.com/knative/eventing-sources/blob/1ae16422a1b66b1432efc6e81bcf723106164373/pkg/controller/sdk/reconciler.go#L49) would fix the existing ones immediately.

Note that this will require saving the Logger to the Reconciler

[2019-04-11 00:31] bbrowning commented on #342
We'll need to update to a newer cloudevents/sdk-go version to be able to pass a custom HTTP client in to the CloudEvents Transport. However, the newer releases exacerbate this issue because they explicitly ask every http client request to close meaning we never get connection reuse. Once we get a fixed release of cloudevents/sdk-go we can fix this properly.

In the meantime, this could be worked a

[2019-04-12 12:27] bbrowning commented on #342
/assign

cloudevents/sdk-go#110 is the PR to fix this behavior in cloudevents/sdk-go - once that gets merged and released, we can pull in the updated library and add a similar test + fix here so that our `kncloudevents.NewDefaultClient` is configured for this scenario out of the box.

[2019-04-12 13:25] Justin2997 commented on #210
PR open here : https://github.com/knative/eventing-sources/pull/336

[2019-04-16 02:11] matzew commented on #331
yes. Do you feel we should release the AWSSQS and WEBSOCKET sources?

[2019-04-16 02:19] matzew commented on #331
I think the AWSSQS should be moved to `contrib` ...

[2019-04-16 20:49] #332 closed

[2019-04-17 17:15] aslom commented on #302
Fixed by https://github.com/knative/eventing-sources/issues/302

[2019-04-17 17:15] #302 closed

[2019-04-17 17:15] aslom commented on #299
Fixed by https://github.com/knative/eventing-sources/pull/303

[2019-04-17 17:15] #299 closed

[2019-04-17 20:05] nachocano opened #363 "Add subject context attribute and update source"
Given that [subject](https://github.com/cloudevents/spec/blob/master/spec.md) got approved in the CloudEvents spec, we should start using it.
With this, we will be able to 'split' the previous `source` into `source` and `subject`.
Example:
* Prior to the change
  * `source = https://github.com/cloudevents/spec/pull/123`
* After the change:
  * source = `https://github.com/cloudevents/spec/pull`

[2019-04-17 20:05] nachocano commented on #363
/assign

[2019-04-18 06:14] matzew opened #364 "Kafka Source: add support for the Kubernetes resources spec,"
## Expected Behavior

in the `CR` file I am able to set values to _Managing Compute Resources for Containers_, like:

* `resources.limits.cpu`
* `resources.limits.memory`
* `resources.requests.cpu`
* `resources.requests.memory`

which would than delegate to the underlying k8s resources spec, as:

* `spec.containers[].resources.limits.cpu`
* `spec.containers[].resources.limits.memory`
* `spec.conta

[2019-04-18 06:14] matzew commented on #364
/assign matzew

[2019-04-18 15:10] dubee commented on #342
Related to CloudEvents update here: https://github.com/knative/eventing-sources/commit/7163c85a1513fee64a42b9d57a300644e92266d2.

[2019-04-22 18:53] grantr opened #366 "Namespace of sink specified in GitHubSource is ignored"
## Expected Behavior

If I specify a sink in another namespace, I can deliver from a GitHubSource to that sink.

## Actual Behavior

The namespace specified in the sink ObjectReference is ignored, and the source's namespace is used instead. This leads to a confusing "sink not found" error.

## Steps to Reproduce the Problem

  1. Create a Service in `ns2`
  2. Create a Source in `ns1` with `ns2` S

[2019-04-23 16:23] n3wscott commented on #341
They are different concepts using the same tech, it would benefit the maintainers of those implementations to have the two side by side.

[2019-04-24 13:46] matzew commented on #364
Code for Kafka lives here, for instance:

https://github.com/knative/eventing-sources/blob/master/contrib/kafka/pkg/reconciler/resources/receive_adapter.go#L58-L62

[2019-04-24 14:05] n3wscott commented on #341
## TODO:

Migrate controllers to `pkg/controller` and move to eventing:

[ ] - cronjobsource - [api](https://github.com/knative/eventing/pull/1087), [reconciler](https://github.com/knative/eventing/pull/1092) (scott)
[ ] - kuberneteseventsource
[ ] - containersource

[2019-04-25 21:54] n3wscott opened #372 "[Proposal] Rename knative/eventing-sources to knative/eventing-contrib"
## Background

As Knative becomes a managed solution by a few cloud-venders, the definition of what "core" Knative Eventing is getting refined. We are currently thinking Knative Core is the minimum set of things that create a working system. Build, Serving and Eventing should work independently but they should also work together really well. In an effort to standardize the control plane, we have m

[2019-04-26 17:46] evankanderson commented on #372
This probably needs to got to the TOC, though I suspect it will be approved.

It would be good to have clear definitions of what is "foundational" in the `knative/eventing` repo, and a clear organization in `knative-contrib` such that it is clear what the bar is, and whether the bar may move  ("rising tide") as test, etc practices improve.

[2019-04-29 19:52] nachocano opened #380 "Decide whether to use GenerateName for creation of EventTypes in Source controllers"
Need to decide whether we are going to use generateName for the creation of EventTypes in source controllers. This came up in the Registry design discussion and will be tracked here.

https://github.com/knative/eventing-sources/pull/300 does use generateName.

[2019-04-29 19:52] nachocano commented on #380
/assign

[2019-04-29 20:04] nachocano commented on #380
IMO we should use `generateName` for EventTypes to avoid naming collisions whenever code creates the EventTypes, e.g., in source controllers.

If we don't use `generateName`, we can easily have collisions when multiple CO are instantiated. For example, when two GitHubSource COs are created, both hooking on "pull_requests" but from different repos, if we don't use `generateName`, then we won't be a

[2019-04-29 20:30] nachocano commented on #380
@csantanapr do you still think `generateName` to be a problem?
what about you guys @vaikas-google @Harwayne @grantr ?

[2019-05-01 20:48] grantr opened #388 "EventType Reconciler"
What about inverting the relationship between the type reconciler and the source reconciler? Have the type reconciler embed the source reconciler as an interface exposing only the methods it needs. Something like:

[code]

Because it's added to the manager directly, the type reconciler can implement `InjectClient` and `InjectScheme` and there's no need to copy them from the source reconciler. The

[2019-05-01 21:47] nachocano opened #389 "Aggregated rules for EventTypes"
Would it be useful to look at using aggregated rules for EventTypes?
@Harwayne has been thinking about this from the Channel side, but seems like we might be able to use the same concept here

[2019-05-01 21:49] nachocano commented on #389
/assign @nachocano

[2019-05-01 21:54] Harwayne commented on #389
Is this talking about an aggregated `ClusterRole` or `Role`? If so, what permissions need to be aggregated?

[2019-05-01 22:03] nachocano commented on #389
`ClusterRole`... See https://github.com/knative/eventing-sources/blob/28164c8817f0ed11a86637f7c5e1d7710eb39bcc/config/201-clusterrole.yaml#L97

Came from a comment in the review of https://github.com/knative/eventing-sources/pull/300. Created this issue to track it in a potential follow up

[2019-05-01 23:43] nachocano opened #390 "Revise how we are adding the API schemes"
[code]

I'm not sure either of these are correct. Don't the `addtoscheme` files generally add _the current package_ to the scheme builder? See [this generator from the operator framework](https://github.com/operator-framework/operator-sdk/blob/master/internal/pkg/scaffold/addtoscheme.go). Both this file and the one in master are pulling in external types, which seems incorrect. IMO wherever the sc

[2019-05-02 16:29] matzew commented on #364
/assign @lberk

[2019-05-02 16:44] lberk commented on #364
heh, well, despite the lack of formal prow-bot assignment, I've started looking into this issue! :)

[2019-05-03 18:33] nachocano commented on #380
As I haven't heard back from folks, I went ahead an implemented it with `generateName` for the reasons stated above. If there are any strong objections, we can revisit this later on.
Closing this issue for now and linking it to the Registry issue https://github.com/knative/eventing/issues/929

[2019-05-03 18:34] #380 closed

[2019-05-04 00:23] lindydonna opened #393 "In GcpPubSubSource, map fields to cloud events"
When using `GcpPubSubSource` and the `event-display` service, you get the following payload:

[code]

Note that the data payload is Base64 encoded. A better user experience is for the event source to decode the `Data` field and to map the properties up to the cloud event (where relevant). In principle this could be done in a function framework, but it's better to move this logic up to the event so

[2019-05-04 00:24] lindydonna commented on #393
/assign n3wscott

[2019-05-06 15:01] matzew opened #394 "No hardcoded sidecar injecton"
From @bbrowning:

We shouldn't be hardcoding sidecar injection in our eventing source receive adapters - users need a way to toggle that on/off or we don't add the istio sidecar annotation at all.
Under load I found that we had to disable the sidecar from our kafka receive adapter to get acceptable performance. But that means hand-editing the Deployment after it gets created by the kafka source co

[2019-05-06 15:01] matzew commented on #394
/assign @matzew

[2019-05-06 19:38] n3wscott commented on #372
Any other comments?

[2019-05-07 02:00] nachocano commented on #389
Closing for now as per @Harwayne [comment](https://github.com/knative/eventing-sources/pull/300#discussion_r280242055). May revisit later on if it makes sense to add aggregated roles.

[2019-05-07 02:00] #389 closed

[2019-05-07 09:31] matzew opened #400 "Changing data in Kafka Source has no effect"
## Expected Behavior

updating the kafka source, e.g. adding a second topic, it recreates the pod and sets up all correctly

## Actual Behavior

change is ignored

## Steps to Reproduce the Problem

  1. create source w/ one topic and run it
  2. change it to have two topics
  3. see the issue

## Additional Info

Editing other sources (e.g. `Cronjob`'s schedule/data), the change is visible, and a

[2019-05-07 16:01] alanconway commented on #343
I'm currently working on the following approach - hope to have have something of POC quality for review in a few days:

Domain expert provide a cloudevents.transport.Transport implementation:
 - connects to domain, converts between domain messages and CE events.
 - includes a JSON-unmarshallable struct for transport configuration

The framework consists of:
 - a fully functional generic eventing s

[2019-05-07 17:21] lionelvillard commented on #372
just renaming `knative/eventing-sources` will break links in the documentation. This is already the case for moved sources to `knative/eventing`. What about archiving `knative/eventing-sources`?

[2019-05-07 18:50] evankanderson commented on #372
Good point -- it sounds like the proposal should address:

1. What the bar is for inclusion in `knative/eventing`.
2. What the bar is for inclusion in `knative/eventing-contrib`.
3. How the process may evolve over time (guidance for contributors).
4. What work needs to be done beyond source code (docs, release process, ???) to make this happen.

[2019-05-07 21:08] grantr opened #402 "Rename Event Sources"
:bike: :derelict_house:

### Problem

The name `Event Source` has caused a lot of confusion. The word "source" could refer to multiple concepts:

A. The schema authority that defined the event format (the `GitHubSource` CRD).
B. The specification of an event ingress (the instantiated `GitHubSource` object).
C. The process(es) that generated the CloudEvent on the wire (the `GitHubSource` receive ad

[2019-05-07 22:37] meteatamel commented on #402
+1! Definitely agree that `Source` is confusing and `Importer` is better. Could `Sink` be considered as well? `GitHubSink` vs. `GitHubImporter`, not sure which one is better.

[2019-05-07 22:48] grantr commented on #402
`Sink` is often used informally to refer to the Addressable target of an ObjectReference, so I think it could also be confusing, but I added it to the list of options above. Thanks for the suggestion @meteatamel!

[2019-05-07 23:14] evankanderson commented on #402
I would like (but have not had a chance to experiment with) the possibility of also shipping {event -> work} targets, like an endpoint which takes a blob upload event and performs a transcode or NLP processing in a fixed-format way. I'd suggest that we leave `Sink` for packaged functionality on the consuming side of the event pipeline, rather than the sending side.

[2019-05-08 01:38] #363 closed

[2019-05-08 16:12] matzew commented on #402
What's wrong w/ `Adapter` ?

[2019-05-08 16:26] csantanapr commented on #402
I think "Event Source" is fine an alternative might be a "Event Feed" or "Event Provider"

[2019-05-08 16:28] csantanapr commented on #402
A. The schema authority that defined the event format (the GitHubSource CRD).
new name "Event Provider"
B. The specification of an event ingress (the instantiated GitHubSource object).
new name "Event Feed"
C. The process(es) that generated the CloudEvent on the wire (the GitHubSource receive adapter pod or deployment).
new name "Event Source"

[2019-05-08 16:49] alanconway commented on #402
I vote *emitter* because:
1. These things emit events
2. There is nothing else we want to say about them.
3. "Emitter" is already associated with events - Node.js

source/producer/generator imply the events originated from this thing
importer/adapter/feed/relay/bridge imply this thing is forwarding events from "somewhere else"

"emitter" implies only that this thing emits events. It says nothing a

[2019-05-08 17:38] matzew commented on #402
especially importer is confusing for me, tbh

On Wed 8. May 2019 at 18:49, Alan Conway <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-05-08 20:20] csantanapr commented on #402
-1 to “importer”

@alanconway I like the term “Emitter”
I’m guessing you proposing “Event Emmiter” for B right? So what do we name A and C?

[2019-05-09 20:00] alanconway commented on #402
On Wed, May 8, 2019 at 4:20 PM Carlos Santana <notifications@github.com>
wrote:

A: CRD. Or "Emitter CRD" if you need to be specific.
B: Emitter
C: Is an implementation detail, it should be named appropriately for the
implementation. Most existing sources use "receive adapter" which is fine,
but won't always be appropriate. camelsource doesn't have a "receive
adapter" - it instantiates an whole ne

[2019-05-10 19:33] evankanderson commented on #402
I'm fine with "emitter", but there's actually one extra case that we should probably distinguish, which is what we've called the white-box case:

F. A system which is directly submitting events based on hard-wired code, rather than Kubernetes configuration.

In the "Mike's Login Service" formulation from our discussion in December, there is a microservice which performs user authentication and wis

[2019-05-10 21:03] grantr opened #410 "GitHubSource doesn't support non-Addressable sinks"
## Expected Behavior

I can create a GitHubSource that targets a Kubernetes Service.

## Actual Behavior

GitHubSource only supports a sink that is an object reference to an Addressable. The `GetSinkURI` function needs to special case Kubernetes Service also: https://github.com/knative/eventing-sources/blob/master/pkg/controller/sinks/sinks.go

We should also consider adding this to the equivalent

[2019-05-10 23:32] #410 closed

[2019-05-11 20:08] vaikas-google commented on #402
I also like "emitter"

[2019-05-11 20:17] csantanapr commented on #402
The emitter emits cloud events to broker, broker routes the event to a trigger

Thing that produce events in any format not necessarily cloud events (blackbox)

Code in a service that produce events (whitebox)

Both thing or code are event producers

Event producers can go thru or work with an event emitter to get to the broker.

[2019-05-13 01:32] alanconway commented on #402
On Sat, May 11, 2019 at 4:17 PM Carlos Santana <notifications@github.com>
wrote:

I think this works well - "producer" is the most generic term: anything
that can open a HTTP connection and send CE requests is a "producer".
An "emitter" is a producer that is implemented as a k8 API object, and
follows some kn eventing conventions for configuration, discovery etc.

—

[2019-05-13 18:26] Harwayne commented on #393
The problem with always decoding is we don't know what should be sent downstream. Is it only a limited number of event types? All event types that are not on a banned list? Does the data of the event need to be validated against a schema to ensure only valid events are being sent? We brought this up in one of the later Type Registry meetings and different partners had different requirements.

@nac

[2019-05-13 18:32] Harwayne opened #418 "GcpPubSubSource should support GKE metadata"
## Expected Behavior

When deploying a `GcpPubSubSource` on GKE, I should be able to omit its `spec.gcpCredsSecret`. At which point the reconciler will use the key exposed by GKE on `http://metadata`.

## Actual Behavior

Failing to specify `spec.gcpCredsSecret` will cause the CO to either be rejected by the Webhook or never become Ready.

## Steps to Reproduce the Problem

  1. Create a GKE clust

[2019-05-14 13:03] #31 closed

[2019-05-15 16:50] grantr opened #423 "Move GitHubSource to contrib"
## Expected Behavior

Sources are organized and installed consistently. GitHubSource, like other sources, lives in `contrib/github` and is installed by applying `github.yaml`.

## Actual Behavior

All sources are in `contrib/<sourcename>` except GitHubSource which is in the root dir. All sources are installed with `<sourcename>.yaml` except GitHubSource which is installed with the inaccurately-nam

[2019-05-17 17:32] grantr opened #427 "Move irrelevant samples to eventing or delete them"
The https://github.com/knative/eventing-sources/tree/master/samples directory contains samples for CronJobSource, ContainerSource, and the heartbeats source (which uses ContainerSource). These sources moved to eventing so the samples should move as well. Or if we don't like these samples anymore, we should delete them.

/cc @n3wscott

[2019-05-18 11:59] n3wscott commented on #427
We should move them to docs

On Fri, May 17, 2019, 7:32 PM Grant Rodgers <notifications@github.com>
wrote:

[2019-05-19 10:35] toVersus opened #430 "AWS SQS sample not working"
## Expected Behavior

Startup awssqs-sample-source pod successfully.

## Actual Behavior

Failed to start awssqs-sample-source pod in Istio initialization phase.

[code]

## Steps to Reproduce the Problem

Kubernetes 1.12 (EKS)

  1. Install Istio with a manifest distributed by knative/serving v0.5.2

[code]

  2. Delete statefulset/controller-manager on knative-sources namespace
  3. Update Kanat

[2019-05-22 01:00] vincent-pli commented on #423
@grantr
I think I can help on this task, but I saw the `gitlib source` for `contrib` still pending: #382 , is that any specific reason?

[2019-05-22 09:20] matzew opened #436 "StatefulSet for Controller-Manager?"
Does the controller-manager need to be a `StatefulSet` ?

https://github.com/knative/eventing-sources/blob/master/config/500-controller.yaml#L16

Looking at the `sources-controller-manager`, that new in "eventing core", it's a `Deployment`:
https://github.com/knative/eventing/blob/master/config/500-sources-controller.yaml#L16

[2019-05-22 17:04] grantr commented on #423
Hi @vincent-pli! I'm hoping we'll be able to do more reviews once Kubecon is over this week.

I recommend holding off on this one since there might be some larger structural changes to make at the same time, and we need to consider how to do that.

/cc @n3wscott

[2019-05-22 17:47] lberk opened #437 "Update KafkaSource to use knative/pkg controller functions for reconciliation"
## Expected Behavior
Currently, Kafka uses the controller-runtime to update the `receive_adapter` as well as the underlying deployment.  Other sources have moved to using the `knative/pkg` model of reconciling the `deployment` or `receive_adapter`.  Kafka should do the same.

## Actual Behavior

Use `knative/pkg/controller` instead of the runtime-controller

[2019-05-22 17:47] lberk commented on #437
/assign lberk

[2019-05-22 21:39] evankanderson commented on #436
Good question -- I don't think we've tried running our controllers with
more than one replica yet!

I could imagine that StatefulSet could allow each Pod to act as controllers
for different parts of the namespace (so that one object doesn't get
controlled 5 times with a lot of conflicts if you're running 5
controllers), but I don't know if that actually happens.

On Wed, May 22, 2019 at 2:20 AM Ma

[2019-05-22 22:24] nicolaferraro opened #438 "Propagate annotations on Camel sources"
Currently annotations from CamelSources are not propagated down to child resources. This should be done to allow users to control things like Istio injection and configuration.

[2019-05-23 00:15] vincent-pli commented on #423
@grantr Got it, thanks

[2019-05-23 18:10] bbrowning commented on #274
I've successfully been able to autoscale Kafka receive adapters to and from zero by using https://github.com/kedacore/keda - demo video of that at https://vimeo.com/338067366 .

KEDA is still pretty early, but I think an interesting approach would be for the Kafka source to let users opt-in to autoscaling of the receive adapters by additional spec fields in the `KafkaSource` CRD. And, for those fi

[2019-05-23 21:15] grantr commented on #402
I do think it's important to have a name for a "B" that is **not** "D" or "F". IMO Emitter could reasonably refer to "B", "D", or "F", and then we haven't gained enough to justify the name change.

I think this is a documentation problem, not an API problem. Once the user understands what the concepts are it doesn't matter what the API calls them, but they can gain understanding quicker IMO if the

[2019-05-23 23:34] csantanapr commented on #402
I’m starting to like the fruit idea 🍅🥑🍍🍊🍓🍐🥝🍒🍌🍋🥥

[2019-05-24 02:17] syedriko commented on #314
https://github.com/knative/eventing/pull/1155 has been merged, closing this issue.

[2019-05-24 02:17] #314 closed

[2019-05-24 06:03] duglin commented on #325
should I move this to the eventing repo?

[2019-05-25 16:22] sebgoa commented on #339
related issue:

https://github.com/knative/eventing/issues/1272

[2019-05-27 20:19] lberk opened #443 "Update the boilerplate.go.txt year"
Working through some background knowledge, realised that the `hack/boilerplate.go.txt` was out of date.  Should be updated to 2019.

[2019-05-28 17:45] #443 closed

[2019-05-29 16:27] mikehelmick commented on #402
I would like to advocate for EventImporter as the name.

It describes to the end user / developer accurately what the job of the object is. The job is to take events from a producer (either via pull or push) and import them into the cluster (deliver to broker).

[2019-05-29 16:38] lindydonna commented on #402
+1 for EventImporter. We have been using the name to communicate among our team (such as during discussions of the security model https://github.com/knative/eventing/issues/705#issuecomment-496722527) and we found that people understood the concept very quickly.

[2019-05-29 19:00] alanconway commented on #402
On Wed, May 29, 2019 at 12:38 PM Donna Malayeri <notifications@github.com>
wrote:

I still like Emitter because it doesn't imply that the events are coming
from "outside". We have several sources that generate events, they don't
really "import" them: cronjobsource, knativesource, heartbeatsource.
"import" is a heavily loaded word in many programming languages (including
Go)

If we go that way then

[2019-05-29 19:31] matzew commented on #402
yeah... event importer is growing on me too!

On Wed 29. May 2019 at 21:11, Mike Helmick <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-05-29 21:46] grantr commented on #402
We discussed this at today's WG meeting. Here are the notes I took post-discussion:

- Several people like Importer because its role is immediately understandable.
- Importer implies pull, but some sources are push. Does the user care if sources are pull or push? Probably not.
- Feed doesn't imply pull or push, and that seems good.
- Emitter doesn't distinguish between formally specified sources a

[2019-05-29 21:50] grantr commented on #402
from "outside".

I think there's general agreement that a name that **does** imply events are originating from an external source is useful for the user. On the flip side, several people have pointed out that this implication could be confusing when applied to sources with no external component. Perhaps those should be in a different category with its own name?

[2019-05-29 22:26] evankanderson commented on #402
It seems like there are two different but mostly overlapping cases we're
trying to describe. I don't know whether there's enough difference here to
need one word or two:

1. "Packaged event emitters" which are declared via control-plane objects
(previously called "FooSource")
2. Bridging external systems which produce events into the cluster. Whether
something like the "apiserver etcd database" or

[2019-05-30 14:10] srvaroa commented on #430
@toVersus  can you confirm whether on "Update Kanative components to v0.6.0" you're updating *all* knative components (not just eventing-sources) and also which versions for them?  I've followed the steps you described and didn't get to the same error.

[2019-05-30 19:45] n3wscott commented on #372
The bar is that it is a fundamental component that will be used by the majority or workloads independent of transport choices (eventing and messaging components and the in-memory implementations). Or it is a sub-component that is foundational and intended to be built on-top of (in the case of cron source and container source).

These components will be high quality and strive to have unit test, in

[2019-05-31 03:13] toVersus commented on #430
@srvaroa Thanks for looking into this!
Yeah, I updated all the components (serving, eventing, build and eventing-sources) to v0.6.0 according to the [installation guide](https://knative.dev/docs/install/knative-with-any-k8s/#installing-knative). So, just applied the following manifests onto existing Knative v0.5.2 environment:

[code]

OK, it is good to hear that you didn't run into any problems.

[2019-05-31 08:56] evankanderson commented on #372
Thanks. We should probably include the explanation for #1 and #2 somewhere
in the root READMEs for the two repos.

On Thu, May 30, 2019 at 12:45 PM Scott Nichols <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-05-31 09:14] alanconway commented on #402
TL;DNR I'm ok with Importer.

On Wed, May 29, 2019 at 5:46 PM Grant Rodgers <notifications@github.com>
wrote:

bringing things across some "border". Whether they ride into foreign lands
to get the things, or wait for some foreigner to bring them is irrelevant.

format/protocol/system even if they're not coming from another network.

[2019-05-31 22:34] n3wscott commented on #402
To import things, I don't expect to have that inbound thing to be changed. Importer is confusing me.

[2019-06-03 16:31] nachocano opened #1478 "Webhooks for Channels"
**Problem**
With the move to channel CRDs, we will need to start creating webhooks for the different channel implementations, e.g., kafka, natss, etc. This comes with the burden of having many images laying around, which we have to maintain and cost money (as they typically use k8s Deployments).

A potential solution would be to have a Knative Service for these, so that they would scale to 0 and w

[2019-06-04 17:42] duglin commented on #423
Is someone working on this one?

[2019-06-04 21:11] grantr commented on #402
Thanks everyone for participating! It seems there is general agreement that Importer is at least acceptable, if not ideal. I'll write up a decision document and create a PR adding it to eventing's `docs/decisions` folder. I'll also open an issue in knative/eventing for tracking the nuts and bolts of the rename.

[2019-06-04 21:11] #402 closed

[2019-06-05 18:51] n3wscott commented on #341
/close

Done.

[2019-06-05 18:51] #341 closed

[2019-06-06 13:01] a-roberts commented on #216
This is definitely a problem and I see it 1/3 of the time.

The important pod that does webhook reconciliation, or at least reports on it (e.g. for a create or delete on GitHub ) is `controller-manager-0` sitting in `knative-sources`.

For ease of reading (omitting line numbers and other logging info), here are the logs.

Good delete:

[code]

Bad delete:

[code]

**Notice the not found error.**

[2019-06-06 19:27] evankanderson commented on #372
Approved by the TOC (Evan and Matt in-person, I know Ville wanted this too).

A list of items to check:

1. Prow setup
2. Docs links (versioned) when moving items beyond the repo rename.

[2019-06-06 19:32] rgregg commented on #372
Do you want to check these items first, or do should I proceed with renaming the repo and we can clean up after the rename?

[2019-06-06 21:10] n3wscott commented on #372
cleanup after.

-Scott

On Thu, Jun 6, 2019 at 12:32 PM Ryan Gregg <notifications@github.com> wrote:

[2019-06-06 21:24] rgregg commented on #372
Renamed.

[2019-06-10 06:44] vaikas-google commented on #55
I'm closing this because this has been fixed by using the podtemplatespec. Re-open if there's something else that's needed.
https://github.com/knative/eventing/pull/1321

[2019-06-10 06:44] #55 closed

[2019-06-10 06:45] vaikas-google commented on #339
Vlosed via:
https://github.com/knative/eventing/pull/1321

[2019-06-10 06:45] #339 closed

[2019-06-10 17:13] ryandawsonuk opened #453 "Is a Source needed? Is there a way to just send an event?"
I've a situation where a Custom Resource creates a multi-container Deployment (non-knative) and from one of the containers within this I'd like to feed data as a source. There will then be a separate sink implementation.

I am wondering whether I could plug in a URL as an env var to the container so that it could put an event onto a channel directly. Or does the URL only get set on the Source-type

[2019-06-10 18:03] duglin opened #454 "Camel install is missing some docs"
While going thru the Kn install (e.g. https://github.com/knative/docs/blob/master/docs/install/Knative-custom-install.md ) it has a pointer to: https://github.com/knative/eventing-sources/releases/download/v0.6.0/camel.yaml w/o any other docs. This implies to me that I should be able to `kubectl apply -f https://github.com/knative/eventing-sources/releases/download/v0.6.0/camel.yaml` and at least

[2019-06-10 18:07] duglin opened #455 "gcppubsub doesn't install per the install docs"
When going thru our install docs (e.g. https://github.com/knative/docs/blob/master/docs/install/Knative-custom-install.md ) it includes a pointer to the gcppubsub yaml ( https://github.com/knative/eventing-sources/releases/download/v0.6.0/gcppubsub.yaml ) w/o any other pointers to docs. This would imply that people should be able to `kubectl apply -f https://github.com/knative/eventing-sources/rel

[2019-06-10 18:22] nachocano commented on #423
I think there is nobody working on this.
@duglin do you want to go ahead and do it? Or maybe @vincent-pli who expressed some interest?
We should have this in for 0.7. Let me know, otherwise I can work on it. Thanks!

[2019-06-10 18:31] nachocano commented on #423
We should wait until this gets merged https://github.com/knative/eventing-contrib/pull/452

[2019-06-10 18:42] #372 closed

[2019-06-10 20:44] nachocano commented on #423
ok, will work on this one...
/assign

[2019-06-10 21:13] evankanderson commented on #453
You should be able to do this using Broker and Trigger as documented here:

https://knative.dev/docs/eventing/broker-trigger/#manual

We're currently working on a docs refresh; feel free to also send a PR to improve any pages that would help make this more clear.

[2019-06-10 21:13] evankanderson commented on #453
/kind doc
/good-first-issue

[2019-06-11 12:56] nicolaferraro opened #457 "Camel controller manager sometimes does not start"
## Expected Behavior

It always starts.

## Actual Behavior

Sometimes it remains in "ContainerCreationError" on Openshift. Removing pod limits seems to solve the issue.

## Steps to Reproduce the Problem

  1. Install Eventing and Serving
  2. Install Camel K cluster resources
  3. Install Camel sources

## Additional Info

@matzew I think this happens also to Kafka contrib.
I think it would be g

[2019-06-11 13:18] nicolaferraro opened #458 "Upgrade camel sources to use latest camel k"
Camel K 0.3.4 released.

https://github.com/apache/camel-k/releases/tag/0.3.4

[2019-06-11 13:49] ryandawsonuk commented on #453
Thanks! Have submitted a [PR](https://github.com/knative/docs/pull/1450) to try to help clarify for others.

[2019-06-11 19:59] #423 closed

[2019-06-12 01:39] alanconway commented on #343
Update on this work at https://github.com/alanconway/alanconway.github.io/blob/d89db2cc2d3706e735c1c77b2f1a95de9f09398c/knative/kntransport.pdf

[2019-06-12 11:15] #457 closed

[2019-06-14 10:58] nicolaferraro opened #465 "Move contrib/camel to camel/source"
As done for Kafka in #426, we should move camel bits to camel/source.

[2019-06-14 17:10] #458 closed

[2019-06-19 03:06] #465 closed

[2019-06-19 17:13] #453 closed

[2019-06-21 01:16] vpasquier opened #470 "Cloud Event model (Broker/Triggers) vs Eventing Contribs"
## Expected Behavior

We are using on our side the Kafka contribution `KafkaSource` successfully. But our next goal was to use broker/triggers to autoscale target pods after receiving a Kafka record on a topic:

- We send a record mapping cloud event object with a given type
- The record is picked up by the Kafka Source and sent to the sink (a default broker)
- The broker forwarded it to the appro

[2019-06-22 03:49] duglin commented on #470
IMO it is a mistake for `knative` to appear in the `type` field. The `type` value should be based on the event itself, not the Kn middleware. Consumers of events will not care that the event went thru Kn, they want what the producer sent and if the producer did not natively produce a CloudEvent, and we need to add a type, then it should be a value based on the event data, not one Kn makes up.

[2019-06-22 03:50] duglin commented on #470
See: https://github.com/cloudevents/spec/pull/441 for examples

[2019-06-26 12:46] bbrowning commented on #342
/unassign

Unassigning myself as I haven't had time to run performance tests and verify this fix is still needed. I believe it is, but we need to test before and after to be sure we're fixing it.

[2019-06-27 21:56] grantr opened #475 "GitHubSource doesn't work with Serving 0.7"
## Expected Behavior
I can target a Serving 0.7 Service with a GitHubSource.

## Actual Behavior
Doesn't work because Service 0.7 doesn't populate the `status.address.hostname` field.

## Additional Info
Probably an issue for all sources.
See https://knative.slack.com/archives/C9JP909F0/p1561666023287200

[2019-06-27 22:57] grantr commented on #470
No, this is a feature gap. KafkaSource doesn't yet support forwarding the CloudEvent unwrapped, but it should.

In the meantime, you can try this:
1. Create a function (Knative Service or otherwise) that receives the `dev.knative.kafka.event` event, unwraps the wrapped CloudEvent in the event body, and replies with the unpacked event. This function might be compatible with any wrapped event.
1. Cr

[2019-06-27 23:16] matzew commented on #475
the kafka source has too,

So,, here:

broken contrig:
https://github.com/knative/eventing-contrib/blob/master/pkg/controller/sinks/sinks.go#L60

vs
eventing:
https://github.com/knative/eventing/blob/master/pkg/duck/sinks.go#L117

looks like this should have been done on contrib too:
https://github.com/knative/eventing/commit/fbee61d9eb61a760a49783196e63a4a0c4c789f0

[2019-06-28 16:28] #475 closed

[2019-07-02 06:00] atamon opened #656 "[BUG] Missing support for event processing retries"
**Describe the bug**
Using  KafkaChannel, when my Adressable pod fails to process the message, either responding with a non 2XX or not at all to the HTTP request, the message is lost forever.

 **Expected behavior**
I would expect my pods to receive the event over and over until I have properly acknowledged that the message has been properly processed by my application. If there are multiple pods

[2019-07-02 17:28] bikramnehra commented on #344
Is anybody still working on this? If not, I am interested in picking this up.

[2019-07-03 00:08] evankanderson commented on #344
I haven't seen any activity here for a while. @n3wscott would probably know
if anything already existed.

On Tue, Jul 2, 2019 at 10:28 AM Bikramdeep Singh <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-07-08 06:03] castlemilk opened #481 "github-controller crashloopbackoff"
## Expected Behavior
 github controller should work on 0.7.1+

## Actual Behavior
controlle crashes with error:

[code]

## Steps to Reproduce the Problem

installed with following command:

[code]

## Additional Info

running on minikube 1.2.0 wih kuberntes 1.15.0

[2019-07-10 06:16] richard2006 opened #482 "Using Alibaba Cloud MNS as a event source"
## Expected Behavior
I create these issues to start a work in progress that I plan to work on. We have support Knative on Alibaba Cloud.  And also do some work about Alibaba Cloud MNS as a event source. So we hope to contribute the Alibaba Cloud MNS event source to Knative eventing-contrib.

## Actual Behavior
WIP : https://github.com/richard2006/eventing-contrib/tree/release-0.7/contrib/alimns

#

[2019-07-10 11:50] fxw opened #483 "Event grid"
Hello, bonjour,

## Expected Behavior
Consume the event from Azure Event Grid.

https://azure.microsoft.com/en-us/services/event-grid/
https://docs.microsoft.com/en-us/azure/event-grid/sdk-overview
https://github.com/Azure/azure-sdk-for-go/tree/master/services/eventgrid

## Actual Behavior
No implementation for Event Grid

## Additional Info

Is it in the roadmap ?

Anyone have implement that in b

[2019-07-12 08:23] nicolaferraro opened #484 "Camel source controller should not rely on Camel K specific clusterrole"
Currently the camel source controller checks the presence of a specific Camel K clusterrole before starting. But in some Camel K installations that can be missing.

Check should be changed to be more general and/or it should be possible to disable it through a controller arg or env var.

[2019-07-14 10:52] chengjingtao commented on #481
+1
I miss this questions after I upgrade it to v0.7.1 from v0.7.0

[2019-07-15 18:38] kramvan1 commented on #481
+1
Would be good to have a release test for version issues like this :)

[2019-07-15 20:45] evankanderson commented on #481
/assign @grantr

On Mon, Jul 15, 2019 at 11:38 AM Mark Vanderwiel <notifications@github.com>
wrote:

--
Evan Anderson <argent@google.com>

[2019-07-23 02:21] chhsia0 commented on #481
@evankanderson @grantr I created https://github.com/knative/eventing-contrib/pull/489 to fix this issue. PTAL!

[2019-07-23 17:27] #481 closed

[2019-07-25 13:14] Fabian-K opened #490 "Define Custom CA for GitHubSource with Enterprise Github"
## Expected Behavior
GitHubSource already provides `githubAPIURL` for use with enterprise github instances. It would be greate if we could easily configure/establish trust with a custom ca that might be used for the enterprise github instance.

## Actual Behavior
I cannot define a custom ca to be used by the github controller. If the enterprise github instance uses a custom ca, the webhook creatio

[2019-07-25 16:41] evankanderson commented on #490
/kind feature-request

[2019-07-28 19:05] duglin opened #1477 "DockerHub and Docker Registry event source"
It would be nice if there was a DockerHub and Docker Registry event source so that we can subscribe to, and receive, events related to images changing. I think this will be a critical piece in many CI/CD workflows.

[2019-08-05 16:46] #484 closed

[2019-08-06 03:41] daisy-ycguo opened #508 "Chaotic directory structure of eventing-contrib"
## Expected Behavior

All event sources are stored in clear directory structure and easy to locate.

## Actual Behavior

There are several event sources. Some are in eventing-contrib repo, some are in eventing repo, and some are in both. Even the structure of sources in eventing-contrib repo is chaotic. It's hard for new comers to locate. And new contributors don't know which directory to contribu

[2019-08-06 15:17] ImJasonH opened #510 "GitHubSource shouldn't require Knative Serving"
## Expected Behavior

The GitHubSource controller creates a Knative Service ([example](https://github.com/knative/eventing-contrib/blob/21bdfccbb2633e968af8e07ae7a5c485ff4673a4/contrib/github/pkg/reconciler/resources/service.go)) in response to newly created GitHubSource resources. This Service is responsible for receiving webhooks from GitHub.

If Knative Serving is not installed on the cluster,

[2019-08-06 15:29] mattmoor commented on #510
tl;dr We don't want the core of Eventing to have a hard dependency on Serving, but it's perfectly fine for sources to depend on it.

For webhook sources like this, I believe a serving dependency makes a lot of sense, and brings a lot of value, off the top of my head:
 - Single external IP with host-based dispatch
 - auto-TLS (if configured)
 - zero "dispatcher" footprint at rest

Doing this in ter

[2019-08-06 15:46] duglin commented on #510
+1 In my talks/demos people seem to really like that the github eventsource creates a KnService and they automatically get all of the cool benefits like auto-scaling. When the authors of a project don't "eat their own dog food", it tends to send a bad message.

If part of the concern that KnServing is too big for someone who just wants KnEventing, then we may want to consider ways to slim KnServin

[2019-08-06 16:02] ImJasonH commented on #510
So for users who want to use Eventing without Serving, and want to ingest GitHub events specifically, would you recommend writing a new Source CRD+controller using `ContainerSource`? Is there a sample I can crib from to try this out myself? Maybe I don't know what I'm missing. :smile:

Perhaps my issue title is too strong: it's probably completely fine that the default/preferred GitHubSource requi

[2019-08-06 16:18] duglin commented on #510
Perhaps some config on it would help here:
[code]
and when `false` it'll use the `sink` as the address for the github webhook, and NOT create a KnService to get the events.

[2019-08-06 21:35] grantr commented on #508
/kind cleanup

[2019-08-06 21:38] grantr opened #512 "Kafka Channel was not released in 0.8.0"
## Expected Behavior

KafkaChannel v0.8.0 can be installed from a [release artifact](https://github.com/knative/eventing-contrib/releases/tag/v0.8.0).

## Actual Behavior

KafkaChannel was not released for v0.8.0 because [release.sh only knows about the KafkaSource](https://github.com/knative/eventing-contrib/blob/4bda4fcaa57d4a344ea5a3a66e8c1a2ea2f04fda/hack/release.sh).

Looks like https://githu

[2019-08-06 21:39] grantr commented on #512
/milestone v0.8.1

[2019-08-06 23:45] matzew commented on #512
😭😭

On Tue 6. Aug 2019 at 23:39, Grant Rodgers <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-08-06 23:45] matzew commented on #512
/assign matzew

On Wed 7. Aug 2019 at 01:45, Matthias Wessendorf <matzew@apache.org> wrote:

--
Sent from Gmail Mobile

[2019-08-07 00:38] mattmoor commented on #120
I just updated to 0.6 and tried reverting my hack and still get no github header.

[2019-08-07 00:38] mattmoor commented on #120
cc @n3wscott

[2019-08-07 11:42] montaro opened #518 "Add NATS Channel to the addressable-resolver-clusterrole"
`addressable-resolver-clusterrole` is missing since it was added to eventing/contrib/nats after merging nats CRD here

[2019-08-07 11:55] montaro commented on #518
/assign @montaro

[2019-08-07 17:20] #518 closed

[2019-08-07 20:34] montaro opened #527 "Fix NATS eventing.knative.dev/release labels"
## Expected Behavior
NATS labels to be `contrib.eventing.knative.dev/release`

## Actual Behavior
`eventing.knative.dev/release`

[2019-08-07 20:34] montaro commented on #527
/assign @montaro

[2019-08-07 21:44] #508 closed

[2019-08-07 22:05] #527 closed

[2019-08-07 22:07] Fredy-Z opened #529 "Set up E2E test infra in eventing-contrib"
Channel CRDs (Kafka, Natss) have been moved from eventing to eventing-contrib, we need to set up test infra to properly test them.

/assign @Fredy-Z

[2019-08-08 15:26] n3wscott opened #533 "Sources and channels should be combined into one controller for each transport."
## Expected Behavior
there is one controller for [kafka, natss] channels and sources

## Actual Behavior
there are two.

[2019-08-08 18:50] kramvan1 opened #534 "Github source CrashLoopBackOff"
## Expected Behavior
github source pod running state

## Actual Behavior
[code]

[code]

## Steps to Reproduce the Problem

  1.  versions > 0.7.0
  2.  check github source pod status
  3.

## Additional Info

Appears to be related to this PR https://github.com/knative/eventing-contrib/commit/c25d3142bddbec38fbee364b8a5857d4a7f43cd7

The service was change to `v1beta1` from `v1alpha1`
but in the C

[2019-08-08 18:53] kramvan1 commented on #534
cc @dugliln

[2019-08-09 20:27] kramvan1 commented on #534
This could be related to the yamls, right now just using the serving.yaml from 080.
`serving-beta-crds.yaml` and `serving-alpha-crds.yaml`
`serving-post-1.14.yaml` and `serving-pre-1.14.yaml`

Not sure how to mix/match these to get a stable release, don't see them covered in the docs yet.

[2019-08-09 20:43] n3wscott opened #535 "GitHubSource does not update the service when it's spec changes."
## Expected Behavior
I update githubsource's sink, and the sink updates in the service.

## Actual Behavior
no change to the service.

[2019-08-09 21:14] duglin commented on #534
@mattmoor any guidance or pointers to docs to help?

[2019-08-09 21:41] n3wscott commented on #534
We should roll back the change to use serving at v1beta1 version.

[2019-08-11 22:28] duglin opened #537 "github event source doesn't pass along original headers"
## Expected Behavior

I would expect the original github event headers to still be in the message passed to the sink - as appropriate.  In my testing I'm not seeing the `Github-Delivery` and `Github-Event` headers. They do appear as `Ce-Github-...` though.  However, if I have existing code that expects a github event then I shouldn't have to change my code to look for `Ce-Github...` headers.  The

[2019-08-11 22:32] duglin opened #538 "github event source panics on bad github input"
When the incoming github event is missing the `X-Github-Delivery` header it generates a panic:
[code]

It would be nice if instead of a panic it printed a nicer error (either back on the http response  or to stdout) saying which HTTP header was missing.  Mentioning "id" in the panic doesn't help since the incoming header doesn't have ID in it.

[2019-08-12 17:53] duglin commented on #216
I'm seeing this. For me it never gets deleted and is kind of a big issue since deleting webhook on github is annoying since you have to click twice to delete each one. So, if you're running some tests you can get a ton of them.

/cc @daisy-ycguo

[2019-08-12 17:57] Fredy-Z commented on #8
/close
Tracking through #529

[2019-08-12 17:57] #8 closed

[2019-08-13 11:52] duglin commented on #216
not 100% sure it's related but when I deleted the event source I noticed these in the github controller logs - it might shed some light on things:

[code]
and
[code]

[2019-08-13 12:52] matzew opened #542 "connection refused with explicit KafkaChannel based broker"
## Expected Behavior

`KafkaChannel` based broker works

## Actual Behavior

not exactly working :smile:

## Steps to Reproduce the Problem

  1. setup the right `ServiceAccount` objects:

[code]

2. Now, grant them RBAC permissions:

[code]
  3. Setup broker:

[code]

I see in Kafka these topics:
[code]

:tada:  but...

  4. apply a source to the `kafka-broker` (e.g. k8s source), gives me:

[code

[2019-08-13 12:54] matzew commented on #542
/assign lberk
/assign matzew

[2019-08-20 04:57] Fredy-Z opened #547 "Kafka channel needs to remove the ClusterChannelProvisioner implementation"
`ClusterChannelProvisioner` has been removed from `eventing` repo, so Kafka channel needs to remove it as well.

/cc @matzew

[2019-08-21 06:40] matzew commented on #547
yeah, I saw some usage. looking into it

[2019-08-21 11:40] meteatamel commented on #330
FYI, I ran into this problem as well with Knative 0.8

[2019-08-21 14:04] n3wscott commented on #330
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:04] #330 closed

[2019-08-21 14:05] n3wscott commented on #455
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:05] #455 closed

[2019-08-21 14:06] n3wscott commented on #393
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:06] #393 closed

[2019-08-21 14:06] n3wscott commented on #297
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:07] n3wscott commented on #268
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:07] #268 closed

[2019-08-21 14:07] n3wscott commented on #216
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:07] #216 closed

[2019-08-21 14:08] n3wscott commented on #180
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:08] #180 closed

[2019-08-21 14:09] n3wscott commented on #259
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:09] #259 closed

[2019-08-21 14:09] n3wscott commented on #54
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:09] #54 closed

[2019-08-21 14:09] n3wscott commented on #86
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:09] #86 closed

[2019-08-21 14:10] n3wscott commented on #418
gcppubsubsource has been removed from this repo. Please see http://github.com/google/knative-gcp

`PullSubscription` is the replacement.

/close

[2019-08-21 14:10] #418 closed

[2019-08-21 17:14] slinkydeveloper opened #552 "Kafka source doesn't commit offset when message is malformed"
## Expected Behavior
When a kafka topic contains a malformed json, kafka source should discard it and **mark it**, so it won't be processed again next time the source is restarted.

## Actual Behavior
It doesn't commit the offset, so if you restart the source these messages are processed again. If after the malformed message the new message is fine, the old message won't be processed again

## Ste

[2019-08-21 17:28] matzew commented on #552
/assign @slinkydeveloper

[2019-08-23 15:23] slinkydeveloper commented on #542
More informations here:
I tried to apply the patch https://github.com/knative/eventing-contrib/pull/554 and after waiting 6/7 minutes everything start worked correctly. Seems like the trigger is not available for a long period and after that everything starts working correctly

[2019-08-29 08:37] dibbles commented on #216
@n3wscott can you give more details about why you closed this?

- knative/eventing-contrib still exists and has a githubsource sample
- you give no details about what the problem was caused by
- the new repo you reference is marked experimental
- the new repo you reference mentions GCP and knative, is this repo/function specific to GCP?

[2019-08-29 10:55] ironreality commented on #534
Have the same issue...

[2019-08-29 12:21] ironreality commented on #534
Found a work-around - https://github.com/tektoncd/experimental/issues/177

[2019-08-29 17:47] grantr opened #562 "GitHubSource shouldn't use Service v1beta1 yet"
Doesn't work reliably yet on <1.13.10 k8s.

[2019-08-29 19:46] grantr commented on #562
See also https://github.com/knative/eventing-contrib/pull/489 and https://github.com/knative/eventing-contrib/issues/481

[2019-08-29 22:13] Harwayne opened #563 "Tracing through KafkaChannel"
**Problem**
A request made to the KafkaChannel should generate traces that link the request to the subscribers. It should either use an existing Trace if present, or create a new Trace if one isn't.

The trace from the Channel to any subscribers MUST be annotated with the subscription's name.

**Persona**:
System Integrator

**Exit Criteria**
Each of the following generate a trace that includes bo

[2019-08-29 22:14] Harwayne opened #564 "Tracing through NatssChannel"
**Problem**
A request made to the NatssChannel should generate traces that link the request to the subscribers. It should either use an existing Trace if present, or create a new Trace if one isn't.

The trace from the Channel to any subscribers MUST be annotated with the subscription's name.

**Persona**:
System Integrator

**Exit Criteria**
Each of the following generate a trace that includes bo

[2019-08-30 18:34] n3wscott commented on #562
/assign

[2019-09-02 13:17] slinkydeveloper commented on #542
/assign slinkydeveloper

[2019-09-02 14:07] astefanutti opened #566 "Missing flow field from Camel source CRD validation"
## Expected Behavior

It is possible to create a Camel source with a `flow` field to inline a route.

Knative contrib 0.8.x.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

[code]

[2019-09-03 11:48] slinkydeveloper commented on #542
Looks like with #554 this one is fixed. I upload a reproducer (to use with ko), just in case we re-experience this issue again:
[reproducer-542.zip](https://github.com/knative/eventing-contrib/files/3569270/reproducer-542.zip)

[2019-09-03 16:21] #562 closed

[2019-09-03 16:31] #566 closed

[2019-09-04 09:10] #552 closed

[2019-09-04 09:28] slinkydeveloper commented on #542
/close

[2019-09-04 13:29] MrBokeh opened #570 "[Feature Request] Add Redis as Knative Eventing channels"
Problem
A lot of existing backend systems uses Redis for caching, it would be good to use Redis as the event channel which is better "out of the box" than the in-memory channel for both development and production.

Persona:
Event consumer

Exit Criteria
Able to use Redis as eventing channels for integration

Time Estimate (optional):
5 days max

Additional context (optional)
The Redis reliable que

[2019-09-04 20:05] grantr opened #573 "Test KafkaChannel throughput and latency"
**Problem**
Similar (or identical) to the throughput and latency tests for InMemoryChannel (https://github.com/knative/eventing/issues/1804), we should test KafkaChannel throughput and latency.

**Exit Criteria**
Test(s) can be run manually to submit throughput and latency metrics to Mako.

**Time Estimate (optional):**

**Additional context (optional)**

/area performance

@slinkydeveloper

[2019-09-05 10:06] slinkydeveloper commented on #542
/open

Looks like I'm still experiencing this bug, I'm working on it

[2019-09-05 10:07] slinkydeveloper commented on #542
/reopen

[2019-09-05 14:11] slinkydeveloper commented on #542
At point 2 @matzew forgot to assign the rolebindings:

[code]

[2019-09-05 14:11] slinkydeveloper commented on #542
/close

[2019-09-05 14:11] #542 closed

[2019-09-09 08:08] matzew opened #577 "KafkaChannel broken"
## Expected Behavior

channel create works

## Actual Behavior

does not work:
[code]

## Steps to Reproduce the Problem

  1. install kafka
  2. create `kafkachannel`

## Additional Info

[2019-09-09 08:29] slinkydeveloper commented on #573
/assign

[2019-09-10 17:54] #577 closed

[2019-09-10 20:10] capri-xiyue opened #583 "Add ClusterRole to get, list and watch "awssqssources", "camelsources", "kafkasources" and "githubsources""
## Expected Behavior
Add ClusterRole to get, list and watch "awssqssources", "camelsources", "kafkasources" and "githubsources"
## Actual Behavior
In PR knative/eventing#1849, we added ClusterRole to get, list and watch  "awssqssources", "camelsources", "kafkasources" and "githubsources" in config/200-source-resolvers-clusterrole.yaml.
This is a temporary solution. Such ClusterRole should eventual

[2019-09-11 18:05] chizhg opened #585 "E2E test fails for KafkaChannel"
## Expected Behavior
E2E test can always pass for `KafkaChannel`

## Actual Behavior
One single E2E test can always pass for `KafkaChannel`, but if multiple tests are run in parallel in different namespaces, all tests will fail.

## Steps to Reproduce the Problem
  1. Setup `knative eventing`, and install `KafkaChannel`
  2. Run all tests for `KafkaChannel` with `go test -v -tags=e2e -count=1 ./te

[2019-09-11 18:05] Fredy-Z commented on #585
/cc @matzew

[2019-09-11 18:08] matzew commented on #585
will take a look!

On Wed 11. Sep 2019 at 20:05, Chi Zhang <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-09-13 09:16] matzew opened #588 "Evaluate Confluent Kafka client"
Currently both, channel and source are using the Sarama library for producer/consumer parts.

Ideally we use a more improved, high-level, API like the kafka lib from Confluent (Apache2 licensed). but the CGo dependency might be an issue...

[2019-09-13 09:17] matzew commented on #588
With the regard of DQL support, this lib is also "interesting":

https://github.com/uber-go/kafka-client

but I have no idea on the actual PERF

[2019-09-13 13:03] lionelvillard commented on #588
The DQL support seems compatible with our design, one DLQ per topic and allowing DLQs to be on different clusters.

This API is alpha though....

[2019-09-13 18:27] Fredy-Z commented on #547
This issue has been fixed by @matzew .
/close

[2019-09-13 18:27] #547 closed

[2019-09-13 18:31] chizhg opened #590 "e2e test for github source"
## Expected Behavior
Have e2e test coverage for github source.

## Actual Behavior
There is no e2e test for github source.

/kind bug

[2019-09-13 18:36] Fredy-Z commented on #269
cronjob source has been moved to `eventing` repo, and there is an e2e test for it - https://github.com/knative/eventing/blob/master/test/e2e/source_cron_job_test.go

/close

[2019-09-13 18:36] #269 closed

[2019-09-13 18:39] Fredy-Z commented on #266
It seems websocket source is just an implementation of container source, do we need e2e test coverage for it?
@n3wscott can you please confirm?

[2019-09-13 19:19] #529 closed

[2019-09-16 14:08] lionelvillard opened #595 "Cannot run e2e tests on mac"
## Expected Behavior
`test/e2e-tests.sh --run-tests` should run e2e test on mac

## Actual Behavior

Got an error due to base64 not accepting `-d` on mac:

[code]

[2019-09-16 14:09] matzew opened #596 "Improve Kafka retry"
## Expected Behavior

* proper retry

## Actual Behavior

Currently if there is a message not dispatched to the "consumer", it is not committed:
https://github.com/knative/eventing-contrib/blob/master/kafka/common/pkg/kafka/consumer_handler.go#L80

A failed message is than not correcty reprocessed, if the next one is successful ..

## Additional Info

[2019-09-16 14:11] matzew commented on #588
@lionelvillard right, that's exactly why I put the DQL comment in here :-)

[2019-09-16 14:11] matzew commented on #588
related: https://github.com/knative/eventing-contrib/issues/596

[2019-09-16 18:46] nachocano opened #597 "KafkaChannel Dispatcher Refactor"
**Problem**
In order to be able to report data plane metrics for the KafkaChannel, we need to refactor it to use the CloudEvents SDK, instead of MessageDispatcher and MessageReceiver.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
The KafkaChannel dispatcher uses the CloudEvents SDK.

**Additional Context:**
- https://github.com/kna

[2019-09-16 18:48] nachocano commented on #597
/assign @matzew

assigning it to you so that you guys have it on your radar

[2019-09-16 18:48] nachocano commented on #597
fyi @Harwayne @vaikas-google

[2019-09-16 18:49] nachocano opened #598 "NatssChannel Dispatcher Refactor"
**Problem**
In order to be able to report data plane metrics for the NatssChannel, we need to refactor it to use the CloudEvents SDK, instead of MessageDispatcher and MessageReceiver.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Contributor

**Exit Criteria**
The NatssChannel dispatcher uses the CloudEvents SDK.

**Additional Context:**
- https://github.com/kna

[2019-09-16 18:50] nachocano commented on #598
/assign @sayanh

Sayan I'm assigning it to you so that it's in your radar. I know you've been working on the control plane metrics for natss.

[2019-09-16 18:50] nachocano commented on #598
fyi @Harwayne @vaikas-google

[2019-09-16 18:51] nachocano commented on #598
/assign @Abd4llA not sure why cannot assign it to @sayanh, but just so that you have it on your radar.

[2019-09-16 19:14] capri-xiyue opened #599 "Update status.ObservedGeneration for sources resources when sources resources get reconciled"
## Expected Behavior
status.ObservedGeneration for sources resources(for example: githubsource) get updated to the ObjectMeta.Generation field of sources resources when sources resources get reconciled successfull
## Actual Behavior
In PR https://github.com/knative/eventing/pull/1849, we tried to validate dependency by checking whether the ObjectMeta.generation of dependency is equal to the Status

[2019-09-16 21:24] grantr commented on #598
/milestone v0.10.0

[2019-09-16 21:24] grantr commented on #597
/milestone v0.10.0

[2019-09-17 08:06] slinkydeveloper commented on #588
IMHO I think sarama works well as a library. I think we should however improve our usage of it. On example could be: move message dispatching outside the goroutines that handles the partition processing

[2019-09-17 08:10] slinkydeveloper commented on #596
I was wondering, if we move the actual event dispatch in another goroutine pool, then when a message for any reason is not sent, we could just re-enqueue it in the channel between the consumers pool and the dispatcher pool

[2019-09-17 11:17] matzew commented on #588
+1 on that!

On Tue 17. Sep 2019 at 10:06, Francesco Guardiani <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-09-17 11:23] matzew commented on #596
+1

On Tue 17. Sep 2019 at 10:10, Francesco Guardiani <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2019-09-17 12:03] sayanh commented on #598
/assign @sayanh

[2019-09-17 12:05] matzew commented on #597
/assign @matzew

Thanks @nachocano for the heads up, I put this into our backlog, for next release

[2019-09-17 12:23] lionelvillard commented on #596
/milestone 0.10.0

[2019-09-17 20:37] capri-xiyue commented on #599
/assign @capri-xiyue

[2019-09-18 15:32] slinkydeveloper opened #607 "Test KafkaSource thpt and latency"
Create a thpt and latency test, based on eventing test images, for kafka source.

/area performance

[2019-09-18 16:19] slinkydeveloper opened #608 "Move the dispatch outside the consumer handler goroutine"
In `KafkaSource` now the event dispatch happens on the same goroutine of the partition consumer. This could potentially slow down this goroutine, decreasing the throughput of the source. We should investigate if, moving the dispatch outside the consumer handler in a goroutine pool brings a performance improvement

Depends on https://github.com/knative/eventing-contrib/issues/607 for measure the im

[2019-09-18 17:24] #599 closed

[2019-09-19 03:38] capri-xiyue commented on #583
/assign @capri-xiyue

[2019-09-19 14:44] syedriko opened #612 "Implement an Eventing source for Prometheus"
It would be useful to be able to turn Prometheus alerts and results of PromQL queries into events.

[2019-09-23 23:35] aslom opened #620 "Kafka source docs disappeared?"
## Expected Behavior

Link to docs (and sample config) should work from
https://github.com/knative/eventing-contrib/tree/master/kafka/source

## Actual Behavior

Could not find Kafka source docs in
https://knative.dev/docs/eventing/samples/
or in
https://knative.dev/docs/eventing/sources/

## Steps to Reproduce the Problem

  1. Open links above

## Additional Info

[2019-09-23 23:36] aslom commented on #620
/assign @matzew

[2019-09-23 23:41] nachocano commented on #597
@matzew the IMC refactor just got in! along with few other things... See here: https://github.com/knative/eventing/pull/1933
This one can do something similar, and start using the eventReceiver and eventDispatcher.

[2019-09-23 23:42] nachocano commented on #598
@sayanh the IMC refactor just got in! along with few other things... See here: https://github.com/knative/eventing/pull/1933
This one can do something similar, and start using the eventReceiver and eventDispatcher.

[2019-09-24 07:51] matzew opened #621 "Kafka source 0.9.0 seems broken"
## Expected Behavior

* it works

## Actual Behavior

* 0.8.2 is last working releaes

## Additional Info

From the logs:

[code]

[2019-09-24 07:52] matzew commented on #620
It's here:

https://github.com/knative/docs/pull/1712

[2019-09-24 08:05] matzew commented on #621
while the messages are consumed, they are not dispatched to the http sink

[2019-09-24 08:17] matzew commented on #621
All works fine...

I just tested w/ NON-JSON messages.

putting JSON (e.g. `{"yo":"yo"}` on the topic makes the source work :-)

[2019-09-24 08:17] matzew commented on #621
/close

[2019-09-24 08:17] #621 closed

[2019-09-24 14:24] syedriko commented on #612
/assing @syedriko

[2019-09-24 14:37] matzew commented on #612
/assign @syedriko

[2019-09-25 11:34] matzew opened #627 "Flaky e2e tests for Natss?"
## Expected Behavior

* all runs fine

## Actual Behavior

* does not... on a completely _unrelated_ fix/change, I get:

[code]

/cc @Fredy-Z

[2019-09-25 14:15] haneefkassam commented on #588
The other problem with the Confluent library is the external dependency on librdkafka, the installation of which requires some dependencies.  Sarama being pure go alleviates some of those concerns.

[2019-09-25 14:19] matzew commented on #588
yep, thats part of the problem

On Wed 25. Sep 2019 at 16:15, haneefkassam <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2019-09-25 16:19] Fredy-Z commented on #627
I tried to fix the flaky test in https://github.com/knative/eventing/pull/1885, but clearly I failed.

The reason is because I misunderstood the meaning of resync time. I thought 0 meant resynchronize as soon as possible, but it's actually the opposite. See the doc in https://godoc.org/k8s.io/client-go/tools/cache#NewInformer:
[code]

I haven't figured out what can be a better way to fix it...

[2019-09-26 18:04] nachocano commented on #627
This might have to do with the refactor of event_dispatcher and event_receiver in eventing... The e2e seems to use the latest HEAD, and there might be a problem there...
In an unrelated change, I also have the same problem... https://github.com/knative/eventing-contrib/pull/631

[2019-09-27 07:59] #573 closed

[2019-09-30 16:27] grantr opened #636 "Make kafka channel dispatcher optionally non-blocking for topics that does not require ordering"
_This is copied from https://github.com/knative/eventing/issues/1494 @yuzisun @lionelvillard_

**Problem**
For kafka topic that does not require ordering, blocking call in kafka dispatcher really limits the throughput of the eventing pipeline. Currently the overall concurrency is limited by the number of partitions when using kafka channel due to which we are not able to fully leverage autoscaling

[2019-10-01 08:22] aliok opened #638 "Adapt to knative pkg user info annotating"
## Expected Behavior
Similar to work done in https://github.com/knative/eventing/pull/1479, don't add the user info annotations (`xxx.knative.dev/creator` and `xxx.knative.dev/lastModifier`) manually. Instead, make use of the admission webhook.

## Additional Info
Similar to these tasks:
* https://github.com/knative/eventing/issues/1478
* https://github.com/knative/eventing/issues/1980

[2019-10-01 17:19] aliok commented on #638
Just realized there are no mutating webhooks for most of the resources here, but I will just try to add these annotations wherever possible.

[2019-10-01 22:45] nachocano opened #639 "Broker E2E tests broken"
This [eventing PR](https://github.com/knative/eventing/pull/1972) that adds tracing e2e testing is breaking some eventing-contrib e2e tests.
I cannot spot the root cause yet, thus we are skipping eventing-contrib broker tests for now, as agreed offline with @chizhg and @Harwayne

fyi @chizhg @Harwayne

[2019-10-02 16:39] akashrv commented on #585
@matzew Can we close this issue or is it still an open issue?

[2019-10-02 18:58] lberk commented on #597
/assign @lberk

[2019-10-03 21:20] aliok commented on #638
I need direction with this task.

Except Kafka channel, there's no admission webhook handling the resources.

I can definitely add webhooks, but the way `ko` works, it won't make sense to create new pods just to add annotations.

And, we would need multiple of these webhooks, because what I understand is it should be possible to skip some of the CRDs (e.g. install AWS SQS CRD but skip Kafka Channe

[2019-10-03 21:21] aliok commented on #638
cc @matzew

[2019-10-03 21:22] aliok commented on #638
/cc @matzew

[2019-10-03 21:56] paulrossman commented on #595
Does this work now?

[2019-10-03 22:01] #288 closed

[2019-10-05 00:18] matzew commented on #620
they are here:  https://knative.dev/development/eventing/samples/kafka/

[2019-10-05 00:18] matzew commented on #620
/close

[2019-10-05 00:18] #620 closed

[2019-10-05 00:24] akashrv commented on #470
@n3wscott We have this concept of decorators in sources correct? Will that be helpful in this case?
@vpasquier Since the issue is open for a while without any activity, are you still blocked?

[2019-10-05 00:25] akashrv commented on #394
@matzew Are you still working on this?

[2019-10-05 18:56] lberk commented on #437
Fixed in knative/eventing-contrib#622

[2019-10-05 18:56] #437 closed

[2019-10-07 17:01] grantr opened #642 "Perf test for NatssChannel"
We need a perf test for NatssChannel, similar to the test that was added for KafkaChannel in #628.

@Abd4llA

[2019-10-07 17:04] Ahmed commented on #642
Yes?

On Mon, Oct 7, 2019, 13:01 Grant Rodgers <notifications@github.com> wrote:

[2019-10-07 17:14] grantr commented on #642
Sorry @Ahmed, I pinged the wrong user. Please ignore :)

[2019-10-08 21:17] barlock opened #643 "Allow KafkaChannel to specify sasl"
## Expected Behavior
Kafka Sources allow the config of sasl for encrypted traffic and login to a kafka broker. KafkaSources do not.

I'd expect something like this to work.
[code]
## Actual Behavior
Can't connect KafkaChannels to brokers that require sasl and tls

## Steps to Reproduce the Problem

  1. Create a broker requiring tls and sasl
  2. Try to configure a KafkaChannel to point to it

##

[2019-10-09 19:25] chizhg commented on #627
/assign

[2019-10-09 20:53] capri-xiyue opened #644 "Rename cluster role to get, list and watch sources in eventing-contrib so that it can be consistent with source spec"
- ## Expected Behavior
Rename cluster role to get, list and watch sources in eventing-contrib so that it can be consistent with source spec. FYI: https://github.com/knative/eventing/pull/1856/ and  https://github.com/google/knative-gcp/pull/292.

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Additional Info

[2019-10-09 20:56] #644 closed

[2019-10-09 20:56] capri-xiyue commented on #644
This is a duplicate of https://github.com/knative/eventing-contrib/issues/583

[2019-10-09 22:05] #583 closed

[2019-10-09 22:10] capri-xiyue opened #645 "Add ClusterRole to get, list and watch couchdb sources"
## Expected Behavior
Add ClusterRole to get, list and watch couchdb sources

## Actual Behavior

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Additional Info

[2019-10-09 22:12] capri-xiyue commented on #645
/assign @capri-xiyue

[2019-10-09 22:53] #645 closed

[2019-10-16 10:23] matzew opened #653 "Sources require eventing"
Tried to run just the kafka source (with serving), so that I just connect my kafka events to `ksvc` services. without anything else from eventing

## Expected Behavior

* sources can run independently from eventing

## Actual Behavior

API type requirement, like:

[code]

## Steps to Reproduce the Problem

  1. deploy the kafka-source yaml and see the `kafka-controller-manager` to come up
  2. app

[2019-10-16 11:34] matzew opened #654 "Source API version promotion"
While there are a large number of different sources (and channels) in the `eventing-contrib` repo, I was wondering how the team generally feels about promoting some components to `v1beta1` ?

There are components that have a fairly stable API, such as
* Github Source
* Apache Kafka Source
* Apache Camel-K Source

Generally each source is pretty independent from the other, so there is IMO no real p

[2019-10-16 11:34] matzew commented on #654
/assign @akashrv @vaikas-google

[2019-10-16 13:39] lionelvillard commented on #595
yes.

[2019-10-16 13:39] #595 closed

[2019-10-16 14:11] aslom opened #655 "Make consistent configuration of Kafka event source and channel"
## Expected Behavior

When I have configured Kafka brokers I expect I can reuse the configuration for Kafka sources and channels.

Ideal behavior would be to allow reuse of existing Kafka operators that make Kafka available inside kubernetes cluster. That means developer or system integrator need to do error prone copying and pasting and sometimes translation between different configuration format

[2019-10-16 14:15] aslom commented on #655
And maybe have one controller for both Kafka channel and source? https://github.com/knative/eventing-contrib/issues/533

[2019-10-16 14:15] matzew commented on #655
the consumer part is already reused, and yes, happy to make the channel cfg like the source ones

[2019-10-16 18:23] matzew commented on #653
I don't see them offered as individual bags of yaml

[2019-10-16 18:26] lionelvillard commented on #653
I was replying to "It would be also great to be able to run it without serving"

[2019-10-17 14:10] matzew commented on #612
With the code written, let's update this https://knative.dev/docs/eventing/samples/writing-a-source/

to get the current steps to what it takes w/ `knative.dev/okg` Controller Runtime.

/cc @lberk

[2019-10-17 14:14] aslom commented on #612
Let open issue to track what changes are necessary to make in docs  https://knative.dev/docs/eventing/samples/writing-a-source/ ?

[2019-10-17 14:25] lionelvillard commented on #612
related to https://github.com/knative/eventing/issues/2019

This [PR](https://github.com/knative/eventing/pull/2030) is the first step.

I suggest to first make it easier and then update the documentation.

[2019-10-17 14:28] matzew commented on #654
As for a bar to promote them, some thoughts that @lionelvillard and I had

* API/CRD stable: no breaking changes for some time* (tbd)
* Make sure proper usage of CloudEvent and perhaps require a "min" usage of 0.2+ ?
* some reasonable amout of tests in the source

Generally they are very independent units (see #653)

[2019-10-17 14:30] matzew opened #658 "Operators for Sources"
How do people feel that we offer operators for (stable) sources?

I did hack together this https://github.com/matzew/kafka-source-operator

and it just installs the `KafkaSource` - that's all I really needed

It works fine with k8s `services` and `ksvc` as its sink. But no requirement on Eventing itself

[2019-10-17 14:31] matzew commented on #658
See #653 and #654

[2019-10-17 14:39] lionelvillard commented on #653
I agree with the requirements and removing the hard dependency on eventing.

I can easily see how sources could work without `EventType`. Do you think we also need to remove any mention of `EventType` in the source status conditions?

[2019-10-17 18:22] aslom commented on #655
@matzew @lionelvillard I have written down current state of how Knative/Kubernetes Kafka configuration is done and started on proposal for improvements - please edit it and comment: https://docs.google.com/document/d/1PLYm8amLRKmKK5FAo_34ZOKwTbYU9ooMjrjwkiPc7qA/edit?usp=sharing

[2019-10-18 18:21] aslom commented on #655
Thank you for your comments @matzew - I added replies and first stab on what could be shared config map / secret

[2019-10-21 14:50] aslom commented on #653
Could we make it optional?

[2019-10-21 14:52] aslom commented on #654
@matzew what about improving Kafka source configuraiton consistency that may change API? https://github.com/knative/eventing-contrib/issues/655

[2019-10-21 16:13] matzew commented on #654
@aslom what will change on the channel API ?

[2019-10-21 20:10] syedriko commented on #612
Here is the initial implementation: https://github.com/knative/eventing-contrib/pull/663

[2019-10-21 20:31] aslom commented on #654
add more configurable parameters to kafka channel CRD?

[2019-10-21 20:33] aslom commented on #658
I use dit and it worked in my cluster that had only knative kafka source (not other knative artifacts installed)

[code]

[2019-10-21 20:34] aslom commented on #653
I can confirm I got the same problem and it was fixed by applying the EventType CRD file

before endless stream of

[code]

after using eventing operator

[code]

[2019-10-21 20:40] aslom commented on #658
To make testing easier without requiring installing knative use hello-display instead of event-display?
Replace/add to README setup (remove --namespace event-example or use it in kafka source beside changing event-display): https://knative.dev/development/eventing/getting-started/#creating-event-consumers

[2019-10-21 20:49] aslom commented on #658
also replace  `image: docker.io/matzew/kafka-source-operator:latest` with
`knative.dev/eventing-operator/cmd/manager` and ko apply is used?

[2019-10-21 20:51] aslom commented on #658
https://github.com/matzew/kafka-source-operator/pull/5

[2019-10-21 21:50] evankanderson commented on #654
My $0.02 is that it would be premature to promote a source interface to `v1beta1` if the eventing core may change the duck type expectations for the Source or Channel types.

@vaikas-google and @akashrv input would be very helpful here for a commitment on the stability of these interfaces.

[2019-10-22 17:38] vaikas-google commented on #654
Oops, sorry, this fell totally through the cracks. Yes, I think we should not move the sources ahead of the core types. Let's discuss this in conjunction with moving the core APIs to v1beta1 and revisit this after that?

[2019-10-22 20:44] lionelvillard commented on #658
@matzew as a starting point that'd be nice to have some documentation about the process of creating an operator for sources. Then hopefully we can work on fully automating this process.

[2019-10-22 21:48] aslom commented on #655
@matzew @lberk @lionelvillard I investigated options for Kafka configuration and what is used today within Apache Kafka and docker images. So if there are already Kafka configurations we should make it easy to use them in Knative without any changes. What I propose is to use Apache Kafka property names directly and allow to override them with well defined list of environment variables - started wr

[2019-10-23 13:34] slinkydeveloper opened #666 "go-github dependency update"
`go-github` is preventing to align `knative.dev/pkg` with latest master release.

/area test-and-release
/assign

[2019-10-23 19:57] n3wscott opened #670 "GitHubSource does not have a ready column"
## Expected Behavior
`kubectl get mygithubsource` gives ready status.

## Actual Behavior
it does not.

We need to update the CRD to match other knative resources for custom columns.

/good-first-issue

[2019-10-24 22:02] prestona commented on #655
Reading through @aslom's proposal, I thought I'd have a go at drawing up a straw man of what the configuration _could_ look like. Here's where I got to:

[code]

In addition to renaming the configuration properties to match the equivalent [Kafka broker / consumer / producer properties](https://kafka.apache.org/documentation/#configuration), I have tried to find a way that the source and channel ca

[2019-10-24 22:32] prestona commented on #655
Hmmn. Configmaps are key/value pairs, and therefore cannot contain the structure of a `secretRef`. That's a shame. Using a custom resource for the shared config is a less attractive option.

[2019-10-25 00:46] vincent-pli commented on #510
@ImJasonH @duglin
Agree with you both.
Several months ago, I have the some requirement with @ImJasonH , so I write this:https://github.com/vincent-pli/gitlabsource.
use the k8s `svc` and `deployment` to expose the event received `adapter`.

So I guess this requirement is exist, we need consider it.

[2019-10-25 13:08] #666 closed

[2019-10-25 14:01] aslom commented on #655
@prestona it would be nice but it seems no  support for it forthcoming :( https://github.com/kubernetes/kubernetes/issues/79224

[2019-10-25 15:48] #612 closed

[2019-10-28 17:35] aslom opened #682 "Add Kafka Sink"
## Expected Behavior

Allow Knative sink to send events to Kafka - symmetrical to Kafka source

## Actual Behavior

Not possible with code in Knative eventing

## Steps to Reproduce the Problem

  1. Use event-display as sink to print events

## Additional Info

Based on comments @jamesward

[2019-10-28 17:38] jamesward commented on #682
Thanks!  Sorry I didn't file this.

[2019-10-28 17:41] aslom commented on #682
/good-first-issue

[2019-10-29 01:55] Violet-Guo opened #683 "eventing-contrib image URL broken: Can not pull images, image URL 404"
## Expected Behavior
[code]
pull image successfully

## Actual Behavior

[code]

I have tried multiple URL like:
[code]

**all these images are same error.**

However, docker pull like:

[code]
all these images can be pulled successfully.

**Are these eventing-contrib image URL broken?**

## Steps to Reproduce the Problem

  1. docker pull eventing-contrib images

## Additional Info

[2019-10-29 15:40] Harwayne commented on #683
I'm guessing the URL was found here:

https://github.com/knative/eventing-contrib/blob/dcf7dbfe0006e843183a2a0a9f0c6d98019ee8f2/github/config/500-controller.yaml#L34

All of the YAMLs in this repo require the use of [`ko`](https://github.com/google/ko) to deploy, as described [here](https://github.com/knative/eventing-contrib/blob/master/DEVELOPMENT.md#installing-sources). `ko` will build the imag

[2019-10-29 20:52] lberk opened #691 "kafkasource could mark specifed bootstrapserver URI correct/incorrect in status"
## Expected Behavior
It would be nice to mark the `kafkasource.bootstrapServer` URI as correct/addressable or incorrect in the status field to easily diagnose a necessary parameter is correct or incorrect.

## Actual Behavior
We've had cases where an incorrect `bootstrapserver` URI leads to a crashloopbackoff without any clear reason as to why (and the status updates would appear to indicate every

[2019-10-30 10:47] matzew opened #692 "Prometheus Source usage of Desitination"
The Prometheus Source should adpot `Destination` type, https://docs.google.com/document/d/1EAf9NLwDX3c9DS8lr6KxjtgRXUmkFGIcG6DeAYd5UHI/edit#

[2019-10-30 10:48] matzew opened #693 "Github Source usage of Desitination"
The Github Source should adpot `Destination` type, https://docs.google.com/document/d/1EAf9NLwDX3c9DS8lr6KxjtgRXUmkFGIcG6DeAYd5UHI/edit#

[2019-10-30 10:48] matzew opened #694 "Camel Source usage of Desitination"
The Camel Source should adpot `Destination` type, https://docs.google.com/document/d/1EAf9NLwDX3c9DS8lr6KxjtgRXUmkFGIcG6DeAYd5UHI/edit#

[2019-10-30 10:48] matzew opened #695 "AWS Source usage of Desitination #693"
The AWS Source should adpot `Destination` type, https://docs.google.com/document/d/1EAf9NLwDX3c9DS8lr6KxjtgRXUmkFGIcG6DeAYd5UHI/edit#

[2019-10-30 10:48] matzew commented on #694
/assign @nicolaferraro

[2019-10-30 10:48] matzew commented on #692
/assign @syedriko

[2019-10-30 11:31] nicolaferraro commented on #694
Thanks @matzew. Is this needed for 0.10.x?

[2019-10-30 11:43] matzew commented on #694
yeah, would be good, I guess to PR against the branch for a 0.10.x release?  Or we do just the master update for 0.11.0 ?

I mean the core sources, and in contrib the kafka and couchdb have it already in 0.10.

[2019-10-30 11:43] matzew commented on #694
/cc @grantr @vaikas-google any thoughts?

[2019-10-30 11:58] lberk commented on #693
/assign @lberk

[2019-10-30 21:45] lionelvillard commented on #655
@aslom any progress?

[2019-10-31 10:23] prestona commented on #655
@lionelvillard - well, I think we've ruled out one potential approach :smile:

Mulling this over, I can think of two alternate approaches that we could take:

#### Option 1
Implement something similar to [my comment, here](https://github.com/knative/eventing-contrib/issues/655#issuecomment-546121495), but using a CR rather than a config map for the common configuration. I don't really like this ap

[2019-10-31 11:24] alanconway commented on #655
On Thu, Oct 31, 2019 at 10:23 AM Adrian Preston <notifications@github.com>
wrote:

 I do like this approach provided you specify the simple precedence rule
that "local" values given directly in the YAML are preferred over "shared"
values from a config map.

This kind of "layered" config is very common, for example command-line
tools that read a config file, env. vars. and command-line flags: comma

[2019-10-31 14:24] lionelvillard commented on #655
One scenario to consider is making it easy for k8s services using Kafka clients to use this configuration. That's usually done via mounting configmap and secret. So for this scenario I would probably stay away from CRD for the common shareable configuration.

I'm fine with overloading at the CRD level (as @alanconway suggest). This is common.

[2019-10-31 14:35] aslom commented on #655
It looks to me as well that overriding shared configuration would layered approach would be the best developer/operator experience @alanconway @lionelvillard @prestona

Now that 0.10 is released I am going to open work-in-progress PR so we can test what works

[2019-10-31 15:05] aslom commented on #655
I have put together slides that describe the problem and proposed solution with overriding
https://docs.google.com/presentation/d/1FaOYpenTlvZ5jq8ZYW56cX5TAYI9g42vElWfzMI2pTE/edit?usp=sharing

[2019-11-01 10:57] grebois opened #702 "[BUG] [KafkaChannel] error retrieving webhook: mutatingwebhookconfigurations.admissionregistration.k8s.io \"webhook.kafka.eventing.knative.dev\" not found"
## Expected Behavior

Kafka webhook should work as expected

## Actual Behavior

Kafka webhook crashes with:
[code]
## Steps to Reproduce the Problem

  1.Create an empty cluster v1.14.7-gke.14
  2.Deploy Istio 1.3.3 and Knative 0.10.0
  3.Apply https://github.com/knative/eventing-contrib/releases/download/v0.10.0/kafka-channel.yaml
  4. Follow https://github.com/knative/eventing-contrib/blob/mast

[2019-11-04 18:19] aslom commented on #691
Incorrect means URI points to broker that is down or connection is blocked?

[2019-11-04 18:21] lberk commented on #691
Or is just a plain old typo

[2019-11-05 07:30] #607 closed

[2019-11-05 16:42] n3wscott commented on #682
There is nothing special about a sink aside from being `addressable`.

For example, in google/knative-gcp, it models pubsub. I created a PullSubscription backed by a deployment, and also created a Topic backed by a ksvc. A channel combines both into do what we think of the thing we want channels to do. But the components are independently useful.

`PullSubscription` adheres to the `Source` contrac

[2019-11-05 18:18] slinkydeveloper opened #706 "Broken kafka channel/broker perf tests"
## Expected Behavior
Kafka channel & broker perf tests work

## Actual Behavior
Kafka channel & broker perf tests don't work

## Additional Info
Yamls are not synced with latest changes from master

/assign

[2019-11-05 18:18] slinkydeveloper commented on #706
/area performance

[2019-11-06 10:26] #706 closed

[2019-11-06 15:17] aslom commented on #691
Dao you mean typo in hostname so it does not resolve?

[2019-11-06 15:20] aslom commented on #682
@n3wscott interesting - can I deploy only Topic component as a knative sink for gcp pubsub? Where can I find an example of it? My thinking for good first issue was that functionality is very simple could be run just with command line arguments without need to use CR.

[2019-11-06 16:48] #694 closed

[2019-11-06 20:50] aslom commented on #655
/assign

[2019-11-07 00:13] grantr opened #710 "Update pkg with new Destination import path"
https://github.com/knative/pkg/pull/851 changed where Destination lives, so we'll need to update this repo to match.

[2019-11-07 02:33] syedriko commented on #692
Fix PR: https://github.com/knative/eventing-contrib/pull/711

[2019-11-07 08:10] #702 closed

[2019-11-07 20:42] #692 closed

[2019-11-08 19:00] aslom commented on #691
Maybe that should be actually checked by kafka source controller before source is created? And then error recorded in CR?

[2019-11-12 00:48] aslom commented on #655
As I am implementing initial design I realized lot of things can be simplified by using kafka.properties file as a secret that is then passed to Kafka source and channel. That file provides properties that can be easily copied from existing Apache Kafka (or librdkafka) setup.

For example  using kafka.properties from Apache Kafka I can create one shared secret and use it to configure Kafka source:

[2019-11-12 11:49] prestona commented on #655
@aslom,
Using the contents of `kafka.properties` as the key/values in a secret would certainly simplify the use-case where Kafka configuration already exists elsewhere.

I'm keen that there is also a way to reference SASL username, password and bootstrap servers when they are stored elsewhere - as this supports use-cases where the Kafka configuration is stored in cluster using a secret which perha

[2019-11-14 18:22] pksurferdad opened #731 "The NatssChannel provider should only send 1 message to the consuming service"
## Expected Behavior
The NatssChannel provider should only send 1 message to the consuming service

## Actual Behavior
The NatssChannel provider is sending multiple messages to the consuming service, even though the consuming service successfully accepts the message and sends an appropriate response code to the broker.

## Steps to Reproduce the Problem

i'm currently using natss https://github.co

[2019-11-15 01:01] mattmoor opened #735 "Update to pick up https://github.com/knative/pkg/pull/848"
There is a problem with our use of MutatingWebhookConfiguration for validation (tl;dr it is an anti-pattern, but read the linked issue for the full spiel).

[2019-11-15 01:05] mattmoor commented on #735
Needs https://github.com/knative/serving/pull/5947 and https://github.com/knative/eventing/pull/2147 to land first.

[2019-11-15 08:08] #735 closed

[2019-11-18 11:20] eliotohme commented on #430
hello i have tried installing knative on a clean kubernetes cluster (eks) using v0.10.0 and istio v1.1.7 without sidecar injection.
after adding the `- eventtypes` in the 201-clusterrole.yaml file the following logs are showing on awssqs-controller-manager-0 -n knative-sources:
`{"level":"warn","ts":"2019-11-18T11:05:16.134Z","caller":"sdk/reconciler.go:76","msg":"Failed to reconcile &TypeMeta{Kin

[2019-11-19 13:56] aslom commented on #655
@prestona I have now an example how that would work in https://github.com/knative/eventing-contrib/compare/master...aslom:consistent-knative-kafka-config

I am finishing writing and will be doing PR as soon as basic properties work.

I will see what can be done to support `valueFrom / secretKeyRef` for source and channel CR.

[2019-11-22 14:31] lionelvillard opened #751 "Multi-tenant Kafka Dispatcher"
## Expected Behavior
For multi-tenant Knative, the Kafka dispatcher must be able to handle multiple backends.

There are at least two possible solutions:
- one dispatcher per namespace, ie one kafka backend per namespace
- the dispatcher supports multiple backend

[2019-11-22 14:32] lionelvillard opened #752 "Multi-tenant Natss Dispatcher"
## Expected Behavior
For multi-tenant Knative, Natss dispatcher should be deployed in user-namespace.

[2019-11-22 14:42] lionelvillard opened #753 "Kafka should retry sending events"
## Expected Behavior
Kafka channel should retry sending events when they failed to be consumed by Kafka consumers.

## Actual Behavior
No retry

See https://github.com/knative/eventing/tree/master/docs/delivery

[2019-11-22 14:49] lionelvillard opened #754 "Kafka should support deadLetterSink"
## Expected Behavior
Kafka channel should send events to the dead letter sink when they failed to be consumed by Kafka consumers.

## Actual Behavior
Events are dropped (?)

[2019-11-23 08:04] #693 closed

[2019-11-25 17:18] duglin opened #756 "Make it easier to run the e2e tests"
In https://github.com/knative/eventing-contrib/blob/master/test/README.md
it says we can run the integration tests via the presubmit-tests.sh script, but it says:
- - -
Note that if the tests you are running include integration tests, it will create a new GKE cluster in project $PROJECT_ID, start Knative Serving and Eventing system, upload test images to $KO_DOCKER_REPO, and run all e2e-*tests.sh

[2019-11-26 19:16] yuzisun opened #758 "consumer group stops consuming regularly in Kafka channel dispatcher"
## Expected Behavior
consumer group stops consuming after sometime

## Actual Behavior
The consumer stops consuming in mid night every day and we had to restart the service, the Kafka channel status still reports fine

[code]
[code]

## Steps to Reproduce the Problem

  1. Create the Knative Service `es-lacus-out-to-parquet`
  2. Create the Kafka channel `kf-ents-qc-input` and subscription `kf-ent

[2019-11-27 08:51] slinkydeveloper commented on #756
If you have a running minikube on your local machine and `$KO_DOCKER_REPO` configured, you won't need any GKE, gcloud or similar google cloud tools. You just need:

[code]

Test images are uploaded by the `e2e-tests.sh` script too using ko. To upload a test image, you need to add a pod.yaml like [this one](https://github.com/knative/eventing/blob/master/test/test_images/logevents/pod.yaml) in the

[2019-11-27 22:43] Kuvesz opened #761 "Cannot build examples"
## Expected Behavior
I expected to be able to build them.

## Actual Behavior
I get an error, it's basically the same for every one of them, here is websocketsource as an example:
`./main.go:86:39: cannot use event (type "github.com/cloudevents/sdk-go/pkg/cloudevents".Event) as type "knative.dev/eventing-contrib/vendor/github.com/cloudevents/sdk-go/pkg/cloudevents".Event in argument to ce.Send`

#

[2019-11-27 22:55] Kuvesz commented on #761
Never mind, I managed to solve it with running update-deps.sh, don't know why go didn't say that it was missing something instead of this. Doesn't matter now though. :)

[2019-11-27 22:55] #761 closed

[2019-11-28 10:45] matzew commented on #758
A few questions here:
* what is the version? (I am current testing this with `master` and `ko apply`. Alternatively you apply a built nightly, like:
[code]
* Define sometime :-)  I have a sample running, that writes message to a kafka channel, and I have a consumer (`ksvc`) that is subscribed to it ... and keeps receiving messages

[2019-11-29 08:03] matzew commented on #758
I am running the following example on Openshift 4.2 using our operators (which matches knative 0.9):

[code]

the thing is now running there since 15h: I still receive messages

[2019-12-02 12:33] duglin commented on #756
@slinkydeveloper it appears that `test/e2e-tests.sh --run-tests` will also try to do things like install eventing. Is there a way to just run the tests w/o it doing any additional setup at all?

[2019-12-02 13:37] slinkydeveloper commented on #756
When I don't need the setup/tear down i just use go test:

[code]

[2019-12-03 16:16] #272 closed

[2019-12-03 16:28] matzew opened #770 "Share code between Kafka Source and Channel"
## Expected Behavior

code shared between source and channel for kafka

## Actual Behavior

It's not really the case. both are fairly indepdent implementations. a bit of consumer code is shared, but we could have done better there.

## Additional Info

Design document, including a CloudEvents binding for kafka:

https://docs.google.com/document/d/1ve1pAfs1uPRQVi8VxrUbpchrbSf7S3N2_seoIU9XBx4/edit#

[2019-12-04 00:36] vaikas opened #775 "Figure out the release model for the eventing-contrib"
This is just an issue to discuss what's come up a few times in the past. Should the repo have one large release on 6 week release cycle, or should we release more granular components?

Another angle is will this repo keep growing or is this repo more of an incubating repo and components move out of here as they reach certain maturity state?

[2019-12-04 13:31] matzew commented on #758
With over 24 hours of running, I was not able to reproduce this yet with the recent version (master)

[2019-12-05 13:43] matzew opened #780 "Github Source not CloudEvent 1.0 compliant"
## Expected Behavior

all is good

## Actual Behavior

Source uses delivery header names as attribute names on the _extension_, but those are like `X-GitHub-Event` (see https://developer.github.com/webhooks/#delivery-headers), where we are bound to CE [spec](https://github.com/cloudevents/spec/blob/v1.0/spec.md#attribute-naming-convention):

## Proposal

actually nuke the X and the `-`, and just u

[2019-12-05 13:50] matzew commented on #780
drafted some PR for this:  https://github.com/knative/eventing-contrib/pull/781

[2019-12-05 14:38] aslom commented on #780
@duglin I think that is covered by https://github.com/cloudevents/spec/blob/master/adapters/github.md except for X-Hub-Signature?

[2019-12-05 15:41] duglin commented on #780
Correct, if you want certain http headers to be picked up as CE extensions then you'll need to adhere to the CE rules. Which includes the `ce-` prefix and the subset of allowable chars.

[2019-12-06 18:41] matzew commented on #780
Subject and type already cover those two GH events. So we are good here

/close

[2019-12-06 18:41] #780 closed

[2019-12-10 17:03] matzew commented on #770
related #682

[2019-12-12 22:01] BFrancisA opened #793 "KafkaChannel error: "topic name already exists." (KafkaChannel 0.10.3)"
## Expected Behavior
Using KafkaChannel  0.10.3
Create a new broker with a KafkaChannel.  The Kafka topic is created.
```kubectl get brokers ``` shows READY = true.

## Actual Behavior
[code]

## Steps to Reproduce the Problem
  1.  Install Istio 1.4.0.   Knative Eventing 0.10.0, Knative Serving 0.10.0, KafkaChannel 0.10.3
Verified that all pods are running.
  2. Create a default broker in namespa

[2019-12-13 15:32] lberk opened #796 "Kafka Channel cloudevents client should use eventing's good_client"
## Expected Behavior
Kafka's dispatcher should take advantage of the tuning done in eventing's `good_client` where possible as noted by @nachocano
https://github.com/knative/eventing-contrib/pull/788#discussion_r356243909
## Actual Behavior
Currently kafka's dispatcher uses the default `NewDefaultClient()`

[2019-12-13 21:48] lberk commented on #796
/assign @lberk
WIP: https://github.com/lberk/eventing-contrib/tree/good_client
will benchmark before and after the changes to see if there's any improvement, PR once measurements established

[2019-12-19 11:40] nicolaferraro opened #805 "CamelSource broken in 0.11.0 due to missing duck.InformerFactory"
Reference: https://github.com/knative/docs/issues/2061#issuecomment-567444421

Seems it has been fixed for unit tests but the main code does not load the informer factory.

[2019-12-19 22:35] vaikas opened #809 "Clarify Kafka Consumer Groups needs."
As part of cleaning up the old Deprecated fields from Subscription in https://github.com/knative/eventing/pull/2335

And then figuring out if there are code that uses it, I found this:
https://github.com/knative/eventing-contrib/blob/master/kafka/channel/pkg/dispatcher/dispatcher.go#L118

And I'm having a hard time understanding if the Subscription Name/Namespace is what's important here and why.

[2019-12-20 11:46] matzew commented on #809
see https://github.com/knative/eventing-contrib/pull/762

In Kafka, when you have `n` partitions of a topic, you can have up `n` consumers for that one topic, in a (named) consumer group.

In order to have stable consumers (belonging to a consumer group), for that subscription it is important to have meaningful/stable consumer group names.

We picked the namespace and the name of the subscription,

[2019-12-20 16:17] vaikas commented on #809
Ok, I need to grok this little more, but it seems that there are now assumptions about naming subscriptions and especially about deleting/recreating the subscriptions that have knowledge about the implementation details of a particular channel. As in, is it correct to state that if you delete a subscription / recreate it, there's now some assumption about where the events "pick up" and start comin

[2019-12-20 16:41] vaikas commented on #809
Another way to think about this is that rather than plumb the naming through and then having that control some aspects of the consumption, there could be additional information that gets passed in a more generic way if this kind of a behaviour is desired. For example (not saying we should, but...) a subscription could provide a passthrough of map[string]string that gets passed through in the subsc

[2020-01-03 20:37] AceHack opened #813 "When is expected for Kafka to graduate from PoC?"
Right now Kafka event source is listed as PoC?

https://knative.dev/docs/eventing/sources/

When do you expect it to graduate to a higher level?

Thanks.

[2020-01-06 11:48] #805 closed

[2020-01-06 21:05] n3wscott commented on #809
Can this solve the issue> https://github.com/knative/eventing-contrib/pull/814

[2020-01-06 21:06] n3wscott commented on #809
Using the name of the subscription could lead to bugs because you can always delete and recreate a subscription with the same name and I think the current impl will lead to assumptions and bugs

[2020-01-08 21:09] BFrancisA commented on #793
Retested this example with Knative Eventing 0.11.0  and KafkaChannel 0.11.2.  It worked correctly without any errors.  Since the error has disappeared in the new version, I am closing this issue.

[2020-01-08 21:09] #793 closed

[2020-01-09 16:37] vaikas commented on #809
As discussed in the Channels WG meeting on 2020-01-09, we're going to merge #814 and tackle the 'how to configure underlying channel' as a more generic and clearer sematincs. In the short term if there's a need to pass information from a Subscription to Channel implementation, one can use labels. We can use this to learn what kinds of information will be necessary to pass through and we will also

[2020-01-13 22:22] grantr commented on #151
This is a big job (see #211), so I don't think it's a good first issue.

/remove-kind good-first-issue

[2020-01-13 22:27] grantr commented on #796
/kind good-first-issue

Still working on this one @lberk?

[2020-01-13 22:31] grantr commented on #710
Fixed by https://github.com/knative/eventing-contrib/pull/717

[2020-01-13 22:31] #710 closed

[2020-01-13 22:32] grantr commented on #670
/kind good-first-issue

[2020-01-13 22:33] #683 closed

[2020-01-13 22:36] lberk commented on #796
@Grantr the branch linked has a working implementation. I just wanted to benchmark it with Mako before I committed the values blindly.  I’ll get to setting up Mako and testing this week

[2020-01-13 23:57] n3wscott opened #827 "actually validate the github source resource"
Could you file an issue to actually validate the github source resource and link the issue here?

_Originally posted by @vaikas in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0MzYyMzY2NDk4/pull_requests/unread_timeline_

[2020-01-14 00:32] n3wscott commented on #670
/close
fixed.

[2020-01-14 00:32] #670 closed

[2020-01-14 00:36] n3wscott opened #828 "GitHubSource does not update the webhook if the ksvc external url changes."
## Expected Behavior

If I delete the ksvc that backs the GitHubSource, it should make a new ksvc and modify the registration in github.com to point to this new service.

## Actual Behavior
The registration does not appear to be modified, but the ksvc is recreated. This results in the gen-name of the ksvc to be different than the registration and webhooks start failing.

## Options

1. Update the

[2020-01-14 06:20] vincent-pli commented on #151
@grantr
So this still not implemented ? is anyone already work on this?

[2020-01-14 15:36] lberk commented on #597
Now that #788 is merged, feel free to close out this issue.

[2020-01-15 15:22] #796 closed

[2020-01-16 20:39] lionelvillard opened #833 "Kafka receiver does not scale"
## Expected Behavior
The Kafka receiver (producer) should scale up/down based on the incoming requests and scale up/down independently of the dispatcher (consumer)

## Actual Behavior
does not scale.

## Additional Info

[2020-01-20 16:40] lionelvillard commented on #751
/milestone v0.13.0

[2020-01-22 09:56] gunnarmorling opened #841 "Kafka event source doesn't work for key types other than String"
## Expected Behavior
Kafka messages with a key type such as `Integer` or `Long` should be supported.

## Actual Behavior
Using another key type than String will cause the source to fail (see `string(key)` call in _adapter.go_).

## Steps to Reproduce the Problem

  1. Send me Kafka message with a key type that's not a string
  2. Launch the Kafka event source based on that topic
  3.

## Additiona

[2020-01-22 09:59] matzew commented on #841
actual error message is

[code]

commenting out https://github.com/knative/eventing-contrib/blob/master/kafka/source/pkg/adapter/adapter.go#L186 "fixes" the issue

[2020-01-22 10:10] gunnarmorling commented on #841
I think you'd need to have some sort of deserializer concept, which allows to plugin specific key deserializers, similar to e.g. the Kafka console consumer, where they can be specified upon invocation: `key.deserializer=org.apache.kafka.common.serialization.IntegerDeserializer`.

[2020-01-22 10:19] slinkydeveloper commented on #841
Unfortunately @gunnarmorling sarama doesn't have such feature. Or we provide it from kafka source side, or we just encode the key as base64 to be sure it doesn't throw any failure

[2020-01-22 10:51] gunnarmorling commented on #841
I see; yeah, so would be nice to have at least support for the most common types such as string, integer, long before falling back to base64 encoding.

[2020-01-22 11:02] matzew opened #842 "How to deal with embedded CloudEvent message ?"
What if a source is already reading CloudEvents :slightly_smiling_face: ?

Let's assume that that on an Apache Kafka topic we might have some data as CloudEvent already (for what ever reason).

Should we ACK that, and *not* wrap out CloudEvent data around the received CloudEvent ?

Currently this would like:

[code]

[2020-01-22 11:10] slinkydeveloper commented on #842
Note that messages on kafka can be encoded both as binary and structured: https://www.repubblica.it/politica/2020/01/22/news/blitz_di_salvini_a_bologna_protesta_parlamento_tunisino-246373060/?ref=tgpr

I think the correct algorithm should be:

1. check if binary searching for Ce-Specversion header, if yes decode and you have the event
2. If no Ce-specversion exists, check if content-type == applic

[2020-01-22 11:18] matzew commented on #842
/cc @gunnarmorling

[2020-01-22 11:48] gunnarmorling commented on #842
How about making this rather a configuration option on the event source itself? Unless you're expecting a mixture of both CloudEvents and non-CloudEvents on the same topic (which seems not adviseable)?

[2020-01-22 11:51] matzew commented on #842
this might be a thing for other sources as well, not just kafka. Worth to
discuss it next Sources WG call ?

On Wed 22. Jan 2020 at 12:48, Gunnar Morling <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-01-22 12:14] slinkydeveloper commented on #842
Agree, but it's reasonable to assume that on the same topic could live events with different encoding

[2020-01-22 15:09] matzew opened #846 "Kafka HEaders are ignored"
The KafkaSource does ignore Headers of the KafkaRecord....

If the `ConsumerMessage` has headers, they are not set as extensions on the CloudEvent

[2020-01-23 09:03] matzew commented on #842
From @n3wscott

[2020-01-23 14:11] slinkydeveloper commented on #846
/assign

[2020-01-23 15:04] matzew commented on #833
yes! I am very supportive of this !

/cc @davyodom

[2020-01-23 15:28] maschmid opened #851 "kafka consumer_factory consumerGroup.Consume connection errors are ignored"
https://github.com/knative/eventing-contrib/blob/86bac88600f79123e3e29babc33a44007c6ff419/kafka/common/pkg/kafka/consumer_factory.go#L80-L81

consumerGroup.Consume errors are ignored.

While the comment "// If any error, they are reported in error channel, so we can skip this message" suggests it is not needed, it is not exactly true, as it may return connection errors even before the error channe

[2020-01-23 16:42] #846 closed

[2020-01-24 16:35] lionelvillard commented on #833
/label proposal/0.13

[2020-01-28 12:18] slinkydeveloper commented on #851
/assign

[2020-01-29 10:49] #841 closed

[2020-01-29 15:40] n3wscott opened #862 "[GitHubSource] Migrate to sources.knative.dev api group"
## Expected Behavior
The resource is inside of the api group `sources.knative.dev`

## Actual Behavior
`sources.eventing.knative.dev`

/assign bbrowning

[2020-01-29 15:41] n3wscott opened #863 "[KafkaSource] Migrate to sources.knative.dev api group"
## Expected Behavior
The resource is inside of the api group `sources.knative.dev`

## Actual Behavior
`sources.eventing.knative.dev`

/assign bbrowning

[2020-01-29 15:41] n3wscott commented on #863
/assign @lberk

[2020-01-29 15:41] n3wscott commented on #862
/assign @lberk

[2020-01-29 15:42] n3wscott opened #864 "[PrometheusSource] Migrate to sources.knative.dev api group"
## Expected Behavior
The resource is inside of the api group `sources.knative.dev`

## Actual Behavior
`sources.eventing.knative.dev`

/assign syedriko

[2020-01-29 15:44] n3wscott opened #865 "[awssqsSource] Migrate to sources.knative.dev api group"
## Expected Behavior
The resource is inside of the api group `sources.knative.dev`

## Actual Behavior
`sources.eventing.knative.dev`

there are no owners for this in https://github.com/knative/eventing-contrib/blob/master/OWNERS_ALIASES

[2020-01-29 15:44] n3wscott opened #866 "[CouchdbSource] Migrate to sources.knative.dev api group"
## Expected Behavior
The resource is inside of the api group `sources.knative.dev`

## Actual Behavior
`sources.eventing.knative.dev`

there are no owners for this in https://github.com/knative/eventing-contrib/blob/master/OWNERS_ALIASES

[2020-01-29 15:45] n3wscott opened #867 "[CamelSource] Migrate to sources.knative.dev api group"
## Expected Behavior
The resource is inside of the api group `sources.knative.dev`

## Actual Behavior
`sources.eventing.knative.dev`

there are no owners for this in https://github.com/knative/eventing-contrib/blob/master/OWNERS_ALIASES

[2020-01-29 15:48] n3wscott opened #868 "[ceph] Migrate ceph impl to SinkBinding"
`ContainerSource` is deprecated, `SinkBinding` is the new way to add the source contract to a PodSpecable.

`ContainerSource` will be removed in `0.14`

/assign yuvalif

[2020-01-29 15:55] lionelvillard commented on #866
there is: https://github.com/knative/eventing-contrib/blob/master/OWNERS_ALIASES#L27

/assign

[2020-01-30 06:50] matzew commented on #867
/assign @nicolaferraro

[2020-01-30 06:51] matzew commented on #864
/assign @lberk
/assign @aliok
/unassign @syedriko

[2020-01-30 06:51] #866 closed

[2020-01-30 06:53] matzew commented on #867
I've pinged the Camel guys, @n3wscott

[2020-01-30 06:53] matzew commented on #863
/assign @slinkydeveloper

[2020-01-30 06:53] matzew commented on #862
/assign @aliok

[2020-01-30 08:25] nicolaferraro commented on #867
I'm taking this!

[2020-01-30 08:45] aliok commented on #864
I can do this one.

[2020-01-30 08:45] aliok commented on #864
/assign @aliok

[2020-01-30 13:13] matzew commented on #864
/unassign @lberk

[2020-01-31 20:38] lionelvillard opened #879 "KafkaSourceTest is flaky"
## Expected Behavior
it should not be flaky.

[2020-01-31 20:42] lionelvillard commented on #879
@slinkydeveloper

[2020-02-03 08:25] slinkydeveloper commented on #879
/assign me

[2020-02-03 08:25] slinkydeveloper commented on #879
/assign

[2020-02-03 10:22] slinkydeveloper commented on #851
`consumerGroup.Consume` is blocking until the consumer session is closed, so i think it makes sense to send the error back to consumer handler errors channel

[2020-02-03 15:17] #879 closed

[2020-02-03 15:41] #851 closed

[2020-02-03 20:27] #842 closed

[2020-02-04 13:54] #867 closed

[2020-02-04 15:31] #864 closed

[2020-02-04 17:31] kramvan1 opened #891 "GITHUB Webhook error reading config-logging configmap"
## Expected Behavior

no error

## Actual Behavior

logs
[code]

## Steps to Reproduce the Problem

  1. Install knative Serving and Eventing
  2. Install the github.yaml  from 12.1
  3.

## Additional Info

[2020-02-05 21:25] n3wscott opened #894 "Document Sources in eventing-contrib"
From @mattmoor :

Context: I've been trying to consolidate our install docs, and something that popped out of that is trying to incorporate the stuff documented here, which includes a random subset of sources: https://knative.dev/docs/install/knative-custom-install/

Ask: Here's what I'd like to see for every source that lives in Knative in some capacity:
1. a regular release with install instruct

[2020-02-06 02:51] nachocano commented on #894
All of the below sources satisfy point 1 above, i.e., regular release of eventing-contrib. Some, however, do not have a sample that we can link from the install block, or the sample is outdated (e.g., old ApiVersion, CloudEvents 0.1, etc.). Can owners add/update the samples and mark it as done once merged. And include the link as well. Thanks!

- [ ] **AWS SQS**: Sample [here](https://github.com/k

[2020-02-06 02:52] nachocano commented on #894
@sebgoa might be worth taking a look at the new install page, and see if you can add links to TriggerMesh's documentation

[2020-02-06 05:13] mattmoor commented on #894
@nachocano thanks for triaging these!  We should probably get each of these turned into feature tracks that talk about what it will take to carry them to GA with a clear Owner designated on the project.

For the samples that live in this repo, I think that we should try to get them into `knative/docs`?

[2020-02-06 06:01] matzew commented on #894
@nachocano  I am not sure why the KafkaSource sample is outdated ?
I have a related PR to update / simplify the actual install instructions for `KafakSource`... https://github.com/knative/docs/pull/2156

[2020-02-06 06:02] matzew commented on #894
@nachocano I've told @yuvalif already about the case that the `ContainerSource` goes away in some future release. However, now that we do not yet know what the final name for `SinkBinding` is, IMO safe to wait to update, since the API is _only_ deprecated, not yet removed, AFAIK

[2020-02-06 06:05] matzew opened #895 "Document Channels in eventing-contrib"
From @mattmoor :

Context: I've been trying to consolidate our install docs, and something that popped out of that is trying to incorporate the stuff documented here, which includes a random subset of sources: https://knative.dev/docs/install/knative-custom-install/

Ask: Here's what I'd like to see for every source that lives in Knative in some capacity:

1. a regular release with install instruc

[2020-02-06 06:08] matzew commented on #895
The project has two channel implementations,

[] **NATSS:** A little bit of info in [here](https://github.com/knative/eventing-contrib/tree/master/natss/config). But could be improved. @Abd4llA any means to update this?
[] **Apache Kafka:**  Documentation and install instructions are [here](https://knative.dev/docs/eventing/samples/kafka/channel/index.html).

[2020-02-06 06:18] matzew opened #896 "Remove KafkaSource Statefulset"
The KafkaSource comes with a `Statefulset`, but in theory a `Deployment` should be good enough.

We had done similar updates for the channel in the past.

[2020-02-06 06:18] matzew commented on #896
/assign

[2020-02-06 06:18] matzew commented on #896
The sample source repo has a PR 11, that does some of that there too.

[2020-02-06 07:22] matzew commented on #894
@lberk @nachocano while I was at docs, I did PR an update to move the GH source forward to recently renamed `soruces.knative.dev` group

NOTE: Kafka Source is NOT yet there .....   PR will come ;-)

[2020-02-06 12:07] #271 closed

[2020-02-06 17:38] nachocano commented on #894
My bad, I was referring to `source.knative.dev`, but just saw your other comment below... One thing though, is that I think there weren't links to the yamls, so in knative.dev you cannot run the example... Users would have to clone the repo...

[2020-02-06 17:38] nachocano commented on #894
Sounds good

[2020-02-06 17:40] nachocano commented on #894
Can you send me a link with some feature track template or good example that you've seen so that I can copy/paste, and update things. I can make a first pass later tonight. Thanks!

[2020-02-10 07:23] Jay-Funk commented on #597
Not sure if this is relevant in this context but since v0.12.2 I experience the behavior that if i sent an event that has **specVersion 0.3** my `kafka-ch-dispatcher` crashed and doesn't recover until i delete the messages in the kafka topic that contain the "wrong" specVersion. Is this behaviour wanted?

[2020-02-10 23:11] grantr commented on #597
That seems like a bug to me. We should still be able to deliver specversion 0.3 events. @Jay-Funk can you open an issue? Thanks for reporting!

[2020-02-11 12:29] vaikas opened #904 "Kafka channel loses broker TTL header"
## Expected Behavior
Using kafka channel out of the box should work with Broker

## Actual Behavior
It does not because it drops the TTL extension header as witnessed by the logs:
{"level":"warn","ts":"2020-02-11T11:48:00.158Z","logger":"broker_filter","caller":"filter/filter_handler.go:190","msg":"No TTL seen, dropping","commit":"b6f2702","triggerRef":"kafka-broker/display-trigger","event":"Valid

[2020-02-11 12:55] #904 closed

[2020-02-11 14:24] FWiesner opened #909 "Make Kafka consumer group information or Trigger names or Trigger labels available to sinks on event delivery"
## Expected Behavior
Subscriptions to KafkaChannels via Triggers map to different consumer groups on the underlying topic. To implement custom message forwarders that can deal with different external endpoints, it would be required to get a reference from the consumer group to the entity describing the external endpoint. In the most simple solution, the KafkaChannel could therefore allow stamping

[2020-02-11 14:25] matzew commented on #909
/assign @matzew
/assign @lberk

[2020-02-12 07:42] matzew commented on #895
For Kafka we added it to the `knative-with-any-k8s.md `:  https://github.com/knative/docs/pull/2200

[2020-02-12 07:43] matzew commented on #895
NATS PR -> https://github.com/knative/docs/pull/2200

[2020-02-12 07:52] matzew opened #910 "Migrate kafka channel controller to use generated reconciler."
## Proposed Changes
* :gift: Use reconciler gen to implement strongly typed reconcilers.
* 🧽 lots of cleanup around requeue.
* 🧽 lots of cleanup around error events.

See as an example: https://github.com/knative/eventing/pull/2540

/assign @lberk

[2020-02-12 07:53] matzew opened #911 "Migrate kafka source controller to use generated reconciler"
## Proposed Changes
* :gift: Use reconciler gen to implement strongly typed reconcilers.
* 🧽 lots of cleanup around requeue.
* 🧽 lots of cleanup around error events.

See as an example: https://github.com/knative/eventing/pull/2540

/assign @lberk

[2020-02-12 07:54] matzew commented on #911
I guess... we first need to update pkg ... ?

[2020-02-12 07:54] matzew commented on #910
I guess... we first need to update pkg ... ?

[2020-02-12 07:54] vaikas commented on #895
The original ask quoted was for sources, I think we should have both tracked, one for channels and one for sources.