[2020-02-12 07:55] matzew commented on #895
Sources are here, @vaikas   https://github.com/knative/eventing-contrib/issues/894

[2020-02-12 07:56] vaikas commented on #895
sorry :) the quote pasted to the issue definition talks about sources :)

[2020-02-12 09:56] vaikas opened #915 "Fix the TODO in the kafkachannel_test"
There's a TODO: Fix in here (that I don't know what it's about). SO this is tracking that :)
https://github.com/knative/eventing-contrib/blob/master/kafka/channel/pkg/reconciler/controller/kafkachannel_test.go#L340
(and a few other places in that file.
			// TODO fix
			kafkachannelInformer: nil,

[2020-02-12 10:00] #608 closed

[2020-02-12 10:00] slinkydeveloper commented on #608
Not relevant anymore

[2020-02-12 15:36] vaikas opened #917 "Kafka e2e tests with parallelism do not seem happy."
When running e2e tests with Kafka, they do not seem to like parallelism.
As seen with:
https://github.com/knative/eventing-contrib/pull/906

There was some issues with running parallel tests. Submitted with 1 so we at least get some test coverage and prevent basic functionality regressions.

[2020-02-12 15:49] mattmoor commented on #895
I think I cross-posted the same thing to channels as a "We should do this for channels too" so probably my bad :)

[2020-02-12 16:36] n3wscott commented on #911
yes we need pkg updated.

[2020-02-12 16:50] matzew commented on #911
@lberk   can you do that first ?

[2020-02-12 17:06] lberk commented on #911
pkg update PR in #919

[2020-02-12 18:41] lionelvillard commented on #911
/label source/kafka
(testing)

[2020-02-12 19:00] lberk commented on #911
/label area/Kafka
(perhaps?)

[2020-02-12 21:29] ajp-lqx commented on #904
Ran into this issue today and found these PRs. Was able to pull the latest master, build the kafka channel dispatcher, write a quick Dockerfile, and replace the image for my kafka-ch-dispatcher as a quick-fix for now, but was curious on what schedule are patch releases made? Additionally, I was not able to find a Dockerfile for anything in eventing-contrib, is this on purpose or am I simply not se

[2020-02-12 21:49] lionelvillard opened #921 "Kafka webhook secret error"
## Expected Behavior
no error

## Actual Behavior
seeing this in the log:

[code]

## Steps to Reproduce the Problem

  1. Deploy the KafkaChannel

## Additional Info

[2020-02-13 04:33] vaikas commented on #904
First of all, great to hear it fixed the issue 💪
eventing-contrib has the releases here, we do not release Dockerfiles, but Images. We'll try to see about getting a patch release out today including these fixes.

[2020-02-13 04:34] vaikas commented on #904
aaaand, by here, I mean here: 😄
https://github.com/knative/eventing-contrib/releases

[2020-02-13 06:06] matzew commented on #911
/label source/kafka

[2020-02-13 06:06] matzew commented on #911
works :-) @lberk @lionelvillard

[2020-02-14 12:31] matzew commented on #910
/label channel/kafka

[2020-02-14 12:31] matzew commented on #909
/label channel/kafka

[2020-02-14 12:36] matzew commented on #895
Last missing piece is https://github.com/knative/docs/pull/2214  from @nachocano

@nachocano once your PR merges, can you close this ?

[2020-02-14 14:16] ajp-lqx commented on #904
Sounds good thank you :)

[2020-02-14 17:48] nachocano commented on #895
Sure!

[2020-02-14 21:31] #895 closed

[2020-02-17 14:04] matzew commented on #909
@FWiesner can you please update info's on the use-case here?

Not sure if the proposed feature would less or more leak internals of the implementation to the outbound consumers.

[2020-02-17 14:05] matzew commented on #921
was this occuring on some cloud? or is the issue visible in pure minikube / KIND ?

[2020-02-17 14:06] matzew commented on #921
I guess we just need a list in here :-)

https://github.com/knative/eventing-contrib/blob/master/kafka/channel/config/200-webhook-clusterrole.yaml#L37-L39

[2020-02-17 16:37] FWiesner commented on #909
Hi @matzew,

think of this use case:
- you have one type of event with low to medium occurrence rate
- your listeners are unreliable and could be individually offline for maintenance over whole weekends
- you therefore want different consumer groups for each listener because of independent delivery/retries --> different Triggers, ~7 days message TTL
- here the message sink that Knative Eventing se

[2020-02-17 16:44] software2Daniel commented on #921
You are shy enter this article and you can see the careers you can study
https://sites.google.com/aprendizajesignificativo.org/soytmido/p%C3%A1gina-principal

[2020-02-17 16:46] FWiesner commented on #909
the most generic solution I could think about here, which doesn't leak internal information of the KafkaChannel, would be that the Triggers that get registered, could carry a label that would be stamped on every message delivered for the Trigger. Then information about the consumer group is not needed

[2020-02-17 17:51] matzew commented on #921
@vaikas spam?

On Mon 17. Feb 2020 at 17:44, software2Daniel <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2020-02-17 18:49] maschmid opened #933 "E2E test for Kafka Channel redelivery"
Cloned from https://github.com/knative/eventing/issues/1275

Problem
Kafka Channel supposedly supports Redelivery (according to https://github.com/knative/eventing-contrib/blob/release-0.12/test/config.go#L29 ), we don't test this in an e2e test

Exit Criteria
An E2E test case is added to verify the redelivery feature for Kafka Channel

[2020-02-17 21:07] software2Daniel commented on #921
Enter article to know the articles related to sports sciences and if your career can be your profession
Enter now
https://sites.google.com/aprendizajesignificativo.org/cienciasdeldeporte/p%C3%A1gina-principal

[2020-02-18 14:41] matzew opened #935 "Remove stateful set after 0.13 cut"
In https://github.com/knative/eventing-contrib/pull/930  we add a `Deployment` and scale the `Statefulset` to `0`

## Steps to do
  1. in 0.14 - right after 0.13 cuts, we will remove this

/assign @matzew

[2020-02-18 15:46] #921 closed

[2020-02-18 16:44] #896 closed

[2020-02-18 19:51] lionelvillard opened #936 "Update couchdb kivik lib to latest version"
to pick up this fix: https://github.com/go-kivik/kivik/issues/420

When this is done, we can avoid patching the library. See
https://github.com/knative/eventing-contrib/blob/master/hack/update-deps.sh#L45

[2020-02-19 15:09] lberk commented on #911
Fixed in https://github.com/knative/eventing-contrib/pull/937

[2020-02-19 15:09] lberk commented on #911
/close

[2020-02-19 15:15] #911 closed

[2020-02-20 11:17] matzew opened #942 "RBAC issue kafkachannel and broker.spec.config"
## Expected Behavior

new broker works w/ KafkaChannels

## Actual Behavior

it does not work

## Additional Info

[code]

[2020-02-20 11:17] matzew commented on #942
/assign @matzew

[2020-02-20 13:47] matzew commented on #942
I am getting `yes`,  with

[code]

(as well when using the `-n knative-eventing` argument)

[2020-02-20 14:41] #751 closed

[2020-02-20 14:54] FWiesner opened #944 "Please add support for Kafka's partition key header"
## Expected Behavior
Expectation is that
https://github.com/cloudevents/spec/blob/master/kafka-protocol-binding.md#31-key-attribute
is supported with `KafkaChannel` (or a separated out `KafkaSink`). That way inserting messages into the Broker with a set `key` header won't lead to a `ce_key` header sent to the underlying Kafka transport, but the header will actually be named the way Kafka expects i

[2020-02-20 14:59] matzew commented on #942
not just with the `config` filed,  but also with the `channelTemplateSpec`:

[code]

I am getting the error

[2020-02-20 15:22] vaikas commented on #942
can you run the auth command with watch, get and other commands as well?

[2020-02-20 15:38] matzew commented on #942
so, just tested the 0.12 - and it works there, so this is a regression with the broker coming in 0.13

[2020-02-20 15:44] matzew commented on #942
@vaikas `watch`, `get`,`update`, `patch`  all return `yes`

[2020-02-20 22:37] n3wscott opened #947 "delete pkg/controller/sdk"
Use genreconciler

[2020-02-21 00:39] n3wscott opened #949 "AwsSqsSource does not conform to the source ducktype."
https://github.com/knative/eventing-contrib/pull/948/files#r382338416

[2020-02-27 13:45] JosepSampe opened #970 "Requests and limits resources are interchanged when creating a KafkaEventSource"
**Describe the bug**
Trying to update the resources of a kafkaEventSource, the kafka-controller-manager always log messages like this:
[code]
After some tests I realized that the values set to the `resources:requests` in my yaml are set to the `resources:limits` of the deployment, and the values set to the `resources:limits` in my yaml are set to the `resources:requests` of the deployment.

So if

[2020-02-28 15:20] slinkydeveloper commented on #944
/assign

[2020-02-28 15:22] slinkydeveloper opened #974 "Prune eventing-contrib/pkg/channel"
eventing-contrib/pkg/channel contains a duplicate of the code that now lives in https://github.com/knative/eventing/tree/master/pkg/channel, still used by `NatssChannel`, we should prune it

/help

[2020-02-28 15:24] slinkydeveloper opened #975 "Port KafkaSource to cloudevents/sdk-go bindings"
**Problem**
Now the `KafkaSource` adapter uses the `Client` APIs of cloudevents/sdk-go

**Exit Criteria**
`KafkaSource` adapter uses only the [bindings](https://github.com/cloudevents/sdk-go/tree/master/pkg/binding) APIs of cloudevents/sdk-go

**Time Estimate (optional):**
1 week

**Additional context (optional)**
The new bindings API are designed to improve cpu/memory efficiency for transporting

[2020-02-28 15:25] slinkydeveloper opened #976 "Port KafkaChannel to cloudevents/sdk-go bindings"
**Problem**
Now the `KafkaChannel` dispatcher uses the `Client` APIs of cloudevents/sdk-go

**Exit Criteria**
`KafkaChannel` dispatcher uses only the [bindings](https://github.com/cloudevents/sdk-go/tree/master/pkg/binding) APIs of cloudevents/sdk-go

**Time Estimate (optional):**
1 week

**Additional context (optional)**
The new bindings API are designed to improve cpu/memory efficiency for trans

[2020-02-28 15:27] #754 closed

[2020-03-01 12:04] knative-test-reporter-robot opened #977 "[flaky] test/e2e.TestBrokerChannelFlow/TestBrokerChannelFlow-{KafkaChannel_messaging.knative.dev/v1alpha1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlow/TestBrokerChannelFlow-{KafkaChannel_messaging.knative.dev/v1alpha1}
* **Repository name**: eventing-contrib

[2020-03-01 12:04] knative-test-reporter-robot opened #978 "[flaky] test/e2e.TestBrokerChannelFlow"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlow
* **Repository name**: eventing-contrib

[2020-03-01 22:33] slpereira opened #979 "awssqs source example is not running due to Failed to list *v1alpha1.EventType: eventtypes.eventing.knative.dev is forbidden: User "system:serviceaccount:knative-sources:awssqs-controller-manager" cannot list resource "eventtypes" in API group "eventing.knative.dev" at the cluster scope"
**Describe the bug**
The Knative version 0.11.0 installed in kubernetes 1.14 executing on EKS in AWS. When I deployed the awssqs source example, everything is created correctly, but the following error can be viewed in the log of the pod awssqs-controller-manager-0:

E0301 22:22:41.682240       1 reflector.go:125] runtime/asm_amd64.s:1357: Failed to list *v1alpha1.EventType: eventtypes.eventing.kn

[2020-03-02 15:37] vaikas commented on #977
@matzew did you say you might have somebody available to look into Kafka stability issues?

[2020-03-03 12:04] knative-test-reporter-robot opened #983 "[flaky] 1.57% tests failed in repo eventing-contrib on 2020-03-03 10:36:23 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.57% tests failed in repo eventing-contrib on 2020-03-03 10:36:23 +0000 UTC
* **Repository name**: eventing-contrib

[2020-03-04 14:39] AceHack opened #986 "Please support Kube2IAM auth for SQS"
I would like to use the credentials built into the POD via Kube2IAM instead of cred file

[2020-03-04 16:17] pierDipi commented on #598
Hi @sayanh, are you working on this issue?
I would like to submit a PR.

[2020-03-05 12:03] knative-test-reporter-robot opened #990 "[flaky] test/e2e.TestCamelSource"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestCamelSource
* **Repository name**: eventing-contrib

[2020-03-05 14:01] bbrowning commented on #862
This was resolved by #875 and can be closed, right?

[2020-03-05 14:02] bbrowning commented on #863
This was solved by #875 and can be closed, right?

[2020-03-05 14:18] #935 closed

[2020-03-05 14:55] lberk commented on #862
Correct
/close

[2020-03-05 14:55] #862 closed

[2020-03-05 15:00] lberk commented on #863
Specifically #902 after the correct import
/close

[2020-03-05 15:00] #863 closed

[2020-03-05 15:02] lberk commented on #865
Fixed in #956
/close

[2020-03-05 15:02] #865 closed

[2020-03-05 18:54] FWiesner commented on #909
@matzew just thought I should perhaps add a few diagrams.

Current Solution with existing trigger approach
[code]

Proposed Approach
[code]

Btw could this issue be moved to knative/eventing perhaps?

[2020-03-06 16:20] AceHack opened #993 "SQS Source: time.Time: not in RFC3339 format"
**Describe the bug**
When trying to send to in-memory channel or another knative service from SQS Source I receive the following error.

{"level":"error","ts":1583510808.2513373,"logger":"fallback","caller":"http/transport.go:572","msg":"failed to convert http message to event","error":"cannot convert \"52149-06-15T07:22:46Z\" to time.Time: not in RFC3339 format","stacktrace":"knative.dev/eventing

[2020-03-06 19:26] mattmoor opened #994 "Github Source reports everything as fine, when it is not fine"
I would expect the Github source to validate the event types match the rest of the configuration.
 Ideally this would be done in the webhook, but otherwise surfacing failures in the controller would be expected.

What I actually get is as follows...

The resource reports everything is successful 🎉
[code]

However, there's no webhook on github (wtf!)

Here are the controller logs:
[code]

🤦‍♂

cc @

[2020-03-06 19:29] mattmoor opened #995 "Github Source doesn't update Github webhook when autoTLS completes"
What I'd expect is that when the scheme (or other parts) of the `.status.url` in the `ksvc` changes from `http` to `https` the github webhook is updated to the new scheme.

What I actually get is a webhook that still has an `http` scheme.

cc @n3wscott @grantr

[2020-03-06 19:52] duglin commented on #994
Does the CR show anything interesting? Like bad status or any events related to this situation?

[2020-03-06 19:53] duglin commented on #994
From an end-user perspective they shouldn't need to look at the controller to get info on what's wrong - they might not have access to it in some envs.

[2020-03-06 20:41] mattmoor commented on #995
Looks like this keys off of `secure: <bool>` in spec instead of the scheme of the URL produced by serving.

cc @ZhiminXiang

[2020-03-06 20:41] mattmoor commented on #994
@duglin No, the source reports everything as fine.

[2020-03-06 20:52] AceHack commented on #993
I've created a PR that should fix the issue, could someone approve it?  Thanks so much for your help.

[2020-03-06 20:55] mattmoor opened #997 "Github source doesn't seem to create webhook until kicked"
The first time I apply github sources they don't seem to create their webhooks.

After I touch something cosmetic (e.g. change types) and re-apply they come up fine.

cc @n3wscott @grantr

[2020-03-06 21:07] mattmoor commented on #997
/kind good-first-issue

[2020-03-06 23:06] guimou opened #999 "kafkasource receive-adapter stops partition consumer after a few minutes"
**Describe the bug**
I created a KafkaSource object, consuming a Kafka topic and forwarding it (sink) to a KNative Service. It works well at first, consuming topic and passing the message to the Service. But after some time, without any new message to the topic, so being supposedly "idle", I get this in the logs:
[code]
So there seem to be some error, but no detail. It says "while consuming messag

[2020-03-07 12:03] knative-test-reporter-robot opened #1002 "[flaky] 2.25% tests failed in repo eventing-contrib on 2020-03-07 10:35:38 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.25% tests failed in repo eventing-contrib on 2020-03-07 10:35:38 +0000 UTC
* **Repository name**: eventing-contrib

[2020-03-09 12:03] knative-test-reporter-robot opened #1005 "[flaky] test/e2e.TestBrokerDeadLetterSink/TestBrokerDeadLetterSink-{KafkaChannel_messaging.knative.dev/v1alpha1}"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerDeadLetterSink/TestBrokerDeadLetterSink-{KafkaChannel_messaging.knative.dev/v1alpha1}
* **Repository name**: eventing-contrib

[2020-03-09 12:03] knative-test-reporter-robot opened #1006 "[flaky] test/e2e.TestBrokerDeadLetterSink"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerDeadLetterSink
* **Repository name**: eventing-contrib

[2020-03-09 13:38] slinkydeveloper commented on #999
/assign

[2020-03-09 13:42] guimou commented on #999
Before spending too much time on this: I reinstalled AMQ Streams from scratch yesterday, recreated topics with only 3 partitions, and so far, so 15 hours it's still working...

[2020-03-09 13:46] slinkydeveloper commented on #999
@guimou it's not the first time that I heard this issue, sounds like something we didn't understood when we integrated kafka using the library sarama. I probably need to dig a little bit more inside their documentation, probably there is some "idle" timeout or some policy to reconnect after the tcp connection break, but i'm not sure

[2020-03-09 13:50] guimou commented on #999
@slinkydeveloper OK. If you want me to run some tests just reach out, it's a permanent Lab cluster.

[2020-03-10 04:39] mattmoor commented on #997
I believe I found the culprit here.  This still has `.eventing` in it:
https://github.com/knative/eventing-contrib/blob/bc4f495c6c296ad4d98f6d2bc7a2276173aa38da/pkg/apis/sources/register.go#L20

This means that literally every filter call in (at least) the github source will filter away all child informer events:
https://github.com/knative/eventing-contrib/blob/bc4f495c6c296ad4d98f6d2bc7a2276173aa

[2020-03-10 04:42] mattmoor commented on #997
/assign

[2020-03-10 10:11] pierDipi commented on #974
Hi @slinkydeveloper, I would like to work on this issue.
However, as far as I know, if we merge the PR #1008 we will be able to completely remove `eventing-contrib/pkg/channel`.
Is this issue still relevant?

[2020-03-10 10:25] slinkydeveloper commented on #974
Let's merge #1008 and then you can remove this one with another PR.

[2020-03-10 15:04] AceHack opened #1012 "awssqs/cmd/controller/main.go points to incorrect stub reconciler"
**Describe the bug**
https://github.com/knative/eventing-contrib/blob/bc4f495c6c296ad4d98f6d2bc7a2276173aa38da/awssqs/cmd/controller/main.go#L25 points to the incorrect knative.dev/eventing-contrib/awssqs/pkg/client/injection/reconciler/sources/v1alpha1/awssqssource/stub

This causes any SqsSources not to function

 **Expected behavior**
It should point to "knative.dev/eventing-contrib/awssqs/pkg/

[2020-03-10 15:05] AceHack commented on #1012
FYI, I'm working on a PR for this issue

[2020-03-10 15:18] AceHack commented on #993
Closed with #996

[2020-03-10 15:18] #993 closed

[2020-03-10 18:28] #1012 closed

[2020-03-10 22:01] mattmoor opened #1019 "GitHubSource reports obscure error with incorrect scopes"
When I try to use GitHubSource to create an organization-level scope, unless my access token has the "admin:org_hook" scope I get the following error:
[code]

cc @grantr

[2020-03-11 04:32] mattmoor commented on #997
This is now fixed.

[2020-03-11 04:32] #997 closed

[2020-03-11 16:48] #986 closed

[2020-03-11 19:22] #995 closed

[2020-03-16 00:18] mattmoor commented on #1019
test comment

[2020-03-17 14:38] lionelvillard opened #1032 "Multi-Tenant GitHubSource"
**Problem**
GithubShource is not multi-tenant, which is a waste of resources.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
Create 2 github sources, only one Kservice should exist.

**Time Estimate (optional):**
How many develo

[2020-03-17 14:41] lionelvillard commented on #1032
/assign

[2020-03-17 16:12] slinkydeveloper commented on #947
Duplicate of https://github.com/knative/eventing-contrib/issues/974

[2020-03-17 16:12] slinkydeveloper opened #1034 "Prune pkg/kncloudevents"
Use the one from eventing

[2020-03-18 13:19] #1034 closed

[2020-03-18 14:09] #975 closed

[2020-03-18 14:36] slinkydeveloper opened #1041 "Port NatssChannel to cloudevents/sdk-go bindings"
**Problem**
Now the `NatssChannel` dispatcher uses the `Client` APIs of cloudevents/sdk-go

**Exit Criteria**
`NatssChannel` dispatcher uses only the [bindings](https://github.com/cloudevents/sdk-go/tree/master/pkg/binding) APIs of cloudevents/sdk-go

**Time Estimate (optional):**
1 week

**Additional context (optional)**
The new bindings API are designed to improve cpu/memory efficiency for trans

[2020-03-18 14:40] pierDipi commented on #1041
/assign

[2020-03-18 15:03] #598 closed

[2020-03-18 15:20] slinkydeveloper commented on #974
/assign pierDipi

[2020-03-18 15:20] slinkydeveloper commented on #944
The spec is not clear about what the key attribute means, there is some discussion ongoing about it: https://github.com/cloudevents/spec/issues/571

[2020-03-19 14:21] #974 closed

[2020-03-19 16:46] #976 closed

[2020-03-20 09:33] Fabian-K opened #1048 "GitHubSource: Missing RBAC rules for mutating & validating webhook configurations"
**Describe the bug**
I´m installing the GitHubSource using the provided yaml of the release. Without modifications, the webhook controller prints the following errors:
[code]

Were the RBAC roles for this left out intentionally?

 **Knative release version**
I checked v0.13.2 and v0.12.3

Thanks,
Fabian

[2020-03-20 12:05] #977 closed

[2020-03-20 12:05] #978 closed

[2020-03-20 19:16] AceHack opened #1049 "KafkaChannel: missing RBAC for webhook certs"
**Describe the bug**
https://github.com/knative/eventing-contrib/blob/6809717129cb7c917fe163397fb4f1a86aaff14e/kafka/channel/config/200-webhook-clusterrole.yaml#L32-L41

Is missing "update"

 **Expected behavior**
Webhook able to update config

 **To Reproduce**
Install KafkaChannel

 **Knative release version**
Tested in 0.11.3 but appears to also exist in future versions as well.

[2020-03-20 20:25] duglin opened #1050 "Kafka source silently drops events if they're not JSON"
**Describe the bug**

When I send a message to my Kafka via:
[code]
the message appears to be dropped w/o any kind of error message generated in the Kafka Source logs.  When I change `bbbb` to `{"msg":"foo"}` then it works. So it appears that the code is assuming that a msg w/o a content type is JSON and then something goes wrong after that.

 **Expected behavior**

Preferred: msg is sent to sink

[2020-03-20 20:37] duglin opened #1051 "Kafka source: allow for parallelism"
**Problem**
If ordering matters to application/user then the current processing of the Kafka event source makes sense - it will serialize the processing of events for a partition. However, if the application does not care about ordering then serializing the processing can then become a bottleneck.

I'm wondering if it would make sense to allow for two new config knobs on the Kafka Event Source:
1

[2020-03-21 02:55] tom24d commented on #994
Hi! @mattmoor I would like to work on this issue as my first contribution.

I think the type of GitHubSource should have "GitHubSourceConditionWebhookProvided" to manage its condition. Then, adding some functions around type definition and reconciler/githubsource.go:237 to mark the conditions would be work in my thought.

It would be my pleasure if there is problems.

Thanks,

[2020-03-21 03:00] tom24d commented on #994
I mean it would be my pleasure to point out if there is problems.

[2020-03-21 14:46] mattmoor commented on #994
Yeah, I think a new condition that's toggled based on the state of the webhook registration sounds like what's missing, been a little bit since I poked through the code.

[2020-03-23 08:16] slinkydeveloper commented on #1051
I don't get what parallelism means for you in this context. KafkaSource is based on sarama consumer groups, which spawns automatically one goroutine per partition. Then, the dispatch is done synchronously inside the "partition goroutine" aka no new message is processed from that partition until the previous message is handled. So where these two flags should act?

[2020-03-23 08:18] slinkydeveloper commented on #1050
@duglin So do you think the preferred behaviour is sending the message to the sink without content-type?

[2020-03-23 12:37] duglin commented on #1050
@slinkydeveloper probably since it might be better to be silent than to lie about what the type is. However, I can't seem to reproduce the "silently drops" part of this any more. I thought I tested this from 'master' the other day but I might have been mistaken as it looks like it's working now.  I would close this issue but do you think the content-type aspect is something worth changing?

[2020-03-23 12:42] slinkydeveloper commented on #1050
I don't have a strong opinion on it.

@matzew wdyt?

[2020-03-23 12:50] slinkydeveloper commented on #1050
What I find curious is that cloudevents spec doesn't force an user to MUST set datacontenttype when data is set and viceversa, so dropping because it's "invalid" is not an option in this case because the produced event is still valid, even if it doesn't specify the content type

[2020-03-23 12:52] duglin commented on #1051
First, keep in mind that I'm relative new to Kafka so this may not make any sense within "normal" usage of Kafka, and if so then I'll just close this issue.  However, as I was playing with our Kafka eventSource I was trying to figure out the best way to configure things.

As you noted, sarama will create one go routine per partition, and then serializes all event processing within that go routine.

[2020-03-23 13:59] slinkydeveloper commented on #1051
This depends on several aspects, both on client and on broker side. Look at this article: https://www.confluent.io/blog/how-choose-number-topics-partitions-kafka-cluster/

A couple of months ago I experimented writing a dispatcher that asynchronously popped the message from the partition and then enqueue to dispatch it through http (https://github.com/knative/eventing-contrib/issues/608). The disp

[2020-03-23 19:48] duglin opened #1055 "Kafka source - comma or array for servers and topics"
**Problem**

Today, for the Kafka event source, when people specify the list of bootstrap servers or topics, they're comma separated lists. When these lists get long (e.g. I'm messing with a usecase with ~100 topics), I'm wondering if a real array wouldn't be easier for people to manage.  And for consistency, I have the same question for the list of bootstrap servers.

**[Persona:](https://github.

[2020-03-23 19:53] duglin opened #1056 "Kafka source - allow for consumer group to be optional"
**Problem**

Today the `consumerGroup` property on the Kafka event source is a required property. While I understand why it's important and while the Kafka library we're using (or even Kafka itself) might require a value, I'm wondering if we should make it optional for the KnEventing users.

If the user is only ever going to have one Event Source in that consumerGroup, then asking them to provide

[2020-03-23 22:26] lberk commented on #1051
/label source/kafka

[2020-03-24 10:11] pierDipi commented on #1041
Stan binding implemented https://github.com/cloudevents/sdk-go/pull/322.
This issue needs an `sdk-go` release and then it's ready.

[2020-03-24 13:37] lionelvillard commented on #1048
/assign

[2020-03-24 13:49] lionelvillard opened #1058 "Github resource deletion stuck when external webhook does not exist"
**Describe the bug**
The Github finalizer is not removed when the external webhook is not found.

 **Expected behavior**
The finalizer should be removed when 404 is returned when trying to delete the webhook

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-03-24 13:56] pierDipi commented on #642
/assign

[2020-03-24 14:10] Fabian-K commented on #1048
Cool, thanks for picking this up! I think updating Secrets in the knative-sources namespace is also required.

[2020-03-24 14:22] lionelvillard commented on #1048
@Fabian-K which Secrets?

[2020-03-24 15:03] Fabian-K commented on #1048
I see the following in the logs.

[code]

Maybe those are the certificates to call the Webhooks?

[2020-03-24 15:12] n3wscott commented on #1041
@pierDipi https://github.com/cloudevents/sdk-go/releases/tag/v2.0.0-prevew7

[2020-03-24 15:12] lionelvillard opened #1062 "Github controller seems to do extra work"
**Describe the bug**
When creating a GitHub source, the reconcile loop is invoked 8 times!

 **Expected behavior**
The reconcile loop should run no more than twice (best case scenario). (once for creation, then once for the finalizer/status udate).

 **To Reproduce**
Create a GithubSource

 **Knative release version**

 **Additional context**

[code]

cc @n3wscott

[2020-03-24 16:00] pierDipi commented on #1041
@n3wscott @slinkydeveloper https://github.com/knative/eventing/pull/2829
As a side note, the release name is mistyped

[2020-03-24 16:02] lionelvillard commented on #1062
Is it possible that a key is added to the queue without checking if it is already there? (IIRC the DeltaFIFO queue supports compression).   @n3wscott @vaikas

[2020-03-24 19:32] n3wscott opened #1066 "Remove waitForKnativeServiceReady in gitlab source."
Can we create issues to track this and the other TODO?

_Originally posted by @vaikas in https://github.com/knative/eventing-contrib/diffs_

[2020-03-24 19:36] n3wscott opened #1067 "Remove UpdateFromLoggingConfigMap from gitlab source."
This is core functionality in other places and should be handled at the controller level, not the reconciler. See eventing and serving on how to do this.

_Originally posted by @n3wscott in https://github.com/knative/eventing-contrib/pull/1064/review_comment/create_

[2020-03-24 19:37] lionelvillard commented on #1062
nvm. 8 times is normal. Lots of updates coming from the underlying ksvc.

[2020-03-24 19:37] #1062 closed

[2020-03-24 19:55] davyodom opened #1070 "Allow cgo builds for channels"
**Problem**
SAP wants to donate a kafka channel implementation https://github.com/kyma-incubator/knative-kafka, and there is a general agreement in the WG that this is desirable. This channel uses librdkafka from confluent, which then requires cgo builds. Knative build and test infrastructure currently has a dependency on all components being built with ko. Ko doesn't support cgo builds in general

[2020-03-24 23:42] tom24d commented on #1048
Hi guys,

I have seen same stuff and it seems that adding RBAC for WebhookConfiguration & Secret won't be enough. I mean it is needed for the future, but it gets temporary failure to crud GitHubSource if the PR is merged.

Here is what I've found.
First, it needs v1/Service for github-webhook. Couchdb has same structure so 400-webhook-service.yaml would help.
Second, 500-webhook-configuration.yaml

[2020-03-25 05:03] tzununbekov commented on #1066
I can take this one

/assign

[2020-03-25 11:46] pierDipi commented on #1041
@slinkydeveloper @n3wscott https://github.com/knative/eventing-contrib/pull/1072

[2020-03-25 14:33] #994 closed

[2020-03-25 16:28] slinkydeveloper commented on #1070
Is it feasible to create another build/test pipeline (eg based on docker), removing the need of using `ko` to build/test/deploy this particular channel?

[2020-03-25 22:32] #1041 closed

[2020-03-25 23:02] n3wscott opened #1074 "migrate kafka channel off reconciler.Base"
We are attempting to remove `reconciler.Base`. Migration needs to happen for this component.

See the [examples](https://github.com/knative/eventing/pulls?q=is%3Apr+reconciler.Base+is%3Aclosed).

[2020-03-25 23:03] n3wscott opened #1075 "migrate couchdb source off reconciler.Base"
We are attempting to remove `reconciler.Base`. Migration needs to happen for this component.

See the [examples](https://github.com/knative/eventing/pulls?q=is%3Apr+reconciler.Base+is%3Aclosed).

[2020-03-25 23:04] n3wscott opened #1076 "migrate github source off reconciler.Base"
We are attempting to remove `reconciler.Base`. Migration needs to happen for this component.

See the [examples](https://github.com/knative/eventing/pulls?q=is%3Apr+reconciler.Base+is%3Aclosed).

[2020-03-25 23:04] n3wscott opened #1077 "migrate natss channel off reconciler.Base"
We are attempting to remove `reconciler.Base`. Migration needs to happen for this component.

See the [examples](https://github.com/knative/eventing/pulls?q=is%3Apr+reconciler.Base+is%3Aclosed).

[2020-03-25 23:05] n3wscott commented on #910
/close

[2020-03-25 23:05] #910 closed

[2020-03-26 09:18] tom24d commented on #1058
I would like to work on this.
Before that, I want to confirm about the step.
Did you delete the webhook manually on GitHub website after registering and get finalize loop(stuck)?

[2020-03-26 09:59] tom24d commented on #1058
In addition, it gets also stuck when Secret for webhook does not exist. Should it be removed then?

[2020-03-26 11:05] pierDipi commented on #1077
/assign

[2020-03-26 11:55] tom24d commented on #1076
/assign

[2020-03-26 12:17] pierDipi commented on #1074
/assign

[2020-03-26 12:52] lionelvillard commented on #1058
thanks @tom24d for picking this up! TBH I don't know what I did. Might be I deleted the secret, not the webhook. Then the finalizer retries and try again to delete the webhook. Something like that.

/assign @tom24d

[2020-03-26 13:09] lionelvillard commented on #1075
/assign

[2020-03-26 15:41] #1075 closed

[2020-03-27 11:13] Fabian-K opened #1084 "GitHubSource: Creation of GitHubSource instances fail"
**Describe the bug**
I´ve applied a fix for #1048 locally such that the webhooks can be successfully registered. After this, the creation of new GitHubSources fail with
[code]
Looks like a service definition is missing that so far was not noticed as the webhooks were not registered due tu #1048 ?

 **To Reproduce**
- install github source
- add rbac permissions for webhook registration
- try to cr

[2020-03-27 11:28] Fabian-K opened #1085 "GitHubSource: Deletion stuck when sink is deleted first"
**Describe the bug**
The deletion of a GitHubSource is stuck when the Sink of the GitHubSource is deleted first. This is similar to #1058

Controller logs:
[code]

 **Expected behavior**
A missing sink should not prevent the deletion of the GitHubSource

 **To Reproduce**
- create a Sink
- create a GitHubSource referencing the Sink
- delete the Sink
- delete the GitHubSource

[2020-03-27 12:05] knative-test-reporter-robot opened #1086 "[flaky] 1.51% tests failed in repo eventing-contrib on 2020-03-27 10:36:28 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.51% tests failed in repo eventing-contrib on 2020-03-27 10:36:28 +0000 UTC
* **Repository name**: eventing-contrib

[2020-03-27 14:36] softputer opened #1087 "Kafkasource Apigroup is not the same"
**Describe the bug**
i have deployed kafkasource following the official
 website:https://knative.dev/docs/eventing/samples/kafka/source/

According to the guidance, the Apiversion is : kafkasources.sources.eventing.knative.dev
but the Apiversion in this  source code  is  kafkasources.sources.knative.dev

so when I am coding to get the kafkasources ,there is error  :
[code]
the code is below

[code

[2020-03-27 20:31] mattmoor commented on #1070
cc @chaodaiG for an infra perspective
cc @jonjohnsonjr for the ko side of things

I think it's worthwhile for us to figure out how we support Dockerfile-based stuff in `*-contrib` and `knative-sandbox`, even if it isn't our happy-path for most folks.

[2020-03-27 20:34] mattmoor commented on #1070
Another option here would be to consider the use of Bazel, which does not require Docker and may have the flexibility needed to even cross-compile things.

[2020-03-27 23:39] chaodaiG commented on #1070
Prow can do docker based build using DIND, so technically it's doable if the build/test is docker based

[2020-03-28 15:51] #1076 closed

[2020-03-29 21:10] AceHack opened #1090 "KafkaSource: Two controllers, statefulset and deployment"
**Describe the bug**
There are two KafkaSource controllers, one statefulset, and one deployment, there should be only one

 **Expected behavior**
When deploying KafkaSource there should be only one controller

 **To Reproduce**
Deploy KafkaSource.

 **Knative release version**
0.13.3

[2020-03-29 21:31] AceHack opened #1091 "KafkaSource: Failed to get a valid metrics config"
**Describe the bug**
I get the following error on startup of the controller

[code]
**Expected behavior**
No errors to happen on startup of the controller

 **To Reproduce**
Install KafkaSource

 **Knative release version**
0.13.3

[2020-03-29 23:18] lberk commented on #1090
@grantr seems like the StatefulSet is still in the release yaml, but @matzew removed it in #989?

[2020-03-30 08:24] tzununbekov commented on #1067
/assign

[2020-03-30 13:29] lionelvillard commented on #1090
The StatefulSet replicas count has been set to 0 for 0.13.x and will be completely remove in 0.14.

[2020-03-30 13:29] #1090 closed

[2020-03-30 13:31] pierDipi commented on #1091
@AceHack I cannot reproduce this issue.
what is the output of the command `kubectl get configmap -n knative-sources`?
Is there a `config-observability` ConfigMap?

[2020-03-30 18:44] #1066 closed

[2020-03-30 19:16] AceHack commented on #1091
Mine has a weird 2 in it to start with, must be some hidden character somewhere, I'll try to find it.  Does not even show up in describe, only -oyaml.

[code]

[2020-03-30 19:43] AceHack commented on #1091
Well, I got rid of that weird 2 and everything is fixed.  Still not sure how it got there, but thanks for the help,

[2020-03-30 19:43] #1091 closed

[2020-03-30 20:01] #1074 closed

[2020-03-31 07:08] matzew commented on #1055
yeah, sounds good !

/cc @lionelvillard

[2020-03-31 07:08] matzew commented on #1056
seems reasonable to me

/cc @lionelvillard

[2020-03-31 07:10] slinkydeveloper commented on #1070
Did we ever considered to move all kafka code to another repo, say knative/eventing-kafka?
On this "new" repo we could easily have our custom build process without attaching the one of eventing-contrib and easily work on the merge of the existing channel with the new one

[2020-03-31 12:21] tzununbekov commented on #1085
@Fabian-K I think this issue is already fixed in the upstream.
Error message that you posted is pointing to `"reconciler/githubsource.go:136"` line which had reconciler error log in the latest [release](https://github.com/knative/eventing-contrib/blob/36354728e3482cfa066c34d460acba8f9eeaf273/github/pkg/reconciler/githubsource.go#L136), but it's not the case for current [master](https://github.com/

[2020-03-31 13:29] lionelvillard commented on #1055
@aslom

[2020-03-31 13:29] lionelvillard commented on #1056
@aslom

[2020-03-31 16:51] AceHack opened #1097 "Security: Please set pod Security Context on all Pods"
Many companies have a security requirement in place that all pods must not run as root and set the run as user.  Please set this (Or allow it to be set) on all pods.  This would mean either adding it yourself or adding it to any CRDs that end up creating pods so the user can set it.  Note this is at the pod level, not the container level.  I will be creating a separate feature request for the cont

[2020-03-31 16:59] AceHack opened #1098 "Security: Please set container Security Context on all Containers"
Many companies have a security requirement in place that all containers must have a read-only file system and not allow privileged escalation.  Please set this (Or allow it to be set) on all containers.  This would mean either adding it yourself or adding it to any CRDs that end up creating containers so the user can set it.  Note this is at the container level, not the pod level.  I have created

[2020-03-31 17:21] AceHack opened #1099 "Operations: Please allow setting nodeSelector, tolerations, and affinity on all Pods"
Most companies with complex enough kubernetes deployments that have multiple different node groups require some sort of topology selection so pods will run on the correct group of nodes.  Please allow setting nodeSelector, tolerations, and affinity on all Pods to accomplish this.  This includes adding it to any CRDs that create pods so these values are settable.

https://kubernetes.io/docs/concept

[2020-04-01 04:10] AceHack opened #1100 "AwsSqsSource: cannot set sink to Kafka channel"
AwsSqsSource does not have the correct cluster roles to talk to a KafkaChannel.  I see a TODO in the comments that says:

TODO on these and the eventing ones that this should be replaced with an aggregated role for watching Addressables.
  - eventing.knative.dev

This task should be completed to allow AwsSqsSources to target KafkaChannels.

[2020-04-01 13:33] #642 closed

[2020-04-01 18:40] markfisher commented on #1051
if async concurrency is added on the dispatching side, how would the (per-partition) offset be managed? ordered processing within a partition and consumer-driven offset management per-partition go hand-in-hand, whereas for load-balancing off a shared queue, other messaging systems with that model would probably be a better fit

[2020-04-01 21:38] #1058 closed

[2020-04-01 22:06] #1048 closed

[2020-04-02 06:15] #1067 closed

[2020-04-02 13:18] duglin commented on #1051
yea, this is where my newbie-ness with Kafka was shining thru and the more I played with kafka the more I was wondering if Kafka was the right choice for this particular customer.

Will probably just close this soon, but @markfisher let me ask you this....
one way I found to get the throughput I needed was to increase the # of partitions per topic. In particular, I made it around 200 and that seem

[2020-04-02 13:54] markfisher commented on #1051
@duglin I think the article @slinkydeveloper referenced above is a good starting point:
https://www.confluent.io/blog/how-choose-number-topics-partitions-kafka-cluster/

This article describes some changes in 1.1 that significantly improve support for a high number of partitions in a cluster relevant to some of the tradeoffs discussed in the original (2015) article:
https://www.confluent.io/blog/a

[2020-04-02 14:45] n3wscott opened #1102 "Fix NATSS channel tests for cloudevents Preview8."
Fix NATSS channel tests for cloudevents Preview8.

_Originally posted by @n3wscott in https://github.com/knative/eventing-contrib/pull/1082/files#r402369927_

[2020-04-02 15:00] aslom commented on #1070
For new eventing-contrib-kafka repo what wold be dependency? Depends only on eventing or also on eventing-contrib?

[2020-04-02 15:21] n3wscott commented on #1070
In the CloudEvents golang SDK we have no plans to support integrations with `librdkafka`. So if this is the path the kafka components go, they will need to also rewrite the sdk protocol bindings. The build complications are not worth the effort in the opinion of the sdk authors.

[2020-04-02 19:26] davyodom commented on #1070
We currently have a dependency on eventing alone, but are considering converting to a dependency on eventing-contrib (and then a transitive dependency on eventing) so that we share the same KafkaChannel API, supporting the idea of easy developer experience to use on implementation or the other.  Should make convergence an easier task then as well hopefully.  Still looking at it to see if it seems

[2020-04-02 19:27] slinkydeveloper commented on #1070
Agree, less we break, better it is

[2020-04-02 19:36] davyodom commented on #1070
Understandable, would the correct path be to write a /protocol/kafka_confluent in another repo, and then figure out how to build a version which includes it?  Is there some easy way to add external 'protocols'?  I haven't looked too deeply into it yet ....

[2020-04-03 01:02] duglin commented on #297
@n3wscott I think you close this on by mistake - this isn't about gcp

[2020-04-03 06:42] slinkydeveloper commented on #1070
@davyodom I think we can host here the protocol, it's not so big. We can put it in `kafka/common`

Yeah don't worry, for what we need in channels it's 1 data structure and 1 function, and of course the test for these :smile: . I can take this action item when we land the kafka channel code in knative

[2020-04-03 10:37] pierDipi commented on #1102
/assign

[2020-04-03 13:03] pierDipi commented on #1049
Fixed https://github.com/knative/eventing-contrib/pull/1082

/close

[2020-04-03 13:19] slinkydeveloper commented on #1049
/close

[2020-04-03 13:19] #1049 closed

[2020-04-03 14:00] #1077 closed

[2020-04-03 14:00] #1102 closed

[2020-04-03 15:56] n3wscott commented on #1100
/good-first-issue

See how we use the addressable RBAC role in other components. search for "duck.knative.dev/addressable"

[2020-04-05 10:55] pierDipi commented on #933
/assign

[2020-04-05 11:00] pierDipi opened #1105 "E2E test for Natss Channel redelivery"
Cloned from knative/eventing#1275

Problem
Natss Channel supposedly supports Redelivery (according to https://github.com/knative/eventing-contrib/blob/master/test/config.go#L37), we don't test this in an e2e test

Exit Criteria
An E2E test case is added to verify the redelivery feature for Natss Channel

[2020-04-05 11:08] pierDipi commented on #1105
/assign

[2020-04-05 11:20] pierDipi commented on #1105
blocked by https://github.com/knative/eventing/issues/2912

[2020-04-06 22:53] mattmoor opened #1108 "GitlabSource should implement apis.Validatable and apis.Defaultable"
cc @sebgoa @tzununbekov

Then we should set up the webhooks for these source types like in this PR: https://github.com/knative/eventing-contrib/pull/1107

[2020-04-06 22:54] mattmoor opened #1109 "CamelSource should implement apis.Validatable and apis.Defaultable"
cc @nicolaferraro @matzew

Then we should set up the webhooks for these source types like in this PR: https://github.com/knative/eventing-contrib/pull/1107

[2020-04-06 22:56] mattmoor opened #1110 "AWSSQSSource should implement apis.Validatable and apis.Defaultable"
cc @n3wscott  @AceHack (no OWNERS for this, so CCing a bit blind)

Then we should set up the webhooks for these source types like in this PR: https://github.com/knative/eventing-contrib/pull/1107

[2020-04-06 22:57] mattmoor opened #1111 "PrometheusSource should implement apis.Validatable and apis.Defaultable"
cc @syedriko @matzew

Then we should set up the webhooks for these source types like in this PR: https://github.com/knative/eventing-contrib/pull/1107

[2020-04-07 05:58] tzununbekov commented on #1108
/assign

[2020-04-07 07:40] nicolaferraro commented on #1109
Looks interesting. Unfortunately we had to leave some parts of the camel source unstructured because the Camel YAML DSL is not strictly defined yet, but there are other parts that can be validated.

[2020-04-07 13:51] mattmoor commented on #1109
This is mostly about validating and defaulting what you can, exhaustiveness isn't required.

[2020-04-07 14:05] pierDipi commented on #753
@lionelvillard Does https://github.com/knative/eventing-contrib/pull/1114 solve/relate to your issue?

[2020-04-07 14:09] pierDipi commented on #596
Does https://github.com/knative/eventing-contrib/pull/1114 solve/relate to this issue?

[2020-04-07 14:22] lionelvillard commented on #753
it's a good start! We started to support retries at the CloudEvent SDK level. See https://github.com/cloudevents/sdk-go/commit/abe312410b9835bd8317f9304868d9e7546ed2be.

[2020-04-07 14:38] matzew commented on #1056
perhaps we prefix it like `knative-kafka-source-FANCY_UUID`

[2020-04-07 15:22] aslom commented on #1056
Where would it be stored? Does it get preserved across pod restarts?

ALso it may be surprising for users - similar functionality question: https://stackoverflow.com/questions/43118671/kafka-consumer-default-group-id

[2020-04-07 17:08] evankanderson commented on #1097
We're going to track this in https://github.com/knative-sandbox/operator/issues/3 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:08] #1097 closed

[2020-04-07 17:09] evankanderson commented on #1099
We're going to track this in https://github.com/knative-sandbox/operator/issues/5 and address it comprehensively rather than on a per-repo basis.

/close

[2020-04-07 17:09] #1099 closed

[2020-04-07 17:12] #1098 closed

[2020-04-07 22:05] duglin commented on #1056
One option is to store it in the CR's status section

[2020-04-08 06:14] slinkydeveloper commented on #1050
/assign

[2020-04-08 06:47] slinkydeveloper commented on #1050
Ok so, looking at the code and the [tests](https://github.com/knative/eventing-contrib/blob/master/kafka/source/pkg/adapter/adapter_test.go), I think this is already fixed on master, no messages are dropped if missing the content-type or if they are not json.
However, if the content type is missing, it's assumed to be json. I'll open a PR for that

[2020-04-08 11:05] tzununbekov opened #1119 "GitlabSource Webhook"
Set up webhooks for GitlabSource as described in #1108

[2020-04-08 11:05] tzununbekov commented on #1119
/assign

[2020-04-08 13:57] aslom commented on #1055
Is there a way to make it backward compatible? Supporting both string (for comma separated list) and array of strings?

[2020-04-08 14:06] aslom commented on #1055
Most popular configuration in Java Kafka application properties uses comma separated list: "bootstrap.servers: A list of host/port pairs to use for establishing the initial connection to the Kafka cluster. "

http://kafka.apache.org/documentation/#consumerconfigs
https://jaceklaskowski.gitbooks.io/apache-kafka/kafka-properties-bootstrap-servers.html

[2020-04-08 14:35] #1050 closed

[2020-04-08 15:10] duglin commented on #1055
it should be easy to support both, but might look kind of funky. If the "normal" flow is to use a comma for some of these then ok. It just felt odd as I was playing with it - and I was adding over a 100 entries :-)

I was thinking about the case where the yaml is in git and if someone changes something the "diff" will just show the entire long line and it might be hard to detect what changed. As s

[2020-04-09 22:15] justinfx opened #1127 "Expose configuration options for SASL SCRAM auth"
**Problem**
Our Kafka cluster deployment is set up to require SASL SCRAM SHA512 auth. This seems to be limited in support in different connectors. Would it be possible to add support for SASL SCRAM  configuration of the adapter client?

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
This would enable producers and consumers to co

[2020-04-10 15:26] davyodom commented on #1070
We have a plan to put this channel into a sandbox repo and enable docker based builds there. I'll close the issue after we have something set up and working over there and add some more detailed information here

[2020-04-10 15:29] davyodom opened #1130 "Evaluate deprecation or handover of natss channel"
Current maintainers are considering withdrawing from ongoing maintenance of the natss channel. This issue is to gather information about interest in and adoption of the channel as well as looking for other possible maintainers.

[2020-04-10 16:03] lionelvillard opened #1131 "Multitenant GitHubsource"
I'm opening this issue to start discussing on how to make the GitHubSource adapter multi-tenant.

Following is a plan based on the all various discussions I had on this topic:
- Keep using ksvc for push-based autoscaling
- Make the ksvc private (no public IP)
- Move the ksvc to the system-namespace
- Ideally create a public route. However this is not possible today to create cross-namespace routes

[2020-04-10 16:45] lionelvillard commented on #1131
@mattmoor do you know a better way for creating a public route to a revision in a different namespace?

[2020-04-10 20:07] wallyqs commented on #1130
Hi I'm one of the NATS maintainers and we can try to help with some of the maintenance. Thanks to @pierDipi for reaching out :)

[2020-04-10 20:13] pierDipi commented on #1130
I can help as well.

[2020-04-10 20:22] davyodom commented on #1130
Great news! I'm happy to set up anything useful to help facilitate a transition. We can also discuss in slack and the next eventing channels (aka event delivery) WG.

[2020-04-10 20:41] wallyqs commented on #1130
Thanks!

[2020-04-10 20:42] mattmoor commented on #1131
`serviceNamespace` must match the Ingress namespace.  At one point this wasn't properly validated, but should be now.  cc @tcnghia

Why not just use the Path component on a shared ksvc?

What I had in mind is essentially: `github.knative-sources.my-domain.gom/namespace/name`
When this comes in, you'd fetch the `GithubSource` for `namespace/name` and check the shared secret before forwarding the ev

[2020-04-10 21:12] duglin commented on #1131
For bullets 4 and 5 in the first comment, @julz's thinking around vanity domain might help here.

In our env we'll need to be able to have the namespace as part of the hostname because we do DNS routing at the hostname level, not path.

Just to repeat some of the stuff mentioned in the slack chat we had, for posterity (and please correct me if I'm remembering wrong):
- we also talked about the pos

[2020-04-10 22:45] mattmoor commented on #1131
I wasn't talking about path-based routing.  The only routing is to the shared ksvc, which has a fixed hostname, but it receives requests for all of the GithubSources on the cluster and determines which one via the `namespace/name` in the path.

Let's not conflate this with the tenancy question because it's fairly orthogonal.

See my points above here.  If your concern is leakage, then path -> host

[2020-04-11 14:05] duglin commented on #1131
During the slack chat I forgot that NS is already part of most URLs anyway, so including it for this isn't an issue. Also, for us we do routing across clusters based on the NS in the hostname, so we're hoping that the external URL used by github can be configured to include the user's NS. Once in the cluster, then yes there's a single shared ksvc.

[2020-04-12 01:05] mattmoor commented on #1131
If you have a ksvc that handles GitHubSource per cluster, then it's hostname handles that for you, right?

[2020-04-12 03:41] duglin commented on #1131
Sadly it’s not that easy - in our env the URLs to KnServices are global across the env and we route to a specific cluster based on the NS in the URL. So, each tenant (think NS) only lives in one cluster. But, they might get moved to a new cluster over time, so the DNS will track that and redirect traffic to the new cluster. If the URL to the ksvc isn’t NS based, or is cluster-specific/host based,

[2020-04-12 14:28] mattmoor commented on #1131
If they switch clusters, then they switch to a new "single shared ksvc" and the webhook should be updated in a manner that routes to the new cluster, and all is good?

[2020-04-12 22:35] duglin commented on #1131
It might be possible, but that's a lot of moving parts to synchronize w/o any dropped or duplicate events. One of the reasons the DNS router is in there is so that the moving of tenants to a new cluster would be transparent to all parties.

Thinking more about it... I'm not even sure we could handle a URL to the singleton ksvc if it didn't have a NS and the global domain name in it And a generic N

[2020-04-13 03:23] mattmoor commented on #1131
I think you error on one side or the other of this (generally the system should tolerate duplication).  Exactly once is very unlikely to happen without it being purpose built for your setup, and likely integrated with your rollout.

Two things:
1. I'm happy to 🤓 out and help you resolve this, but I'm getting a bit worried about accommodating all of these requirements upstream without a reasonable

[2020-04-13 11:32] duglin commented on #1131
I'd be happy if we just allow admins to configure the URL of the adapter based on their env.

[2020-04-13 12:04] #1005 closed

[2020-04-13 12:04] #1006 closed

[2020-04-13 14:39] lionelvillard commented on #1131
I think we want to avoid to have to update the webhook because it will be very hard to avoid duplicate or losing events. Even though applications should tolerate duplicates, we should aim at limiting the cases under which this can happen.

Having the system namespace unique per cluster is one possible solution but not ideal.

Ideally the webhook URL should be stable across clusters. Instead of rel

[2020-04-13 15:24] duglin commented on #1131
Just as a baby step in the design... are people thinking of a different URL per tenant/webhook, or the same URL for all webhooks/tenants within the same instance of Knative?

I've been assuming a different URL per tenant/webook - even if the diff is in the query param part.

[2020-04-15 07:56] slinkydeveloper commented on #944
Ok so looking again at this after the PR on the spec for the clarification.

Since `KafkaChannel` it's a black box Channel implementation, you **must** not rely on the fact that `KafkaChannel` respects the partition key. In other words, When you send a message to a `Channel`, you **must** not rely on what channel implementation you're actually using. If you need this particular functionality, I su

[2020-04-15 09:32] slinkydeveloper commented on #1051
@duglin  can we close this?

[2020-04-15 09:36] slinkydeveloper opened #1139 "Implement tracing for KafkaChannel"
**Problem**
`KafkaChannel` tracing support

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event Consumer/Producer

**Exit Criteria**
`KafkaChannel` should pass E2E tracing tests as IMC channel

**Additional context (optional)**
Now that `MessageDispatcher` correctly handles traces, we just need to setup the traceparent injection/extraction when we push the messag

[2020-04-15 11:34] #1108 closed

[2020-04-16 08:29] matzew opened #1143 "KafkaSource broken"
**Describe the bug**

Applying `KAfkaSource` yaml does NOT work.

 **Expected behavior**

Applying `KAfkaSource` yaml actually works..

 **To Reproduce**

With 0.14, apply this:

[code]
you will get:

[code]

 **Knative release version**
* 0.14
* HEAD

 **Additional context**

This seems related:
* https://github.com/knative/eventing-contrib/pull/1107

(works with 0.13.x release)

[2020-04-16 09:19] matzew commented on #1143
from the controller log:

[code]

[2020-04-16 09:57] matzew commented on #1143
stupid me:

[code]

was the fix ;-)

[2020-04-16 09:57] matzew commented on #1143
/close

[2020-04-16 09:57] #1143 closed

[2020-04-16 14:32] #1056 closed

[2020-04-16 14:39] lionelvillard commented on #1131
/assign

[2020-04-16 20:10] lionelvillard commented on #1131
As a first step, @mattmoor's proposal sounds good to me (ie `github.knative-sources.my-domain.gom/namespace/name`) and let the ksvc be public.

KIngress supports path matching so when the proposed vanity URL feature lands it should be fairly straightforward to leverage it.

[2020-04-17 15:11] #1119 closed

[2020-04-17 20:15] lionelvillard commented on #1032
closing in favor of #1131

[2020-04-20 04:12] tzununbekov opened #1149 "Create a GitLabBinding"
Create a GitLabBinding as mentioned here:
https://github.com/knative/eventing-contrib/pull/1120#pullrequestreview-395511741

/assign

[2020-04-20 10:08] Fabian-K opened #1151 "GitHubSource: Missing RBAC rules for updating secrets"
**Describe the bug**
I´m installing the GitHubSource using the provided yaml of the release. Without modifications, the webhook controller prints the following errors:

[code]

Looks like the webhook requires updating secrets in the knative-sources namespace. I don´t know for which purpose but I can provide a PR adding a Role and RoleBinding for that.

 **Knative release version**
I checked v0.14.

[2020-04-20 21:48] lberk commented on #1055
/assign

[2020-04-22 16:17] #1055 closed

[2020-04-23 20:24] odacremolbap commented on #344
we at Triggermesh are working on this, will post here when ready.

[2020-04-27 05:54] pierDipi commented on #917
/assign

[2020-04-27 13:14] pierDipi opened #1166 "Consider using only one consumer group in KafkaDispatcher"
**Problem**
The `KafkaDispatcher` uses a consumer group per subscription and [this forces us to create a new `sarama.Client` for each of them](https://godoc.org/github.com/Shopify/sarama#NewConsumerGroupFromClient), otherwise, we have [parallelism issues](https://github.com/knative/eventing-contrib/issues/917).

Creating a new client isn't ideal because we create a new TCP connection pool to the K

[2020-04-27 13:57] slinkydeveloper commented on #1166
I'm wondering... Can we invoke `ConsumerGroup#Consume` several times on the same instance of the `ConsumerGroup`? TBH it's not clear to me the lifecycle of `ConsumerGroup`, if it can be reused or needs to be destroyed several times...

[2020-04-27 13:59] slinkydeveloper commented on #1166
Ok `Close()` can't be invoked several times (i'm digging into the code of Sarama)

[2020-04-27 14:44] slinkydeveloper commented on #1166
Mh maybe what we should do is simply create more `ConsumerGroup` using `NewConsumerGroup`, in order to avoid sharing the client. What's your feeling about it  @pierDipi? I don't see any alternative

[2020-04-27 15:28] pierDipi commented on #1166
I would do the same.

[2020-04-27 15:29] duglin commented on #1166
I've noticed that when I scale the Kafka event source beyond 1, things will hang for a while and then start back up again. So in some testing, I would get flooded with events, then it'll pause for a few minutes, and then events would start to flow again - Kafka itself had a ton of events just waiting the entire time.  Could this behavior be related to this issue?

[2020-04-27 15:55] slinkydeveloper commented on #1166
I'm not really sure because in kafka source the consumer group is always one and it's never destroyed and rebuilt (inside the same receive adapter instance), but i'm not confident enough to exclude it

[2020-04-27 16:36] slinkydeveloper commented on #1166
@duglin https://github.com/knative/eventing-contrib/issues/999

[2020-04-27 16:36] slinkydeveloper commented on #999
Ok I've found that it looks like this happens if the connection to kafka broker dies (even for a few seconds)

[2020-04-27 16:39] guimou commented on #999
That would make my day if we can figure it out. Right now I have a cron job
to kill the pod, which then gets respawned. Not an elegant solution...
Again, tell me if I can help debugging this.

On Mon., Apr. 27, 2020, 12:36 Francesco Guardiani, <notifications@github.com>
wrote:

[2020-04-27 21:12] lionelvillard opened #1171 "Vanity GitHub Webhook URL"
**Problem**
The MT githubsource controller generates webhook of the form `http://githubsource-adapter.knative-sources.<domain>/<ns>/<name>`

where `ns` and `name` corresponds the githubsource CR.

Instead it should generate webhook of the form `http://<name>.<ns>.<domain>`.

**Context**
See https://github.com/knative/eventing-contrib/issues/1131#issuecomment-612559118 for more details.

Depends on

[2020-04-28 01:53] duglin commented on #1171
Ideally it should use the domainTemplate to generate the URL since the networking setup in the env might require a certain format.

[2020-04-28 09:49] Fabian-K commented on #1151
Looks like this is already resolved in master https://github.com/knative/eventing-contrib/blob/master/github/config/203-webhook-clusterrole.yaml#L93-L103

[2020-04-28 09:49] #1151 closed

[2020-04-28 09:59] Fabian-K opened #1172 "GitHubSource: Missing RBAC rules for reading namespaces"
**Describe the bug**
I´m installing the GitHubSource using a local build of the master branch. Without modifications, the webhook controller prints the following errors:

[code]

Looks like the webhook requires read access to the namespaces. I´ll provide a PR shortly

Best regards,
Fabian

[2020-04-28 12:20] qhh0205 opened #1174 "Kafka Channel Failed to Create With TopicCreateFailed Reason"
**Describe the bug**
The Kafka channel cant be create with the reason `TopicCreateFailed`:
[code]
kubectl describe the resourse:
[code]
kafka channel controller error logs:
[code]
The kafka channel controller error logs above says that:
[code]
_But i cant find the instance-m297532p-3 instance in kubernetes cluster!_

 **Expected behavior**
Successfully create the Channel with status True.

 **To R

[2020-04-29 15:57] vaikas commented on #1174
Looks like there's a mismatch in namespaces? Looks like you created the configmap in ns: channel-broker-test but your channel definition is in 'event-test' namespace? As per the directions here for namespace dispatchers:
https://github.com/knative/eventing-contrib/tree/master/kafka/channel
@matzew any other thoughts?

[2020-04-29 21:55] matzew commented on #1174
Correct!

As stated in the [documentation](https://github.com/knative/eventing-contrib/tree/master/kafka/channel#namespace-dispatchers)

I just tested, and I got my channel in a given namespace:

[code]

Also, In my case I had the Strimzi (Kafka) installation _on_ my cluster, so used a `bootstrapServers` URL format like above.

I am not sure if `10.21.0.13:9092` is reachale from your cluster ....

[2020-04-30 07:53] qhh0205 commented on #1174
I make a wrong copy about the config-kafka configmap, the actual is following:
[code]
Still not work  now.

[2020-04-30 08:21] qhh0205 commented on #1174
The kafka-cluster is reachale.

[2020-04-30 09:15] matzew opened #1180 "Unable to complete request"
**Describe the bug**

when the channel dispatches to some "incorrect" subscriber, the `dispatcher` seems to crash, and logs something like:

[code]

[2020-04-30 10:26] qhh0205 commented on #1174
@matzew @vaikas instance-m297532p-3 in error log, that seems is the kafka hostname, but the kafka address in configmap is IP: 10.21.0.13:9092. If i use the kafka in kafka ns(my-cluster-kafka-bootstrap.kafka:9092), that worked, but if i use our own kafka(10.21.0.13:9092), that not worked, that will lead the kube-dns looks up  the instance-m297532p-3 hostname. he Kafka Cluster IP is reachable, but d

[2020-04-30 11:40] #999 closed

[2020-04-30 11:41] slinkydeveloper commented on #1180
/assign

[2020-04-30 12:28] matzew commented on #1180
fixed via https://github.com/knative/eventing-contrib/pull/1182

[2020-04-30 12:42] pierDipi commented on #1166
I'm re-opening the PR https://github.com/knative/eventing-contrib/pull/1165, I'll ping you when it's ready

[2020-04-30 12:54] slinkydeveloper commented on #1166
ok good, thank you!

/assign @pierDipi

[2020-04-30 12:54] #1180 closed

[2020-04-30 12:54] slinkydeveloper commented on #1166
/kind bug

[2020-04-30 12:55] slinkydeveloper commented on #1166
/unkind feature-request

[2020-04-30 13:47] #1172 closed

[2020-04-30 17:04] #917 closed

[2020-04-30 20:51] mattmoor opened #1185 "GitHubBinding should align with expectations of the `hub` CLI"
_I was musing about this with @lberk this morning, wanted to get it into an issue so we don't lose the idea._

Essentially the idea is that instead of inventing our own contract for projecting credentials into a process that we align with the credential model of established tooling.  When @evankanderson was talking about the `hub` CLI in another context this morning it made me realize that we shou

[2020-04-30 20:57] mattmoor commented on #1185
Here's a sample where we did this for the `govc` CLI for vSphere: https://github.com/vmware-tanzu/sources-for-knative/blob/master/samples/govc/README.md and I think it really shows the power of using Bindings with unmodified upstream software 🤩

[2020-04-30 21:23] lionelvillard commented on #1185
If I understand well this proposal, it seems contrary to proper security best practices which it to not use environment variables for storing secrets. Just saying...

[2020-04-30 21:32] lberk commented on #1185
@lionelvillard could one not load the token into ~/.config/hub instead of envvar?

[2020-04-30 21:50] mattmoor commented on #1185
Determining the home die may be tricky, but that is also what I would prefer.  An alternative would be to file a feature request to support overriding the location of the file (like DOCKER_CONFIG), if it doesn’t exist already.  In fact it might even be possible to send a PR 🤔

[2020-05-01 11:38] slinkydeveloper commented on #1166
/close

Fixed by #1165

[2020-05-01 11:38] #1166 closed

[2020-05-02 17:00] AceHack opened #1188 "kafka-ch-dispatcher has no ownerref"
Describe the bug
kafka-ch-dispatcher gets created as needed but without a ownerref, this causes problems on uninstall of eventing as the kafka-ch-dispatcher deployment never gets cleaned up and is left around as an orphan crash loop forever.

Expected behavior
kafka-ch-dispatcher to get cleaned up on uninstall of knative Kafka channel controller.

To Reproduce
Install knative Kafka channel control

[2020-05-03 18:21] IceIcebaby167 commented on #1100
My phone has been hacked. Can y'all help me on it.

[2020-05-04 20:40] lionelvillard commented on #1185
@lberk yes that should work for the single-tenant github receive adapter.

[2020-05-04 22:14] aliok opened #1189 "KafkaChannel doesn't respect the scope annotation when creating the topic"
**Describe the bug**
When `eventing.knative.dev/scope: namespace` annotation is available on a channel, KafkaChannel should create the topic in the Kafka cluster that's specified in the `config-kafka` configmap within the same namespace.
But the topic is created in the Kafka cluster that's specified in the Knative system's `knative-eventing/config-kafka` configmap.

 **Expected behavior**
Topic sh

[2020-05-04 23:00] lberk commented on #1189
/label channel/kafka

[2020-05-05 08:50] aliok commented on #1189
/assign

[2020-05-05 12:04] knative-test-reporter-robot opened #1190 "[flaky] 1.46% tests failed in repo eventing-contrib on 2020-05-05 10:36:17 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.46% tests failed in repo eventing-contrib on 2020-05-05 10:36:17 +0000 UTC
* **Repository name**: eventing-contrib

[2020-05-05 20:11] aliok commented on #1189
/unassign @aliok

[2020-05-05 20:14] aliok commented on #1189
I am unassigning this from myself. There's a decision needs to be done first around if we would like to have this `eventing.knative.dev/scope` annotation or if we would like to find another way to support the use case.

Threads:
- https://knative.slack.com/archives/C9JP909F0/p1588682851136800
- https://knative.slack.com/archives/CR2141CGY/p1588686195058700

[2020-05-06 07:59] slinkydeveloper commented on #563
I duplicated the issue here :smile: : https://github.com/knative/eventing-contrib/issues/1139

[2020-05-06 08:42] slinkydeveloper opened #1195 "Enable Tracing in KafkaSource"
**Problem**
Enable Tracing configuration for KafkaSource

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer/Event producer

**Exit Criteria**
KafkaSource tracing works

**Time Estimate (optional):**
1

**Additional context (optional)**
In order to enable that, we just need to reflect the changes from https://github.com/knative/eventing/pull/3026.

An e

[2020-05-06 08:49] slinkydeveloper commented on #1195
Depends on https://github.com/knative/eventing-contrib/pull/1192 for the update with https://github.com/knative/eventing/pull/3026

[2020-05-06 09:02] slinkydeveloper opened #1196 "Enable Tracing in Prometheus Source"
**Problem**
Enable Tracing configuration for Prometheus Source

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer/Event producer

**Exit Criteria**
Prometheus Source tracing works

**Time Estimate (optional):**
1

**Additional context (optional)**
In order to enable that, we just need to reflect the changes from https://github.com/knative/eventing/pull

[2020-05-06 09:03] slinkydeveloper opened #1197 "Enable Tracing in Gitlab Source"
**Problem**
Enable Tracing configuration for Gitlab Source

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer/Event producer

**Exit Criteria**
Gitlab source tracing works

**Time Estimate (optional):**
1

**Additional context (optional)**
In order to enable that, we just need to reflect the changes from https://github.com/knative/eventing/pull/3026.

[2020-05-06 09:04] slinkydeveloper opened #1198 "Enable Tracing in Github source"
**Problem**
Enable Tracing configuration for Github source

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event consumer/Event producer

**Exit Criteria**
Github source tracing works

**Time Estimate (optional):**
1

**Additional context (optional)**
In order to enable that, we just need to reflect the changes from https://github.com/knative/eventing/pull/3026.

[2020-05-06 09:05] slinkydeveloper opened #1199 "Port Github source to adapter/v2"
**Problem**
Github source still uses `knative.dev/eventing/pkg/adapter` module, which uses the cloudevents/sdk-go v1. We should port it to `knative.dev/eventing/pkg/adapter/v2`, which uses the new sdk-go

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event developer/Event producer

**Exit Criteria**
Github source should not use anymore `knative.dev/eventing/pkg/a

[2020-05-06 09:06] slinkydeveloper opened #1200 "Port Gitlab source to adapter/v2"
**Problem**
Gitlab source still uses `knative.dev/eventing/pkg/adapter` module, which uses the cloudevents/sdk-go v1. We should port it to `knative.dev/eventing/pkg/adapter/v2`, which uses the new sdk-go

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event developer/Event producer

**Exit Criteria**
Gitlab source should not use anymore `knative.dev/eventing/pkg/a

[2020-05-06 09:06] slinkydeveloper opened #1201 "Port Prometheus source to adapter/v2"
**Problem**
Prometheus source still uses `knative.dev/eventing/pkg/adapter` module, which uses the cloudevents/sdk-go v1. We should port it to `knative.dev/eventing/pkg/adapter/v2`, which uses the new sdk-go

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event developer/Event producer

**Exit Criteria**
Prometheus source should not use anymore `knative.dev/eventi

[2020-05-06 09:43] slinkydeveloper commented on #1200
/assign

[2020-05-07 09:28] MIBc commented on #1201
I'd like to help.

[2020-05-07 09:37] slinkydeveloper commented on #1201
@MIBc thank you! I'll help to review, feel free to take inspiration from https://github.com/knative/eventing-contrib/pull/1202

[2020-05-07 09:42] MIBc commented on #1201
ok

[2020-05-07 20:09] lance opened #1205 "Kafka event source IDs may not be unique"
**Describe the bug**
When receiving events from a Kafka event source, the event ID is a partition and offset. See here: https://github.com/knative/eventing-contrib/blob/master/kafka/source/pkg/adapter/message.go#L57. That produces an ID that looks something like this: `"partition:1/offset:24"` which does not appear to be unique.

 **Expected behavior**
I expect Kafka event source events to have un

[2020-05-07 20:19] lance opened #1206 "Content-Type header not set on Kafka event source events"
**Describe the bug**
When receiving an event from a Kafka event source, the `Content-Type` header is not set. The headers look like this.

[code]
Note that there is no `content-type`.

 **Expected behavior**
I expect messages sent over HTTP to have a `Content-Type` header.

 **To Reproduce**
Receive an event from a Kafka event source and observe the headers.

 **Knative release version**
Unknown

[2020-05-08 02:22] n3wscott opened #1209 "Re enable kafka e2e tests"
Unable to fix kafka e2e tests while updating deps. Follow up with a fix and re-enable.

https://github.com/knative/eventing-contrib/pull/1208/files#r421898921

**Describe the bug**
A clear and concise description of what the bug is.

 **Expected behavior**
A clear and concise description of what you expected to happen.

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version

[2020-05-08 02:37] qhh0205 commented on #1174
Now the problem has been resolved. I have not config the kafka advertise address, that is the kafka config issue not the  knative issue. The solution is here https://knative.slack.com/archives/C9JP909F0/p1588835586205600 Thanks for Jakub Scholz !

[2020-05-08 02:38] #1174 closed

[2020-05-08 03:51] #1149 closed

[2020-05-08 06:37] MIBc commented on #1111
I want to try.

[2020-05-08 06:42] tzununbekov commented on #1185
I can tackle this if no one mind

/assign

[2020-05-08 07:10] slinkydeveloper commented on #1206
Hi! I think this is not a bug, look at the discussion here: https://github.com/knative/eventing-contrib/issues/1050

Tl;dr what content type should i use, if when i receive a message from kafka, i don't have any?

[2020-05-08 07:11] slinkydeveloper commented on #1205
Did you ever managed to get two events with same offset and same partition? the couple of these two uniquely identifies a kafka message

[2020-05-08 07:25] slinkydeveloper commented on #1195
/assign

[2020-05-08 07:54] #1200 closed

[2020-05-08 08:24] matzew commented on #1111
/assign @MIBc

[2020-05-08 09:06] slinkydeveloper commented on #1197
/assign

[2020-05-08 09:50] lance commented on #1206
I think, as discussed in #1050, that this scenario should perhaps be addressed in the spec somehow.

[2020-05-08 09:53] lance commented on #1205
@slinkydeveloper is that guaranteed that no two messages will ever have the same partition/offset? If that’s true then yes this should be closed. I wasn’t aware of that guarantee.

[2020-05-08 10:06] slinkydeveloper commented on #1206
Try opening an issue on cloudevents/spec, but i feel this was already discussed and rejected because it's perfectly valid to send on all supported protocol bindings a payload without a content type, hence the spec don't want to be more restrictive

[2020-05-08 10:07] slinkydeveloper commented on #1205
*on the same topic* yes, it's the way kafka can uniquely identify messages

[2020-05-08 10:12] #1205 closed

[2020-05-08 10:13] #1206 closed

[2020-05-08 10:26] slinkydeveloper commented on #1197
Depends on https://github.com/knative/eventing/pull/3101

[2020-05-08 10:36] #1201 closed

[2020-05-08 12:03] knative-test-reporter-robot opened #1214 "[flaky] 1.05% tests failed in repo eventing-contrib on 2020-05-08 09:36:16 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.05% tests failed in repo eventing-contrib on 2020-05-08 09:36:16 +0000 UTC
* **Repository name**: eventing-contrib

[2020-05-08 13:54] slinkydeveloper opened #1216 "Port Ceph source to adapter/v2"
**Problem**
Ceph source still uses `knative.dev/eventing/pkg/adapter` module, which uses the cloudevents/sdk-go v1. We should port it to `knative.dev/eventing/pkg/adapter/v2`, which uses the new sdk-go

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event developer/Event producer

**Exit Criteria**
Ceph source should not use anymore `knative.dev/eventing/pkg/adapt

[2020-05-08 13:55] slinkydeveloper opened #1217 "Port cmd to cloudevents/sdk-go v2"
**Problem**
Samples in cmd dir still use cloudevents/sdk-go v1. We should port them to the new cloudevents/sdk-go v2

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Event developer/Event producer

**Exit Criteria**
All samples in cmd uses cloudevents/sdk-go v2

**Time Estimate (optional):**
1

[2020-05-08 14:40] slinkydeveloper commented on #1209
/assign

[2020-05-08 16:50] #1197 closed

[2020-05-09 01:54] MIBc commented on #1199
I can work on it.

[2020-05-11 07:26] #1195 closed

[2020-05-12 07:37] dongfsgf commented on #1100
sorry.

[2020-05-12 10:00] albertnievees opened #1222 "Error al eliminar una usuario con función de administrador"
**Description**
El sitio devuelve un #ArgumentError in Admin::BudgetInvestments#index y se borra el usuario con función de administrador.
A clear and concise description of what the bug is.

 **Expected behavior**
El problema sucede en  /helpers/admin_helper.rb:88

 **To Reproduce**
Steps to reproduce the behavior:

1. Assigna admin role a un usuario desde admin/administrators.
2. Inicia sesión co

[2020-05-12 12:12] #1222 closed

[2020-05-12 13:29] aditya69627 commented on #1100
Yes I wanna do it

[2020-05-12 16:19] matzew commented on #942
/close

this looks like no longer an issue.

E.g. I did override some of the defaults, like:

[code]

[2020-05-12 16:19] #942 closed

[2020-05-12 17:21] varunraj01999 commented on #1100
hi

[2020-05-12 20:14] isuru87 commented on #1100
hi

[2020-05-13 07:06] slinkydeveloper commented on #944
I'm going to close this since it's been stale for a while, feel free to reopen if you need it

/close

[2020-05-13 07:06] #944 closed

[2020-05-13 09:24] slinkydeveloper commented on #1217
/assign

[2020-05-13 13:30] #1209 closed

[2020-05-13 14:14] davyodom commented on #1130
@wallyqs let's talk in knative slack to carry this forward, or let me know if you will attend the event delivery wg calls

[2020-05-13 21:48] wallyqs commented on #1130
Thanks for following up @davyodom please send me an invite to wally@nats.io and can try to join too 🙏

[2020-05-14 00:00] Abd4llA commented on #1199
@MIBc are you working on this? Just checking since it's not assigned and we wanted to move #3103

[2020-05-14 01:22] MIBc commented on #1199
Yes. I will commit it as soon as possible.

[2020-05-14 07:31] #1217 closed

[2020-05-17 09:02] chengjingtao opened #1233 "Why `source` value is like `http://example.com/diaspora/issues/23` in `gitlab source` ?"
## Expected Behavior
According the doc https://github.com/cloudevents/spec/blob/v1.0/spec.md#subject
I think the value of `source` should be issues url without issue id in gitlab source.  Like `http://example.com/diaspora/issues`.
and `subject` should be issue id.

## Actual Behavior
source is `ObjectAttributes.URL` and no subject when get IssueEvent
https://github.com/knative/eventing-contrib/blo

[2020-05-18 17:30] tzununbekov commented on #1185
`hub` CLI supports the config location overriding from `HUB_CONFIG` envvar value. Although config format requires specifying a username, I think it can be replaced with dummy value for most of the commands (if we don't want to extend binding spec with username)

off-topic:
Should githubbinding be tied to `hub` CLI only? For example, recently I hear a lot of positive feedback about another official

[2020-05-18 22:22] mattmoor commented on #1185
TBH, I think we can surface both, assuming they don't conflict.  I knew Github had two CLIs (I just figured they'd deprecated one 🙄), but we should align with whichever is more popular, or newer, or both. 🤣

[2020-05-19 00:53] itsmurugappan opened #1236 "Non Root Images"
**Problem**
All the eventing images are run as root. Can they be packaged as non root images like knative serving images ?

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?
* Contributors
* System Integrator
* Event producer
* Event consumer

**Exit Criteria**
Able to run a kafka source adapter in user namespace without root access

[2020-05-19 07:59] kameshsampath opened #1239 "Default Kafka Channel Config does not create Kafka Topic"
**Describe the bug**
After configuring default-ch-webhook as described https://knative.dev/docs/eventing/channels/default-channels/, creating a `Channel` on custom namespace does not create Kafka Channel and hence no Kafka Topic gets created.

 **Expected behavior**
A KafkaChannel and a corresponding KafkaTopic is expected to be create Kafka channel called `my-events-ch` and a KafkaTopic named `kn

[2020-05-19 08:00] kameshsampath commented on #1239
@matzew @slinkydeveloper  ^^

[2020-05-19 14:52] slinkydeveloper commented on #1239
/assign

[2020-05-19 15:11] slinkydeveloper commented on #1239
I'm unable to reproduce the error:

1. I've installed kn with https://github.com/matzew/kn-box
2. Created the namespace with `kubectl create namespace knativetutorial`
3. Applied this CM:

[code]

4. Created the channel:

[code]

5. Channel ready:

[code]

[2020-05-19 15:18] slinkydeveloper commented on #1196
/assign

[2020-05-19 17:05] kameshsampath commented on #1239
Can you try with a Kind Cluster? That’s what I was using today

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Francesco Guardiani <notifications@github.com>
Sent: Tuesday, May 19, 2020 8:41:44 PM
To: knative/eventing-contrib <eventing-contrib@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [kna

[2020-05-20 09:05] slinkydeveloper commented on #1239
I never managed to make kind working on my machine, maybe @lionelvillard has more inputs on that

[2020-05-20 10:24] #1196 closed

[2020-05-20 12:49] pierDipi commented on #1239
/assign

I cannot reproduce the issue.

Steps I followed:

1. create a kind cluster
[code]

2. set up kafka using strimzi operator: `kafka_setup`
[code]
3. apply eventing and Kafka channel
[code]
4. apply the following yaml
[code]
5. check Kafka channels
[code]

Output
[code]

[2020-05-20 13:00] nicolaferraro opened #1250 "CamelSource CI tests are failing"
The e2e test is supposed not to do a full Camel K deployment but actually it should reuse an existing image. But it's not doing it, since [logs](https://00e9e64bac3dda2e72e464236afeff25203e2e3f589995dd6f-apidata.googleusercontent.com/download/storage/v1/b/knative-prow/o/pr-logs%2Fpull%2Fknative_eventing-contrib%2F1247%2Fpull-knative-eventing-contrib-integration-tests%2F1263078960732835840%2Fartifa

[2020-05-20 13:42] slinkydeveloper commented on #1250
Related to https://github.com/knative/eventing-contrib/issues/990

[2020-05-20 13:44] tom24d commented on #1216
/assign

[2020-05-20 15:56] kameshsampath commented on #1239
@pierDipi  - thanks for trying out, let me try again and let you know. If thats not occuring I will close the issue

[2020-05-21 03:10] kameshsampath commented on #1239
@slinkydeveloper  @pierDipi  - it works now. The core issue was that when I created I did create the channel using `messaging.knative.dev/v1alpha1` which was not having any reconcilation to be fired, but when I changed the channel def to using `messaging.knative.dev/v1beta1` it picked up the channel for reconciliation and working as expected.

[code]

Wondering we should callout using right *apiVe

[2020-05-21 06:58] slinkydeveloper commented on #1239
I think so, mind doing a PR @kameshsampath ?

[2020-05-21 07:06] kameshsampath commented on #1239
You mean for Knative Docs @slinkydeveloper  ? I should be able to

[2020-05-21 10:19] #1250 closed

[2020-05-21 12:02] tom24d commented on #1084
I think this is fixed by #1059 .

[2020-05-22 11:44] tzununbekov commented on #1185
Okay, turned out that both `hub` and `gh` are using `git` CLI for clone/push operations and it causes unwanted auth prompts for every request even with `GITHUB_TOKEN` envvar set. To avoid this we can either use a simple auth [helper](https://git-scm.com/docs/gitcredentials) (mounted from configmap) or supply config file with credentials. Where would be the right place to add cm/secret setup? In th

[2020-05-23 05:29] MIBc commented on #1198
Let me try.

[2020-05-23 12:03] #990 closed

[2020-05-25 09:39] slinkydeveloper commented on #1198
#1230 should be merged first

[2020-05-25 09:40] slinkydeveloper commented on #1239
@kameshsampath can we close this one?

[2020-05-25 09:41] kameshsampath commented on #1239
Yep we could.  Thanks.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Francesco Guardiani <notifications@github.com>
Sent: Monday, May 25, 2020 3:10:53 PM
To: knative/eventing-contrib <eventing-contrib@noreply.github.com>
Cc: Kamesh Sampath <kamesh.sampath@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [knativ

[2020-05-25 09:47] slinkydeveloper commented on #1239
/close

[2020-05-25 09:47] #1239 closed

[2020-05-25 11:37] #1199 closed

[2020-05-25 12:03] knative-test-reporter-robot opened #1261 "[flaky] test/e2e.TestKafkaBinding"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaBinding
* **Repository name**: eventing-contrib

[2020-05-25 12:03] knative-test-reporter-robot opened #1262 "[flaky] test/e2e.TestKafkaBinding/no_event"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaBinding/no_event
* **Repository name**: eventing-contrib

[2020-05-26 10:36] tom24d commented on #868
In favor of #1255, this also needs to be done.

The doc to follow: https://github.com/knative/docs/blob/master/docs/eventing/migration/sinkbinding.md
The replacement also contains the update of `Channel` and `Subscription` `v1alpha1` to `v1beta1` in the samples.

/assign tom24d

[2020-05-26 11:45] slinkydeveloper commented on #1233
That sounds reasonable, are you willing to do a pr for it?

[2020-05-26 12:05] knative-test-reporter-robot opened #1264 "[flaky] gitlab/pkg/adapter.TestGracefullShutdown"
### Auto-generated issue tracking flakiness of test
* **Test name**: gitlab/pkg/adapter.TestGracefullShutdown
* **Repository name**: eventing-contrib

[2020-05-26 12:06] slinkydeveloper commented on #1261
/assign

[2020-05-26 12:06] slinkydeveloper commented on #1262
/assign

[2020-05-26 12:16] slinkydeveloper commented on #1262
From the logs:

[code]

[2020-05-26 12:46] slinkydeveloper commented on #1264
/assign

[2020-05-26 12:47] slinkydeveloper opened #1267 "Port test images/code to cloudevents/sdk-go v2"
**Problem**
Port test/* to cloudevents/sdk-go v2

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
test/* uses only cloudevents/sdk-go v2 and not v1 anymore

**Time Estimate (optional):**
1

[2020-05-26 13:03] slinkydeveloper commented on #1267
Depends on https://github.com/knative/eventing/issues/3104

[2020-05-26 16:48] #1262 closed

[2020-05-27 09:33] matzew opened #1274 "KafkaSource reports Invalid value for key-type"
**Describe the bug**

[code]
I get this log message in the controller:

[code]

not sure why `int` does not work here

[2020-05-27 09:33] slinkydeveloper commented on #1274
/assign

[2020-05-27 09:39] matzew commented on #1274
[code]

[2020-05-27 12:08] slinkydeveloper commented on #1264
/close

That should be fixed, it's just that i merged it right now :smile:

[2020-05-27 12:08] #1264 closed

[2020-05-27 12:42] #1274 closed

[2020-05-27 13:36] #1216 closed

[2020-05-27 14:50] #868 closed

[2020-05-28 12:03] knative-test-reporter-robot opened #1280 "[flaky] gitlab/pkg/adapter.TestGracefulShutdown"
### Auto-generated issue tracking flakiness of test
* **Test name**: gitlab/pkg/adapter.TestGracefulShutdown
* **Repository name**: eventing-contrib

[2020-05-28 12:03] #1261 closed

[2020-05-28 16:22] davyodom opened #1284 "Define Status and Support states in channel/source documentation"
All channels are currently listed in the [documentation](https://knative.dev/docs/eventing/channels/channels-crds/) as Status='Proof of Concept' and Support='None'.  There should be a clear definition of what other Status and Support values are defined, and what criteria exist to be able to use those values.

Sources have different usage in the [documentation](https://knative.dev/docs/eventing/sou

[2020-05-29 07:01] aliok commented on #1284
IMO we should get rid of those 2 columns entirely.

[2020-05-29 10:50] #1236 closed

[2020-06-01 21:49] lberk opened #1291 "KafkaSource Errors intermittently while posting to sink"
**Describe the bug**
@Shashankft9 reported in knative/eventing#3230 that the kafka source intermittently.
 **Expected behavior**
kafkasource delivers the events reliably (or provides better observability messages)
 **Knative release version**
v0.14.0
 **Additional context**
@Shashankft9 would you be willing to elaborate on the overall throughput of the kafkasource?

[2020-06-02 11:15] Shashankft9 commented on #1291
Hi, where do I have to look for this throughput? Some metrics etc?

As for the times when I get error while sending the message (without any stat or benchmark): it happens quite often. I have to delete the kafkasource CRD and re-create it (sometimes couple of times) to make it work again.
I'd happy to give you more information on this.

[2020-06-02 12:17] Shashankft9 commented on #1291
My opinions of when it happens and why its happening: the error 100% comes up when I apply multiple kafksources through just one command, that is `kubectl apply -f source1.yaml -f source2.yaml`, although the error still comes randomly when I apply them separately. Sometimes I notice a time delay between the `Starting with config ...` logline and the `Starting partition consumer ...` logline and th

[2020-06-03 12:03] knative-test-reporter-robot opened #1293 "[flaky] _go_tests.DataRaceAnalysis"
### Auto-generated issue tracking flakiness of test
* **Test name**: _go_tests.DataRaceAnalysis
* **Repository name**: eventing-contrib

[2020-06-03 14:06] Shashankft9 commented on #1291
I am getting this log in the `kafka-controller-manager` pod everytime I create the `KafkaSource`:

`{"level":"error","ts":"2020-06-03T07:58:06.581Z","logger":"kafka-controller","caller":"source/kafkasource.go:138","msg":"Unable to create the receive adapter{error 25 0 KafkaSource created deployment: \"default/kafkasource-kafka-source-90879364-6fdf-46ae-b332-4d4d0dbdbb08\"}","knative.dev/traceid":"

[2020-06-03 19:56] #1111 closed

[2020-06-04 09:40] slinkydeveloper opened #1299 "Port e2e tests to new event sender and event record images"
**Problem**
e2e test code now uses old images event details/event logger and old event sender which uses sdk-go v1. We should port our tests to use the new test images and then prune these old images from our codebase.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for? Knative developer

**Exit Criteria**
e2e tests should be pruned

[2020-06-04 09:40] slinkydeveloper commented on #1267
I'm gonna close this in favour of https://github.com/knative/eventing-contrib/issues/1299

[2020-06-04 09:40] #1267 closed

[2020-06-04 10:45] slinkydeveloper commented on #1299
/help
/good-first-issue

[2020-06-05 12:04] #1280 closed

[2020-06-05 12:04] knative-test-reporter-robot opened #1302 "[flaky] test/e2e.TestKafkaSource/structured"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaSource/structured
* **Repository name**: eventing-contrib

[2020-06-09 16:09] lionelvillard opened #1306 "Cannot upgrade to latest eventing"
Most likely due to this: https://github.com/knative/eventing/pull/3275 (thanks @pierDipi)

[2020-06-09 16:11] lionelvillard commented on #1306
I'll take a look at it in 1-2 hours. Feel free to assign yourself.

[2020-06-09 17:22] lionelvillard commented on #1306
/assign

[2020-06-10 08:07] slinkydeveloper commented on #1299
I'm gonna take the kafka source tests

[2020-06-10 20:40] lionelvillard opened #1310 "TestSingleBinaryEventForChannel and TestSingleStructuredEventForChannel are broken"
**Describe the bug**
These two e2e tests are failing.

[2020-06-11 12:26] #1299 closed

[2020-06-11 13:22] slinkydeveloper commented on #1310
For which channel?

[2020-06-11 15:07] lionelvillard commented on #1310
I don't recall exactly. I think Kafka and NATSS.

[2020-06-11 15:10] slinkydeveloper commented on #1310
i'll try to reenable them for kafka, they should just work

[2020-06-12 14:45] Shashankft9 opened #1317 "Missing Logline for kafkasource"
**Describe the bug**
I noticed that if I delete the sink, the kafkasource deployment does not log it at all, instead goes on to log this: https://github.com/knative/eventing-contrib/blob/41d31acf15f0ec903fb29f448446587bec8e6e8b/kafka/common/pkg/kafka/consumer_handler.go#L83 ONLY when an attempt is made to send a message to the topic.
Shouldn't there be some way of capturing when the linked sink ha

[2020-06-12 14:47] Shashankft9 commented on #1317
/cc @slinkydeveloper

[2020-06-12 15:10] pierDipi commented on #1291
https://github.com/knative/eventing/issues/3230#issuecomment-643295539

/close

[2020-06-12 15:10] #1291 closed

[2020-06-15 07:23] slinkydeveloper commented on #1317
I'm not sure there is a way, the kafkasource receive adapter doesn't monitor the deployments, so it can't know if the sink is up without sending it a message.

[2020-06-15 07:50] Shashankft9 commented on #1317
What about using serving client to watch on all the ksvc CRDs, and whenever there is a DELETE operation on one of them, run through all the kafkasource CRDs checking which one mentioned that ksvc and then somehow go on to log it in the deployment of that kafkasource - I don't know how the logging part will be done, but I guess it will be similar to how message claiming and marking happens for each

[2020-06-15 08:23] slinkydeveloper commented on #1317
That's not feasible for several reasons:

1. the sink could be anything `Addressable`, not necessary a ksvc
2. eventing components tries as much as possible to don't depend on serving

Also, I'm against the idea of having the receive adapter watch whatever sink because:

1. you're adding a cpu/memory load to the kafka source receive adapter, which doesn't effectively need to operate
2. this will n

[2020-06-15 09:02] Shashankft9 commented on #1317
mhm got it.

oddly, when the sink is deleted and I send the message, I directly get the log from https://github.com/knative/eventing-contrib/blob/master/kafka/source/pkg/adapter/adapter.go#L142

and nothing from here: https://github.com/knative/eventing-contrib/blob/master/kafka/source/pkg/adapter/adapter.go#L137

Is this intended?

[2020-06-15 09:05] Shashankft9 commented on #1317
I mean if its not returned as an error but just as response status 404, then the log message improvement should be done here instead: https://github.com/knative/eventing-contrib/blob/master/kafka/source/pkg/adapter/adapter.go#L142

[2020-06-15 11:01] aliok commented on #1317
Don't / can't we check the Sink's status if it is 'READY'?
Not in RA though as RA only receives the URL of the sink at the moment but that could be improved.

[2020-06-15 12:35] slinkydeveloper commented on #1317
I don't know, I expect the duck `Destination` should have such a field?!

[2020-06-15 12:38] slinkydeveloper commented on #1317
Probably not? But if that happens, I suppose this is something weird from the golang std lib (the message sender does nothing more than invoking the golang http client)

[2020-06-15 13:43] lionelvillard commented on #1317
What happens to the RA when the sink is deleted is currently unspecified (see https://github.com/knative/eventing/blob/master/docs/spec/sources.md). Something to bring up to the source WG.

/cc @n3wscott @nachocano @vaikas

[2020-06-16 09:45] alex3165 opened #1319 "Support AVRO decoding for kafkasource"
**Problem**
it would be nice if the kafkasource CRD could take an AVRO schema registry as a parameter and decode messages coming through accordingly the same way most kafka clients do, that would save lot of time having to do it in each functions

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developers using Kafka with AVRO

**Exit Criteria**
Ensure that an AVRO

[2020-06-17 08:52] ericshen881027 opened #1322 "Cannot use a third part Kafka instance as the Kafka Channel"
**Describe the bug**
I already setup a Kafka instance out of knative, I want to use this Kafka instance as the Kafka Channel, but I get the "ChannelReconcileFailed" Error message from the kafka-ch-controller.

 **Expected behavior**
I can directly use the existing Kafka instance instead of setup a new Kafka instance in the knative.

 **To Reproduce**
1. Install the KafkaChannel sub-component on my

[2020-06-17 09:13] ericshen881027 commented on #1322
I found the reason, cannot access the Kafka address in the channel controller pod.

[2020-06-17 09:13] #1322 closed

[2020-06-17 17:23] grantr opened #1325 "GitLabSource should use CloudEvents 1.0"
**Problem**
GitLabSource emits events as CloudEvents 0.3. It should use 1.0.

https://github.com/knative/eventing-contrib/blob/057ba18d14a6e3a2de1b225fb80b0626fdc71ac3/gitlab/pkg/adapter/receive_adapter.go#L184

[2020-06-18 06:55] Shashankft9 opened #1326 "kafkasource instance not working with istio-proxy sidecar"
**Describe the bug**
I am trying to impose some Istio authorization policies in the knative working space, hence controlling one of the aspect: selecting which knative service can receive the messages from kafkasource. For this, I need to use mTLS and to inject sidecar into the kafkasource pod. But I notice that as I label the namespace (in which kafkasource instance is running) as `istio-injectio

[2020-06-18 10:22] pierDipi commented on #1326
Would you mind providing a reproducible?

[2020-06-18 11:00] Shashankft9 commented on #1326
I first injected the default ns with `istio-injection=enabled` and then created this kafkasource:

[code]

[2020-06-18 12:03] #1302 closed

[2020-06-18 13:36] Shashankft9 commented on #1326
@pierDipi I'm wondering that maybe there is no need to run the kafkasource instance with istio-proxy sidecar, could you please tell me the flow of request here? like what pods are responsible here inbetween to send a message from the kafkasource pod to the ksvc?

[2020-06-22 13:33] makandre opened #1330 "GitLabSource stuck deleting when deleting namepace"
**Describe the bug**
A clear and concise description of what the bug is.

- created a GitLabSource custom resource in a namespace
- I then decided to remove the namespace
- Now the namespace is stuck in `terminating` phase (statuses below)
- I had to edit the GitLabSource yaml and remove the finalizer to get pass this.

[code]

 **Expected behavior**
A clear and concise description of what you exp

[2020-06-22 13:49] makandre opened #1331 "GitHubSource breaks GitLabSource"
**Describe the bug**
A clear and concise description of what the bug is.

- I followed the instructions and installed GitLabSource configs to `knative-sources` namespace.  Everything works as expected.
- I then did the same with GitHubSource configs
- Now, new GitLabSource custom resources that I create cannot activate.  The pod fails to start and the following error shows up in the `queue-proxy`

[2020-06-22 14:40] aliok opened #1332 "KafkaSource and KafkaBinding v1beta1 umbrella task"
Similar to the structure at https://github.com/knative/eventing/issues/3411

- [x] 1. Type bumps: https://github.com/knative/eventing-contrib/pull/1294
- [x] 2. Conversion: https://github.com/knative/eventing-contrib/pull/1341
- [x] 3.  Webhook config for defaulting + validation + conversion: https://github.com/knative/eventing-contrib/issues/1346
- [x] 4. Add new version to CRD and update the CRD

[2020-06-22 14:44] aliok commented on #1332
/assign

[2020-06-22 19:18] makandre commented on #1331
The pod can start after manually editing the `K_METRICS_CONFIG` value in the knative service yaml:

From:

[code]

To:

[code]

[2020-06-23 08:43] Shashankft9 commented on #1326
@pierDipi anything on this?

[2020-06-23 09:02] pierDipi commented on #1326
Sorry for the late reply, pods involved here are:
  - `kafka-source` `-->` `ingress-gateway` `-->` `ksvc`

If `ksvc` was scaled to 0, the `activator` and the `autoscaler` will scale `ksvc` deployment and then the message reaches the `ksvc`. I'm not super familiar with serving though.

[2020-06-23 09:04] pierDipi commented on #1326
A diagram of serving architecture is this: https://docs.google.com/drawings/d/1VpOJZ2bj7TsOWjKnhnZK6z39BzF5qdKc5ydOFj1H23E/view. I think you need to join `knative-dev` mailing list to view it.

[2020-06-23 09:19] Shashankft9 commented on #1326
Is there some interaction of `kafka-source` with `cluster-local-gateway`? I notice that whenever I apply a policy on this `cluster-local-gateway`, I get 403 in `kafka-source` deployment while sending the messages.
I understand that here `kafka-source` is a non-mesh pod and as mentioned here: https://github.com/knative/serving/issues/8364#issuecomment-645904009, for a non-mesh pod the first point o

[2020-06-23 09:31] pierDipi commented on #1326
Well, that comment is gold, I think the answer to your question should be: yes, it is.

[2020-06-23 09:58] Shashankft9 commented on #1326
the problem is, as soon as I apply this policy, I start getting 403 errors in the logs.

[code]

my `kafka-source` deployment is in `default` namespace. And these are the error logs:

[code]

And without this policy all is working fine.

[2020-06-23 10:07] Shashankft9 commented on #1326
@nak3 think this might be related to networking too or a case of requirement of stricter/additional policies, so you can also help here

[2020-06-23 10:21] #1325 closed

[2020-06-23 12:04] knative-test-reporter-robot opened #1337 "[flaky] 7.65% tests failed in repo eventing-contrib on 2020-06-23 10:37:13 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 7.65% tests failed in repo eventing-contrib on 2020-06-23 10:37:13 +0000 UTC
* **Repository name**: eventing-contrib

[2020-06-23 12:19] aliok commented on #1330
I'm wondering if this is the case for other sources as well or only this one

[2020-06-23 12:26] nak3 commented on #1326
@Shashankft9  Could you please try to modify following label in your `ingress-policy` to match your client's label?

[code]

Sorry my example in https://github.com/knative/serving/issues/8364#issuecomment-645904009 was confusable.

[2020-06-23 12:42] lionelvillard commented on #1330
Could be the same issue we had with the GitHubSource: https://github.com/knative/eventing-contrib/pull/1089.

[2020-06-23 14:58] aslom commented on #682
I wrote my own in Python as I needed it for testing - maybe I add and we refactor it as needed? I think there is real need for it ...

[2020-06-23 17:05] aslom commented on #682
/assign

[2020-06-23 17:56] aslom commented on #1331
/assign

[2020-06-25 13:02] matzew commented on #1332
@aliok what about (in separate PR?) doing the `krshapedlogic` ?

example: https://github.com/knative/eventing/pull/3226

[2020-06-27 12:05] #1293 closed

[2020-06-29 06:00] aliok opened #1346 "KafkaSource/KafkaBinding v1beta1 webhook"
**Problem**
Part of https://github.com/knative/eventing-contrib/issues/1332

Webhook config for defaulting + validation + conversion

[2020-06-29 06:02] aliok opened #1347 "KafkaSource/KafkaBinding v1beta1 CRD"
**Problem**
Part of https://github.com/knative/eventing-contrib/issues/1332

Add new version to CRD and update the CRD field descriptions

Similar to https://github.com/knative/eventing/pull/3418

[2020-06-29 06:04] aliok opened #1348 "KafkaSource/KafkaBinding v1beta1 docs and examples"
**Problem**
Part of https://github.com/knative/eventing-contrib/issues/1332

Update docs and examples

[2020-06-29 06:08] aliok commented on #1346
/assign

[2020-06-29 08:11] aliok opened #1350 "KafkaChannel v1beta1 umbrella task"
Similar to the structure at https://github.com/knative/eventing/issues/3411

- [x] 1. Type bumps: https://github.com/knative/eventing-contrib/issues/1351
- [x] 2. Conversion: https://github.com/knative/eventing-contrib/issues/1352
- [x] 3.  Webhook config for defaulting + validation + conversion: https://github.com/knative/eventing-contrib/issues/1353
- [x] 4. Add new version to CRD and update the

[2020-06-29 08:12] aliok opened #1351 "KafkaChannel v1beta1 type bumps"
Part of https://github.com/knative/eventing-contrib/issues/1350

[2020-06-29 08:13] aliok opened #1352 "KafkaChannel v1beta1<>v1alpha1 conversion"
Part of https://github.com/knative/eventing-contrib/issues/1350

[2020-06-29 08:13] aliok opened #1353 "KafkaChannel v1beta1 webhook"
Part of https://github.com/knative/eventing-contrib/issues/1350

[2020-06-29 08:14] aliok opened #1354 "KafkaChannel v1beta1 CRD"
Part of https://github.com/knative/eventing-contrib/issues/1350

[2020-06-29 08:15] aliok opened #1355 "KafkaChannel v1beta1 docs and examples"
Part of https://github.com/knative/eventing-contrib/issues/1350

[2020-06-29 08:15] aliok commented on #1351
/assign

[2020-06-29 11:17] #1346 closed

[2020-06-29 11:46] Shashankft9 commented on #1326
@pierDipi hey did you try to run the kafkasource pod with a sidcar to reproduce this issue?

[2020-06-29 16:57] lionelvillard opened #1360 "GitHubSource must implement duck.SourceSpec"
as specified here: https://github.com/knative/eventing/blob/master/docs/spec/sources.md#duckspec

[2020-06-30 14:42] sebgoa commented on #344
I did not realize that this thread was from 2019 :) but here is a Slack source:
https://github.com/triggermesh/knative-sources/tree/master/slack

[2020-06-30 16:38] lionelvillard commented on #344
are you planning to move it over to `knative-sandbox` @sebgoa ?

[2020-06-30 16:45] sebgoa commented on #344
As the process been fully defined yet ? Does google own the code ?

[2020-06-30 20:57] tommyreddad commented on #1360
/assign

[2020-07-01 04:49] #1347 closed

[2020-07-01 09:05] #1351 closed

[2020-07-02 08:19] #1354 closed

[2020-07-02 08:37] aliok commented on #1352
/assign

[2020-07-02 08:37] aliok commented on #1353
/assign

[2020-07-02 14:34] Yiyiyimu opened #1370 "[Question] Any suggestions on building channel from scratch"
Hi community,

I'm trying to build channel backed by [Apache RocketMQ](https://github.com/apache/rocketmq), a kafka-like MQ. Since I could not found documentation or samples on channel building like source have, right now I'm reading implementation of Kafka channel and try to figure out something. I would appreciate it if someone could give me some advice on building channel.

[2020-07-02 15:12] Yiyiyimu commented on #1370
@matzew Hi Matthias! Do you have some suggestions?

[2020-07-02 15:26] slinkydeveloper commented on #1310
I think these are reenabled now on master

/close

[2020-07-02 15:27] #1310 closed

[2020-07-03 13:28] #1352 closed

[2020-07-03 14:38] #1353 closed

[2020-07-06 07:40] aliok commented on #1370
cc @slinkydeveloper @pierDipi

[2020-07-06 07:53] slinkydeveloper commented on #1370
Hi @Yiyiyimu my GSoC student @pierDipi is building from scratch a broker for Kafka mixin Java and Golang. It's a pretty neat project and you could be inspired by it if you're trying to create a multi/language project. Here is the link (it's a WIP): https://github.com/knative-sandbox/eventing-kafka-broker

Otherwise, the best way to start atm is to grab the https://github.com/knative-sandbox/sample

[2020-07-06 08:47] pierDipi commented on #1370
Key points to get started:

- This is the main: https://github.com/knative/eventing-contrib/blob/master/kafka/channel/cmd/channel_controller/main.go
  - `controller.NewController` function is defined by the channel implementor and it's responsible for pulling `Reconciler`'s dependencies (see [Knative injection](https://github.com/knative/pkg/tree/master/injection)) and registering resource handler

[2020-07-06 11:32] Yiyiyimu commented on #1370
Thank you @slinkydeveloper @pierDipi for your suggestions! They're really detailed and feasible.

The project is so attractive to me and there must be a lot of aspects that I could use. Can't wait to see it coming!

[2020-07-06 11:32] #1370 closed

[2020-07-06 11:42] aliok commented on #1347
Fixed by https://github.com/knative/eventing-contrib/pull/1359

[2020-07-06 11:42] aliok commented on #1347
/close

[2020-07-06 11:43] aliok commented on #1348
/close
Fixed by https://github.com/knative/docs/pull/2625

[2020-07-06 11:43] #1348 closed

[2020-07-06 11:46] aliok opened #1375 "KafkaSource/KafkaBinding update e2e tests to use v1beta1"
**Problem**
Part of https://github.com/knative/eventing-contrib/issues/1332

Update e2e tests to use new version

Example: https://github.com/knative/eventing/pull/3430

[2020-07-06 11:52] aliok opened #1376 "KafkaChannel update e2e tests to use v1beta1"
**Problem**
Part of https://github.com/knative/eventing-contrib/issues/1350

Update e2e tests to use new version

Example: https://github.com/knative/eventing/pull/3430

[2020-07-06 12:23] aliok commented on #1375
/assign

[2020-07-06 13:05] aliok commented on #1376
/assign

[2020-07-06 13:05] aliok commented on #1355
/assign

[2020-07-06 19:07] #1375 closed

[2020-07-06 21:54] #1360 closed

[2020-07-08 12:04] knative-test-reporter-robot opened #1385 "[flaky] test/conformance.TestChannelSpec/Channel_spec_allows_subscribers"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/Channel_spec_allows_subscribers
* **Repository name**: eventing-contrib

[2020-07-08 12:04] knative-test-reporter-robot opened #1386 "[flaky] test/conformance.TestChannelSpec/NatssChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/NatssChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-07-08 15:23] lionelvillard opened #1387 "Upgrade GitHubSource to v1beta1 umbrella task"
Here the list of tasks to upgrade  GitHubSource to v1beta1 :

 - [ ] Implement v1beta1 types for GitHubSource resource.
 - [ ] Add new version to CRD
  - [ ] update the CRD field descriptions
   - [ ] Update docs and examples
   - [ ] Update e2e tests to use v1beta1
   - [ ] Make v1bveta1 the storage version
   - [ ] Migrate reconciler to v1beta1
   - [ ] Remove v1alpha1 (long term goal)

[2020-07-08 15:26] lionelvillard commented on #1387
Here the proposed list of changes:
- Remove ServiceAccountName
- Make secret optional: https://github.com/knative/eventing-contrib/issues/297

[2020-07-08 17:36] pierDipi opened #1388 "Use resolver.URIResolver in KafkaChannel"
**Describe the bug**
KafkaChannel uses only the URI field of the `DeadLetterSink`: https://github.com/knative/eventing-contrib/blob/62ccf3743fbe0f1d0f8339e9636a85592880b7e9/kafka/channel/pkg/dispatcher/dispatcher.go#L147

 **Expected behavior**
KafkaChannel uses `resolver.URIResolver` for resolving `DeadLetterSink`.

 **To Reproduce**
Use `Ref` instead of `URI` in `DeadLetterSink`

 **Knative rele

[2020-07-08 21:53] #1355 closed

[2020-07-10 11:24] FWiesner opened #1389 "KafkaChannel doesn't clean up consumer groups when the subscriber is removed"
**Describe the bug**
When you remove a subscription (or `Trigger`) that affected a `KafkaChannel` then the consumer group is retained. @slinkydeveloper indicated that this is to allow later recreation of the same subscription. The consumer group is also disabled on the dispatcher, but the dispatcher seems to reopen the consumer group when it gets restarted. This leads to message delivery to the Br

[2020-07-10 13:16] slinkydeveloper commented on #1389
Any thoughts on this @lberk?

[2020-07-10 17:19] ssandanshi opened #1390 "Security: Please set container Security Context on all Containers"
**Describe the bug**

Addressing possible security issues within the SQS Source and Kafka Source Containers.

(CIS_Docker_CE_v1.1.0 - 5.12) Mount container's root filesystem as read-only
(CIS_Docker_CE_v1.1.0 - 5.25) Restrict container from acquiring additional privileges

 **To Reproduce**
Security issues show up in Twistlock.

 **Knative release version**
0.16.0

 **Additional context**

<img wi

[2020-07-11 14:39] itsmurugappan commented on #1319
I can work on this. /assign

[2020-07-11 14:39] itsmurugappan commented on #1319
/assign

[2020-07-13 12:03] knative-test-reporter-robot opened #1391 "[flaky] test/e2e.TestKafkaBinding/structured-v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaBinding/structured-v1alpha1
* **Repository name**: eventing-contrib

[2020-07-14 08:53] aliok opened #1394 "Make KafkaSource and KafkaBinding v1beta1 resources the stored version"
Part of https://github.com/knative/eventing-contrib/issues/1332

Bump the storage version

Also think about if there's a need for a migration tool, similar to https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

Relevant:
- Changing storage versions: https://github.com/knative/eventing/pull/3169
- 0.16 migration job: https://github.com/knative/

[2020-07-14 08:54] aliok opened #1395 "Make reconcilers use KafkaSource and KafkaBinding v1beta1 resources"
Part of https://github.com/knative/eventing-contrib/issues/1332

Make reconcilers use v1beta1 resources

[2020-07-14 08:55] aliok opened #1396 "Make KafkaChannel v1beta1 the stored version"
Part of https://github.com/knative/eventing-contrib/issues/1350

Bump the storage version

Also think about if there's a need for a migration tool, similar to https://github.com/knative/eventing/blob/master/config/pre-install/v0.16.0/storage-version-migration.yaml

See https://github.com/knative/eventing-contrib/issues/1396 for example PRs

[2020-07-14 08:56] aliok opened #1397 "Make reconciler use KafkaChannel v1beta1"
Part of https://github.com/knative/eventing-contrib/issues/1350

Make reconcilers use v1beta1

[2020-07-14 12:53] Justin2997 commented on #210
Closing because the source is present at : https://github.com/knative-sandbox/eventing-rabbitmq/tree/master/source

[2020-07-14 12:53] #210 closed

[2020-07-14 17:48] aliok commented on #1396
/assign

[2020-07-14 17:48] aliok commented on #1397
/assign

[2020-07-16 16:14] slinkydeveloper commented on #1388
/assign

[2020-07-17 08:34] slinkydeveloper commented on #1388
We don't need this, because it's already done by the subscription controller in eventing: https://github.com/knative/eventing/blob/master/pkg/reconciler/subscription/subscription.go#L558

[2020-07-17 08:34] slinkydeveloper commented on #1388
/close

[2020-07-17 08:35] #1388 closed

[2020-07-18 02:05] mpeyrard opened #1520 "Error: "Trigger had a different UID""
**Describe the bug**
I have configured two Knative Services to communicate with each other via Knative Eventing. Our system manually creates the broker via yaml files (as opposed to installing the broker via annotation), as well as the trigger. The broker is backed by the Kafka Channel that is provided under Knative contrib.  The service that produces the event does an HTTP POST to the broker addr

[2020-07-21 05:58] itsmurugappan commented on #1319
@slinkydeveloper I thought this will be helpful in a couple of ways

1. To keep the ksvc's (Cloud event consumers) generic. (i.e. same consumer for different sources)
2. Will save the users from writing the same piece of logic to decode a kafka message in all the ksvc's, which includes fetching the schema id from kafka message and schema from an url.

@alex3165 please provide your thoughts as well

[2020-07-21 10:48] pierDipi commented on #753
/assign

[2020-07-22 07:58] #1376 closed

[2020-07-22 09:47] #1139 closed

[2020-07-22 11:01] aliok commented on #1395
/assign

[2020-07-22 12:07] knative-test-reporter-robot opened #1401 "[flaky] test/e2e.TestKafkaBinding/structured-v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaBinding/structured-v1beta1
* **Repository name**: eventing-contrib

[2020-07-23 12:07] knative-test-reporter-robot opened #1404 "[flaky] test/conformance.TestChannelSpec/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/conformance.TestChannelSpec/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-07-23 12:41] pierDipi commented on #1404
[code]

[2020-07-24 01:45] zhaogaiwen opened #1451 "can not find the message sinking to the service"
**Describe the question**
when i send message to the topic through the command below，i can not find the consumer that consumes the message,what is more,i cannot find any error

bin/kafka-console-producer.sh --bootstrap-server 12.16.241.22:9092 --topic test

![image](https://user-images.githubusercontent.com/35682644/88353886-b9d64200-cd91-11ea-8b83-600ab7dcd371.png)

[2020-07-24 09:20] aliok commented on #1397
Depends on https://github.com/knative/eventing/issues/3702

[2020-07-24 18:55] aslom commented on #682
First version is in PR https://github.com/knative/eventing-contrib/pull/1406

It is fully working Kafka Sink that can be deployed in k8s cluster.

Next steps are to add security, unit tests (not sure how to mock sending to Kafka topic?), create KafkaSink CR and add controller reconciliation support for it

[2020-07-25 12:04] #1404 closed

[2020-07-27 08:58] #1395 closed

[2020-07-27 16:15] kramvan1 commented on #891
seems to be fixed now.

[2020-07-27 16:15] #891 closed

[2020-07-28 08:19] devguyio opened #1410 "Properly configure conformance tests to run source status conformance test against KafkaSource"
**Problem**
Eventing added the ability to test sources status conformance in knative/eventing#3605 . We need to do the following to run this test against Kafka Source

1. Add a new test case that will use the helper from eventing.
2. Add a KafkaSource initialization function to and properly configure the conformance tests `ComponentsTestRunner`

**Exit Criteria**
A measurable (binary) test that wo

[2020-07-28 08:21] devguyio commented on #1410
/area sources
/area test-and-release
/assign

[2020-07-28 08:22] devguyio commented on #1410
/area kafka

[2020-07-28 12:06] knative-test-reporter-robot opened #1412 "[flaky] test/e2e.TestKafkaSource/no_event-v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaSource/no_event-v1beta1
* **Repository name**: eventing-contrib

[2020-07-28 14:16] aliok commented on #1189
cc @scholzj

[2020-07-28 16:10] pierDipi opened #1413 "[KafkaChannel] Use fanout config from Eventing"
Use this fanout config https://github.com/knative/eventing/blob/master/pkg/channel/fanout/fanout_message_handler.go#L45 and then this function https://github.com/knative/eventing/blob/master/pkg/channel/fanout/fanout_message_handler.go#L93 does the job for you (so you can remove all the hacky code above for conversions)

_Originally posted by @slinkydeveloper in https://github.com/knative/eventing

[2020-07-28 16:20] slinkydeveloper commented on #1413
This might be connected to the work @aliok is already doing in #1407

[2020-07-28 16:36] pierDipi opened #1414 "Enable TestCamelSource"
**Describe the bug**
TestCamelSource fails after the upgrade: https://github.com/knative/eventing-contrib/pull/1408

 **To Reproduce**
Enable TestCamelSource

 **Knative release version**
`devel`

[2020-07-28 16:38] pierDipi commented on #1414
cc @nicolaferraro

[2020-07-28 16:40] pierDipi commented on #1413
/area kafka

[2020-07-28 16:40] pierDipi commented on #1414
/area camel

[2020-07-28 17:35] slinkydeveloper commented on #1414
/assign @nicolaferraro

[2020-07-29 10:18] #753 closed

[2020-07-29 10:18] #933 closed

[2020-07-29 12:03] #1410 closed

[2020-07-29 21:20] lionelvillard opened #1418 "Publish the heartbeats image"
**Problem**
The heartbeats cmd is used in our samples but since it's not published as a container image everyone needs to build it first, which is time consuming

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.
A new release artif

[2020-07-30 12:06] knative-test-reporter-robot opened #1419 "[flaky] 1.21% tests failed in repo eventing-contrib on 2020-07-30 10:36:52 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.21% tests failed in repo eventing-contrib on 2020-07-30 10:36:52 +0000 UTC
* **Repository name**: eventing-contrib

[2020-07-31 12:04] #1412 closed

[2020-07-31 12:04] knative-test-reporter-robot opened #1421 "[flaky] test/e2e.TestBrokerRedelivery/NatssChannel-messaging.knative.dev/v1alpha1/sequence"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/NatssChannel-messaging.knative.dev/v1alpha1/sequence
* **Repository name**: eventing-contrib

[2020-07-31 12:04] knative-test-reporter-robot opened #1422 "[flaky] test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1alpha1/sequence"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1alpha1/sequence
* **Repository name**: eventing-contrib

[2020-07-31 12:04] knative-test-reporter-robot opened #1423 "[flaky] test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1alpha1/fibonacci"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1alpha1/fibonacci
* **Repository name**: eventing-contrib

[2020-07-31 12:04] knative-test-reporter-robot opened #1424 "[flaky] test/e2e.TestBrokerRedelivery"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery
* **Repository name**: eventing-contrib

[2020-07-31 12:04] knative-test-reporter-robot opened #1425 "[flaky] test/e2e.TestBrokerRedelivery/NatssChannel-messaging.knative.dev/v1alpha1/fibonacci"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/NatssChannel-messaging.knative.dev/v1alpha1/fibonacci
* **Repository name**: eventing-contrib

[2020-07-31 12:04] knative-test-reporter-robot opened #1426 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-07-31 12:04] knative-test-reporter-robot opened #1427 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1
* **Repository name**: eventing-contrib

[2020-07-31 16:24] ssandanshi commented on #1390
Its now part of the milestones for the 0.17.0 release for Knative/serving (https://github.com/knative/serving/issues/7924). Can we add it to eventing and eventing-contrib as well?

[2020-08-01 12:04] knative-test-reporter-robot opened #1429 "[flaky] test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1beta1/fibonacci"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1beta1/fibonacci
* **Repository name**: eventing-contrib

[2020-08-01 13:54] LukasTomalla opened #1430 "Kafka Channel TSL Connection"
**Problem**
We have already a Kafka Cluster, but it is only avaible with a TLS Connection. I don't find any documentation for a Kafka Channel with TLS Connection. It seems like only Kafka Source can have a TLS Connection

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer, System Integrator
**Exit Criteria**
Kafka Channel can etablish a tls connection

[2020-08-02 12:05] knative-test-reporter-robot opened #1431 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1
* **Repository name**: eventing-contrib

[2020-08-02 12:05] knative-test-reporter-robot opened #1432 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-08-02 12:05] knative-test-reporter-robot opened #1433 "[flaky] test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1beta1/sequence"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1beta1/sequence
* **Repository name**: eventing-contrib

[2020-08-03 12:05] knative-test-reporter-robot opened #1434 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-03 12:05] knative-test-reporter-robot opened #1435 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1
* **Repository name**: eventing-contrib

[2020-08-04 12:05] knative-test-reporter-robot opened #1439 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-04 12:05] knative-test-reporter-robot opened #1440 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1
* **Repository name**: eventing-contrib

[2020-08-04 12:05] #1425 closed

[2020-08-04 12:05] #1432 closed

[2020-08-04 12:05] #1431 closed

[2020-08-04 22:14] evankanderson commented on #1390
Do you need to be able to set the securityContext for these pods, or would a pre-canned restrictive policy be sufficient?

I notice that there are some items that seem to be issues on the docker image? Are there issues with the image build, or simply the execution environment?

Proposed securityContext:

[code]

[2020-08-05 08:32] devguyio commented on #1130
/assign

[2020-08-05 11:06] wallyqs commented on #1130
Thanks @devguyio yes we're still interested, apologies this got stalled, need to prioritize it again. Think that for Jetstream we could do a different channel as well since

[2020-08-06 12:06] knative-test-reporter-robot opened #1443 "[flaky] 1.47% tests failed in repo eventing-contrib on 2020-08-06 10:37:40 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.47% tests failed in repo eventing-contrib on 2020-08-06 10:37:40 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-07 12:10] #1439 closed

[2020-08-07 12:10] #1440 closed

[2020-08-07 13:30] slinkydeveloper commented on #1433
#1407 disables this test for flakyness

[2020-08-07 13:30] slinkydeveloper commented on #1433
@pierDipi mind giving a look at this? Could it be that it just needs some more timeout?

[2020-08-07 13:39] pierDipi commented on #1433
I was already looking :)

I don't know.

/assign

[2020-08-07 13:53] pierDipi commented on #1433
The `KafkaChannel` never gets created, so it never gets reconciled.

[2020-08-07 13:55] pierDipi commented on #1433
[code]

[2020-08-07 13:57] slinkydeveloper commented on #1433
@pierDipi are you testing with the patch #1407?

[2020-08-07 13:57] slinkydeveloper commented on #1433
that's weird, any errors in the broker controller log? And most important, why is it flaky more than consistently failing?

[2020-08-07 13:58] pierDipi commented on #1433
No, the problem seems the same, is it?

[2020-08-07 14:13] #1397 closed

[2020-08-07 14:36] pierDipi commented on #1433
nvm, locally it passes consistently.

[2020-08-07 14:42] pierDipi commented on #1429
/assign

[2020-08-07 14:43] pierDipi commented on #1423
/assign

[2020-08-07 14:43] pierDipi commented on #1422
/assign

[2020-08-07 14:43] pierDipi commented on #1421
/assign

[2020-08-08 03:12] itsmurugappan commented on #1430
hi, did you check out the "Connecting to a TLS enabled Kafka broker" section in this https://knative.dev/docs/eventing/samples/kafka/source/

[2020-08-08 12:07] knative-test-reporter-robot opened #1448 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/NatssChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/NatssChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-08 12:07] knative-test-reporter-robot opened #1449 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1
* **Repository name**: eventing-contrib

[2020-08-08 12:07] knative-test-reporter-robot opened #1450 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/NatssChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/NatssChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-10 07:00] slinkydeveloper commented on #1451
@zhaogaiwen Can you set the logging in debug mode and provide a more verbose log? to do that, you need to change the `config-logging` config map in `knative-eventing` namespace and change level to debug and development to true

[2020-08-10 12:10] knative-test-reporter-robot opened #1452 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-10 12:10] knative-test-reporter-robot opened #1453 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-10 12:10] knative-test-reporter-robot opened #1454 "[flaky] test/e2e.TestKafkaBinding/no_event-v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaBinding/no_event-v1beta1
* **Repository name**: eventing-contrib

[2020-08-10 12:10] knative-test-reporter-robot opened #1455 "[flaky] test/e2e.TestEventTransformationForTriggerV1BrokerV1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1BrokerV1
* **Repository name**: eventing-contrib

[2020-08-10 12:10] #1450 closed

[2020-08-10 12:10] knative-test-reporter-robot opened #1456 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-08-11 12:08] #1386 closed

[2020-08-11 12:08] #1385 closed

[2020-08-11 12:08] knative-test-reporter-robot opened #1459 "[flaky] test/e2e.TestKafkaBinding/no_event-v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaBinding/no_event-v1alpha1
* **Repository name**: eventing-contrib

[2020-08-11 21:06] scholzj commented on #1189
Kafka doesn't have any native support for namespaces. So when the topic operator is enabled and a topic in Kafka is created, it will created a new KafkaTopic custom resource corresponding to the topic in the namespace it is watching. By default, that is the namespace where the Kafka cluster runs (but if a user provided this cluster it can be configured to a different namespace). So this is expecte

[2020-08-12 07:58] pierDipi commented on #1413
This is fixed.

/close

[2020-08-12 07:58] #1413 closed

[2020-08-12 12:07] knative-test-reporter-robot opened #1462 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-08-12 12:07] #1454 closed

[2020-08-12 12:07] knative-test-reporter-robot opened #1463 "[flaky] .Test"
### Auto-generated issue tracking flakiness of test
* **Test name**: .Test
* **Repository name**: eventing-contrib

[2020-08-12 12:07] knative-test-reporter-robot opened #1464 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1
* **Repository name**: eventing-contrib

[2020-08-13 12:07] knative-test-reporter-robot opened #1466 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1
* **Repository name**: eventing-contrib

[2020-08-13 12:07] knative-test-reporter-robot opened #1467 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1Beta1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-14 06:59] xinydev opened #1469 "No yaml for kafka-ch-dispatcher deployment"
**Describe the bug**
There is no yaml file to deploy a kafka-ch-dispatcher deployment  in [config folder](kafka-ch-dispatcher deployment )

 **Expected behavior**
a yaml file for deploying kafka-ch-dispatcher

 **To Reproduce**
Steps to reproduce the behavior.

 **Knative release version**
0.16.0

 **Additional context**
Did I find the wrong file location? Should I create a PR to add yaml file for

[2020-08-14 07:01] xinydev commented on #1469
/label channel/kafka
/label source/kafka

[2020-08-14 08:00] #1469 closed

[2020-08-14 12:07] #1426 closed

[2020-08-14 12:07] #1462 closed

[2020-08-14 12:07] knative-test-reporter-robot opened #1471 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/NatssChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/NatssChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-14 15:48] TheJaySmith commented on #1130
May make sense to start focusing attention towards JetStream. It seems like that's the direction NATS Streaming is going. I would be happy to assist in anyway that I can

[2020-08-14 19:24] lionelvillard commented on #1171
The plan is for the GitHub controller to generate an Kingress of the following form:

[code]

Initially the domain template can be specified as an annotation on the GitHubSource CR and eventually we can add a ConfigMap in knative-sources where to specify the template.

I don't think we want the GithubSource adapter to read the serving cm `config-network`. I would rather keep it separate for portab

[2020-08-14 19:33] julz commented on #1171
Nit, but just for completeness, more accurate to say it depends on an alpha KIngress feature (rewriteHost) which _currently_ only net-istio supports.

[2020-08-14 19:34] mattmoor commented on #1171
cc @tcnghia

Is this is ingress conformance?

[2020-08-14 19:36] mattmoor commented on #1171
What is backing the adapter?  Does it implement the dataplane contract wrt probing?

[2020-08-14 19:36] julz commented on #1171
Yeah: https://github.com/knative/networking/blob/master/test/conformance/ingress/rewrite.go

[2020-08-14 19:44] mattmoor commented on #1171
That's fun.  How is net-istio enabling that test? 🤔

https://github.com/knative-sandbox/net-istio/blob/f64ed34d3776a444372483dddc15a330c6c1ac53/test/e2e-tests.sh#L23-L24

[2020-08-14 19:48] julz commented on #1171
cc @dprotaso - I got a bit lost on all the ingress conformance changes recently :(

[2020-08-14 19:48] mattmoor commented on #1171
I think net-istio needs: https://github.com/knative-sandbox/net-contour/pull/210

[2020-08-14 19:56] lionelvillard commented on #1171
A Knative service

I'm not sure it does today. Can you expand a bit on what you mean by probing?

[2020-08-14 21:54] lionelvillard commented on #1171
So I changed my mind wrt. to getting the domain and domain template directly from the serving ConfigMaps. That's an implementation detail that shouldn't be exposed to the GitHub source user.

[2020-08-15 12:05] #1467 closed

[2020-08-15 12:05] knative-test-reporter-robot opened #1472 "[flaky] test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForTriggerV1Beta1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-08-15 12:06] #1466 closed

[2020-08-17 07:58] sebgoa commented on #1185
@antoineco any thoughts on this one ?

[2020-08-17 12:07] #1472 closed

[2020-08-17 12:07] #1456 closed

[2020-08-17 12:07] #1449 closed

[2020-08-18 12:06] knative-test-reporter-robot opened #1475 "[flaky] 1.31% tests failed in repo eventing-contrib on 2020-08-18 10:37:22 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.31% tests failed in repo eventing-contrib on 2020-08-18 10:37:22 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-19 10:07] antoineco commented on #1331
/assign tzununbekov

We need to add
{
  Name: "METRICS_PROMETHEUS_PORT",
  Value: "9092",
}

somewhere in https://github.com/knative/eventing-contrib/blob/9683a047efa0958c3a4eefa92360ea367c5c1acc/gitlab/pkg/reconciler/source/gitlabsource.go#L239-L249

[2020-08-19 10:50] aliok commented on #1477
@duglin @paulrossman

Our GSoC student has already impelented DockerHub source: https://github.com/tom24d/eventing-dockerhub

cc @tom24d

We just didn't have time to talk to the relevant WGs to move it to eventing contrib.

[2020-08-19 11:13] tom24d commented on #1477
I am happy to move to the org if source folks agree with :)

[2020-08-19 11:15] aliok commented on #1477
Ah, btw, https://github.com/tom24d/tekton-step-observer is also relevant for CI/CD workflows.
It is a project to enable cloud event emission on Tekton pipeline steps.

[2020-08-19 11:18] aliok commented on #1331
cc @tom24d
I remember you had some trouble around METRICS_PROMETHEUS_PORT and you fixed it on DockerHubSource.

[2020-08-19 11:47] tom24d commented on #1331
Yeah, technically `knative-sources/config-observability` breaks all sources in the `knative-sources` namespace that uses Knative Service as the infra, unless use other port for Prometheus.

I can not see `GitHubSource` specifies other port.
@lionelvillard Is it working today with that config? Not sure since I am not familiar with mt-feature.

[2020-08-19 11:50] antoineco commented on #1331
GitHubSource disables metrics entirely as a workaround: https://github.com/knative/eventing-contrib/blob/9683a047efa0958c3a4eefa92360ea367c5c1acc/github/pkg/reconciler/source/resources/service.go#L61-L64

We do support `METRICS_PROMETHEUS_PORT` since Eventing 0.16 exactly to fix the issue described here, but for some reason never got back to the Gitlab source to fix it.

[2020-08-19 12:07] knative-test-reporter-robot opened #1481 "[flaky] 1.05% tests failed in repo eventing-contrib on 2020-08-19 09:37:22 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.05% tests failed in repo eventing-contrib on 2020-08-19 09:37:22 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-19 14:35] #1331 closed

[2020-08-19 14:50] lionelvillard opened #1482 "Splitting this repo to smaller knative-sandbox repos (umbrella issue)"
The issue describes both the process and where individual components should be moved to.

## Process

1. Open an issue requesting the creation of a new repo: https://github.com/knative/community/issues/new/choose
1. Wait for the repository to be created
1. Push eventing-contrib to the new remote:

[code]

1. Cleanup: fork the repo and create a PR
     - delete everything not related to newrepo

[2020-08-19 16:26] grantr opened #1485 "Use v1 Channelable in NATSS Channel"
**Problem**
NATSS Channel still uses v1alpha1 Channelable which is scheduled to be removed in 0.18.

[2020-08-19 19:37] lionelvillard commented on #1482
@matzew @davyodom @lberk Can we move the kafka bits over to `knative-sandox/eventing-kafka`? IMO it's fine to have 2 different implementations there.

[2020-08-19 19:41] lionelvillard commented on #1482
@mattmoor @lberk I can take care of moving the GitHub code over.

[2020-08-19 20:52] n3wscott opened #1487 "Please make a eventing-natss repo in knative-sandbox"
solves the natss checkbox for https://github.com/knative/eventing-contrib/issues/1482

[2020-08-19 23:53] davyodom commented on #1482
It feels strange to split apart eventing-contrib but combine separate kafka implementations together in a different place. We'll then face the same pain (dependency management, etc) which is trying to be alleviated by splitting eventing-contrib apart.  If it is decided to take this approach it would take some effort to make these two things exist together coherently in the eventing-kafka repo I th

[2020-08-20 06:38] aliok commented on #1394
/assign

This is to be done for 0.18

[2020-08-20 06:38] aliok commented on #1396
/assign

This is to be done for 0.18

[2020-08-20 07:09] aliok commented on #1485
https://github.com/knative/eventing/pull/3789#pullrequestreview-469565624 depends on this

[2020-08-20 12:06] knative-test-reporter-robot opened #1489 "[flaky] 2.36% tests failed in repo eventing-contrib on 2020-08-20 10:36:54 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.36% tests failed in repo eventing-contrib on 2020-08-20 10:36:54 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-20 12:54] lionelvillard commented on #1482
Well not quite (I hope). It's one thing to have 10 (and counting) different components in one repo vs only 2.

I don't have strong feelings about it, other people can jump in and give their opinion. Personally I find our Kafka story quite confusing, with no clear reason why to pick one implementation vs the other, since both are now using the same library. Having only one repo would help straighte

[2020-08-20 14:18] matzew commented on #1482
I'd think that we move the current kafka source and kafka channel to something like "knative/eventing-kafka" repo.

If we feel like adding a second implementation approach of a channel, using the same APIs, why not ?
I think if the channels have different goals and philosophies and therefore is reasonable to have both.

Now, with the kafka client being the same, I think it may make sense, at somep

[2020-08-20 16:41] davyodom commented on #1482
Agreed on the general points here.  Perhaps we can discuss in the next delivery WG meeting further?  If we do combine the two channels into one repo and also the source, we probably need to do some restructuring (extract common packages like the API, client and its configuration?, etc).  Some probably mandatory as a first step, so builds and releases still work, and other refactoring could be done

[2020-08-20 22:45] itsmurugappan opened #1492 "Provide option for configuring offset number in kafka source"
**Problem**
Currently the kafka source starts from the latest offset. There might be scenarios where the user might need to specify earliest offset or a specific offset number.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Developer

**Exit Criteria**
User is able to specify offset number while creating the kafka source

[2020-08-20 22:58] itsmurugappan opened #1493 "Delete Receiver Adapter deployment when sink is not found"
**Problem**
Create a kafka source before creating the ksvc(which is the sink), kafka source wont create a deployment, this works as expected. But, after succesful reconciliation of kafka source, if ksvc is deleted, kafka source status goes to false, but pod is still up, trying to send messages to sink.

In this scenario if we delete the deployment of receiver adapter, it will be reconciled back wh

[2020-08-20 23:04] itsmurugappan opened #1494 "Messages dropped when receiver adapter is temporarily down"
**Describe the bug**
Messages are dropped when receiver adapter is temporarily down.

 **Expected behavior**
messages should not be dropped when receiver adapter is offline

 **To Reproduce**
Create Kafka source, produce messages in a loop. Simulate a temporary failure to bounce the receiver adapter, you would notice that some messages are dropped.

 **Knative release version**
0.16

[2020-08-20 23:08] grantr commented on #1493
I think I would classify this as a bug:

IIUC, the messages the receive adapter tries to send are not retried if the sink comes back, but are lost during the downtime.

[2020-08-20 23:09] itsmurugappan commented on #1493
yes, messages are lost.

[2020-08-21 07:23] nicolaferraro opened #1495 "Camel controller fails to acquire lease in 0.17.0"
**Describe the bug**
Camel controller logs the following and nothing else:

[code]

 **Expected behavior**
It should reconcile CamelSources.

 **To Reproduce**
Just run the controller.

 **Knative release version**
0.17.0

[2020-08-21 12:08] knative-test-reporter-robot opened #1497 "[flaky] 1.31% tests failed in repo eventing-contrib on 2020-08-21 09:36:52 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.31% tests failed in repo eventing-contrib on 2020-08-21 09:36:52 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-22 12:08] knative-test-reporter-robot opened #1499 "[flaky] 1.44% tests failed in repo eventing-contrib on 2020-08-22 10:37:18 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.44% tests failed in repo eventing-contrib on 2020-08-22 10:37:18 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-23 12:09] knative-test-reporter-robot opened #1500 "[flaky] 1.17% tests failed in repo eventing-contrib on 2020-08-23 10:36:50 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.17% tests failed in repo eventing-contrib on 2020-08-23 10:36:50 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-24 08:00] aliok commented on #1492
/assign

[2020-08-24 08:02] aliok commented on #1492
Could be relevant: https://github.com/knative/eventing-contrib/issues/655

[2020-08-24 08:03] aliok commented on #1494
@slinkydeveloper may have an idea alredy

[2020-08-24 12:11] knative-test-reporter-robot opened #1501 "[flaky] 1.31% tests failed in repo eventing-contrib on 2020-08-24 10:36:51 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.31% tests failed in repo eventing-contrib on 2020-08-24 10:36:51 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-25 12:11] knative-test-reporter-robot opened #1505 "[flaky] 1.70% tests failed in repo eventing-contrib on 2020-08-25 10:37:22 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.70% tests failed in repo eventing-contrib on 2020-08-25 10:37:22 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-26 12:10] knative-test-reporter-robot opened #1507 "[flaky] 1.31% tests failed in repo eventing-contrib on 2020-08-26 10:37:06 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.31% tests failed in repo eventing-contrib on 2020-08-26 10:37:06 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-26 15:12] matzew commented on #1424
when the trigger is **not** ready, the status looks like:

[code]

[2020-08-27 11:10] aliok commented on #1394
IMO, this depends on https://github.com/knative/eventing-contrib/issues/1482

We need to make some tooling changes (releasing pre-install.yaml, optionally implementing upgrade tests, etc.) for Kafka bits to change the storage version to v1beta1 from v1alpha1.

I would rather do these tooling changes in a clean repo to not affect other stuff. I see there's https://github.com/knative-sandbox/eventin

[2020-08-27 12:09] knative-test-reporter-robot opened #1508 "[flaky] 1.96% tests failed in repo eventing-contrib on 2020-08-27 10:37:04 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.96% tests failed in repo eventing-contrib on 2020-08-27 10:37:04 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-27 15:43] evankanderson commented on #1487
/assign @grantr

[2020-08-27 15:44] evankanderson commented on #1487
(This may eventually have a lot of functionality moved into NATSS upstream, except for the Knative-specific components.)

[2020-08-27 17:01] grantr commented on #1487
Duplicate of https://github.com/knative/community/issues/236

(that one has the standard format so will be easier to use as a tracking issue)

[2020-08-27 17:01] #1487 closed

[2020-08-27 17:42] pierDipi commented on #1414
/close

[2020-08-27 17:42] pierDipi commented on #1495
/close

[2020-08-27 17:42] #1414 closed

[2020-08-27 17:42] #1495 closed

[2020-08-28 11:49] matzew commented on #1424
see also https://github.com/knative/eventing-contrib/pull/1511

[2020-08-28 11:49] matzew commented on #1423
see: https://github.com/knative/eventing-contrib/pull/1511

[2020-08-28 11:49] matzew commented on #1422
see: https://github.com/knative/eventing-contrib/pull/1511

[2020-08-28 11:49] matzew commented on #1421
see: https://github.com/knative/eventing-contrib/pull/1511

[2020-08-28 11:50] matzew commented on #1429
see: https://github.com/knative/eventing-contrib/pull/1511

[2020-08-28 11:50] matzew commented on #1433
seeL https://github.com/knative/eventing-contrib/pull/1511

[2020-08-28 11:55] matzew commented on #1508
What's the action item here?

[2020-08-28 11:56] matzew commented on #1507
What's the action item here?

[2020-08-28 11:56] matzew commented on #1505
What's the action item here?

[2020-08-28 11:56] matzew commented on #1463
/close

[2020-08-28 21:14] vaikas commented on #1424
FYI, I updated http://github.com/vaikas/knshred to merge the various controller logs to dig into this little more (and used that as an example in the README docs).

I was looking at this failure in particular:
https://prow.knative.dev/view/gcs/knative-prow/logs/ci-knative-eventing-contrib-continuous/1291684970015756288

Here's some observations

[code]

[code]

The last time we try to reconcile th

[2020-08-28 21:33] vaikas commented on #1424
So, what I'm looking at in particular right now is this. Broker gets reconciled one more time, but notice it has the same resource version as the first line I pasted in the comment before, so I'd expect the tracker (in the Trigger that watches broker) to not fire after that. So, the fact that both the Broker / Trigger get reconciled at the same exact moment is interesting but no smoking gun on wha

[2020-08-29 12:09] knative-test-reporter-robot opened #1516 "[flaky] 1.70% tests failed in repo eventing-contrib on 2020-08-29 10:37:35 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.70% tests failed in repo eventing-contrib on 2020-08-29 10:37:35 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-30 09:12] pierDipi commented on #1424
I'm trying a fix https://github.com/knative/eventing-contrib/pull/1517

eventing diff: https://github.com/knative/eventing/compare/master...pierDipi:enqueue-triggers-on-br-changes

/assign

[2020-08-30 12:08] knative-test-reporter-robot opened #1518 "[flaky] 1.70% tests failed in repo eventing-contrib on 2020-08-30 10:37:06 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.70% tests failed in repo eventing-contrib on 2020-08-30 10:37:06 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-31 07:43] pierDipi commented on #1427
https://github.com/knative/eventing/pull/3966

/assign

[2020-08-31 07:44] pierDipi commented on #1455
https://github.com/knative/eventing/pull/3966

/assign

[2020-08-31 07:44] pierDipi commented on #1453
https://github.com/knative/eventing/pull/3966

/assign

[2020-08-31 07:44] pierDipi commented on #1452
https://github.com/knative/eventing/pull/3966

/assign

[2020-08-31 07:44] pierDipi commented on #1448
https://github.com/knative/eventing/pull/3966

/assign

[2020-08-31 07:44] pierDipi commented on #1435
https://github.com/knative/eventing/pull/3966

/assign

[2020-08-31 09:01] slinkydeveloper commented on #1520
Hey people, I'm going to give look at this soon

/assign

[2020-08-31 12:09] knative-test-reporter-robot opened #1521 "[flaky] 2.22% tests failed in repo eventing-contrib on 2020-08-31 10:37:04 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 2.22% tests failed in repo eventing-contrib on 2020-08-31 10:37:04 +0000 UTC
* **Repository name**: eventing-contrib

[2020-08-31 12:58] slinkydeveloper commented on #1494
When you recreate the source, do you always set up the same consumer group?

[2020-08-31 14:40] slinkydeveloper commented on #1482
For what regards kafka, i think atm we're not ready to host both projects in the same repo.

Also, i think the kafka impl in eventing-contrib should continue to live under `knative` org, since it's a "mature" project of the knative umbrella. I would say the same for gitlab, github, camel and other sources that are under `eventing` since quite some time... Moving them to knative-sandbox seems like

[2020-08-31 14:52] itsmurugappan commented on #1494
yes, same consumer group. Infact the kafkasource is not deleted, just the adapter pods are bounced.

[2020-08-31 15:51] pierDipi commented on #1105
This is done.
/close

[2020-08-31 15:52] #1105 closed

[2020-08-31 17:16] lionelvillard opened #1524 "Considering removing eventing.knative.dev/scope support in KafkaChannel"
Is this used?

[2020-09-01 07:27] slinkydeveloper commented on #1494
Ok, can you try to reproduce the issue and **while** you're reproducing the issue, consume the topic where the consumer group offset is being written? I wonder if, for some reason, we start from the wrong offset (the newest and not the one on the topic) or something wrong is being written in the offset topic

[2020-09-01 11:00] aliok commented on #1524
related: https://github.com/knative/eventing-contrib/issues/1189#issuecomment-624281888

[2020-09-01 12:09] #1427 closed

[2020-09-01 12:09] #1452 closed

[2020-09-01 13:35] slinkydeveloper commented on #1520
@MPeyrard86 which version of eventing are you using?

[2020-09-01 14:45] Yiyiyimu opened #1527 "Kafka Channel could not connect to off-cluster Kafka"
**Describe the bug**
In Kafka Channel [Deployment step](https://github.com/knative/eventing-contrib/tree/master/kafka/channel#deployment-steps), it says we could use off-cluster Kafka. But it seems I could not do it. I tried to change `bootstrapServers` to localhost:9092, 127.0.0.1:9092, 0.0.0.0:9092, host.minikube.internal:9092([Reference](https://minikube.sigs.k8s.io/docs/handbook/host-access/))

[2020-09-01 14:46] Yiyiyimu commented on #1527
Hi @pierDipi, do you have any suggestions?

[2020-09-01 14:59] slinkydeveloper commented on #1527
Hi @Yiyiyimu, using minikube you cannot access to your local resources on your machine. I think there are some threads here and there that explains if this is possible and how https://github.com/kubernetes/minikube/issues/2735, but that really depends on your kube env and not on knative

[2020-09-01 15:14] MPeyrard86 commented on #1520
@slinkydeveloper We are still using 0.14. But we're probably due for another upgrade.

[2020-09-01 15:17] Yiyiyimu commented on #1527
@slinkydeveloper Thank you for your prompt reply! Actually this issue thread just updated this June that we could access local service as shown here: https://github.com/kubernetes/minikube/issues/2735#issuecomment-638332820. But sadly it's not compatible with docker based minikube...

But anyway, do you have any suggestions on which kind of k8s to use in need of connecting local kafka?

[2020-09-01 15:47] slinkydeveloper commented on #1527
TBH i have no clue, i always use [strimzi](https://strimzi.io/) and start kafka directly in kube

[2020-09-01 16:15] Yiyiyimu commented on #1527
@slinkydeveloper Still thanks! The situation is I'm developing RocketMQ channel (as I asked for help before in #1370 ). The RocketMQ Operator is not so well crafted so I'm trying to connect to local cluster, and found it seems not working for connecting local kafka also.

The information suggests that we could connect to off-cluster kafka was added at the beginning of kafka channel (#499). @matzew

[2020-09-01 16:40] slinkydeveloper commented on #1527
Yes you can connect to whatever kafka you want, but it must be reachable by the internal kubernetes network, so it's not an issue specific to kafka channel or knative itself, but it's something that depends on your kubernetes distro (in this case, minikube)

[2020-09-01 20:45] ssandanshi opened #1528 "AWSSQSSource consumes messages from SQS even if the Kafkachannel it sinks to is unavailable/down."
**Describe the bug**
AWSSQSSource consumes messages from SQS even if the Kafkachannel it sinks to is unavailable/down.

This is our use case

SQS  -> AWSSQSSource -> KafkaChannel (Knative) <- Subscription <- Service

When the Kafka cluster goes down, The channel goes down as well. The SQS Source still keeps on reading messages which are then lost.

 **Expected behavior**
AWSSQSSource should check

[2020-09-02 03:08] Yiyiyimu commented on #1527
Got it. Thank you.

[2020-09-02 03:08] #1527 closed

[2020-09-02 05:09] itsmurugappan commented on #1494
Not sure if i did this correctly

messages from the actual topic. I posted from numbers 1 to 50, you can see numbers missing from 25-38 and 40-44, thats when i bounced the adapter pod

[code]

consumer offset topic details

[code]

[2020-09-02 07:31] aliok commented on #1188
/assign

[2020-09-02 12:05] aliok commented on #1524
Give me some time and let me prepare a Google doc with suggestions for alternatives for this annotation

[2020-09-02 12:11] #1421 closed

[2020-09-02 12:11] #1422 closed

[2020-09-02 12:11] #1455 closed

[2020-09-02 12:11] #1453 closed

[2020-09-02 12:11] #1423 closed

[2020-09-02 21:17] itsmurugappan commented on #1494
@slinkydeveloper as you can see above current offset is always empty.

According to this [issue](https://github.com/Shopify/sarama/issues/1570#issuecomment-667559693), we have to upgrade to sarama 1.27.0 and do `session.Commit()` after marking the message.

Kindly review and let me know your thoughts so I can send a PR for this.

[2020-09-03 12:13] pierDipi commented on #1448
[code]
https://github.com/knative/eventing/issues/3686

[2020-09-03 12:14] pierDipi commented on #1435
https://github.com/knative/eventing-contrib/issues/1448#issuecomment-686447238

[2020-09-03 12:15] pierDipi commented on #1448
https://github.com/knative/eventing-contrib/issues/1448#issuecomment-686447238

[2020-09-03 12:15] pierDipi commented on #1463
https://github.com/knative/eventing-contrib/issues/1448#issuecomment-686447238

[2020-09-03 17:37] itsmurugappan commented on #1493
@grantr can i send a PR to address this one or it needs more discussion ?

[2020-09-03 17:40] grantr commented on #1493
@itsmurugappan Yes please do send a PR! If you plan to work on this issue, please assign it to yourself so nobody else duplicates your work. Use the `/assign` command in a comment.

[2020-09-03 17:41] itsmurugappan commented on #1493
/assign

[2020-09-04 12:09] knative-test-reporter-robot opened #1530 "[flaky] test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowV1Beta1BrokerV1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-09-04 12:18] pierDipi commented on #1530
[code]

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-04 12:19] pierDipi commented on #1434
[code]

https://github.com/gotestyourself/gotestsum/issues/141

[2020-09-05 12:09] #1435 closed

[2020-09-05 12:09] knative-test-reporter-robot opened #1532 "[flaky] _go_tests.DataRaceAnalysis"
### Auto-generated issue tracking flakiness of test
* **Test name**: _go_tests.DataRaceAnalysis
* **Repository name**: eventing-contrib

[2020-09-06 12:11] #1448 closed

[2020-09-06 12:11] #1530 closed

[2020-09-06 12:11] #1434 closed

[2020-09-07 06:11] slinkydeveloper commented on #1494
Let me try to bump the sarama versio @itsmurugappan

[2020-09-07 06:15] slinkydeveloper commented on #1494
It seems like we're already on v1.27: https://github.com/knative/eventing-contrib/blob/master/go.mod#L6 so do you still see this problem with master of this repo?

[2020-09-07 06:15] slinkydeveloper commented on #1494
This was updated by #1510

[2020-09-07 07:17] itsmurugappan commented on #1494
yay!, with the update, messages are not dropped when receiver adapter crashes. Thank you.
Just to confirm, offsets are committed only when the adapter crashes. Is this the expected behaviour? For example, in the below scenario 5 messages were not marked immediately but on a crash they get synced up. Adding manual commit after marking the message updates the offset immediately, do we need to add th

[2020-09-07 07:20] slinkydeveloper commented on #1494
TBH i prefer to leave the actual sarama configuration, committing on every single message is expensive. I guess that sarama commits offsets at a predefined interval or at predefined batch size

[2020-09-07 07:46] slinkydeveloper commented on #1494
Since on master this seems to be fixed, I close this issue as solved. @itsmurugappan please let me know if you need something else

[2020-09-07 07:46] #1494 closed

[2020-09-07 12:09] #1532 closed

[2020-09-07 13:00] aliok commented on #1188
This will be only solved for the cluster scoped dispatcher.

The namespaced dispatcher won't still have an "OwnerRef" because the strategy here is to create the dispatcher in advance with an ownerRef. The namespace dispatchers need to be created later and we there's nothing that can be set as the ownerRef. If it was per channel, instead of per namespace, we would be able to set the CR instance as

[2020-09-07 14:47] aliok commented on #1524
cc @matzew (appreciate your comment here)

[2020-09-07 19:11] itsmurugappan commented on #1494
makes sense , thank you @slinkydeveloper

[2020-09-08 09:41] aliok commented on #1188
Oh boy... Can't create the dispatcher `service` in advance... The thing is, the `type` should be set to `ExternalName` but that requires the `externalName` to be set to. And in the code, we set it to `fmt.Sprintf("%s.%s.svc.%s", dispatcherName, testNS, utils.GetClusterDomainName())` which cannot be done in the YAML.

Another approach would be creating the `service` in advance with another `type` a

[2020-09-08 10:20] matzew commented on #1188
sounds messy... :thinking:

[2020-09-08 10:21] slinkydeveloper commented on #1188
Ok maybe it's me, but i didn't properly get what's the problem here. @aliok the dispatcher is brought up by the controller right? So could the owner ref be just the controller?

[2020-09-08 11:35] aliok commented on #1188
Don't know. Could work I guess. Let me think about that.

[2020-09-08 11:44] aliok commented on #1528
Isn't this similar to https://github.com/knative/eventing-contrib/issues/1493 ?

[2020-09-08 13:41] lionelvillard commented on #1188
we tried setting the owner ref to be the controller using the downward API without success (problem with the uid if I recall well).

[2020-09-08 14:49] ssandanshi commented on #1528
@aliok This is a similar issue. #1493 is for kafkaSource. This one is for AWSSQSSource.

When the sink is down, we are losing 100% of the messages. We tried both KafkaChannel and IMC as the sink.

[2020-09-09 07:16] aliok commented on #1528
Thanks @ssandanshi for the context.

[2020-09-09 08:59] aliok commented on #1188
For reference:
These 2 comments explain why the controller can't be used as the owner:
- https://github.com/knative/eventing/pull/3040#discussion_r423177564
- https://github.com/knative/eventing/pull/3040#pullrequestreview-409360520
(thanks @pierDipi for clarification)

Can't come up with any alternatives to set as the owner.

[2020-09-09 09:10] aliok commented on #1188
My bad... I don't think this is accurate: `externalName` is not needed.
Reworking a PR now.

[2020-09-09 12:09] #1391 closed

[2020-09-09 12:59] aliok commented on #1188
Reworked PR: https://github.com/knative/eventing-contrib/pull/1536

[2020-09-09 15:22] vaikas commented on #1188
For the namespaced one, using the ownerref of the channel seems reasonable to me. The only caveat is that do we really want there to be 1:1 mapping between a channel and a dispatcher?
For the cluster one, if it's the problem getting the UID, can't we just ask the API server who am I and get the UID?

[2020-09-09 15:51] whitleykeith opened #1539 "Kafka Channel wont delete"
**Describe the bug**
I can't delete the kafka channel due to the following error:

admission webhook "validation.webhook.kafka.messaging.knative.dev" denied the request: decoding request failed: cannot decode incoming old object: json: unknown field "subscribable"

 **Expected behavior**
I can delete the channel

 **To Reproduce**
deploy a channel and a subscription to that channel
delete subscrip

[2020-09-09 15:51] aliok commented on #1188
Won't work if there's more than 1 channel in a namespace.

I think this will be fine now, with the PR: https://github.com/knative/eventing-contrib/pull/1536

[2020-09-09 15:58] slinkydeveloper commented on #1539
Seems like an issue in the api version conversion, @aliok do you know something about it?

[2020-09-09 15:58] slinkydeveloper commented on #1539
@whitleykeith which kafka channel api version are you using?

[2020-09-09 15:59] slinkydeveloper commented on #1539
/area kafka
/channel kafka

[2020-09-09 16:02] whitleykeith commented on #1539
messaging.knative.dev/v1beta1

[2020-09-09 16:58] aliok commented on #1539
Looks exactly the same with the comment here: https://github.com/knative/eventing-contrib/pull/1378#issuecomment-658164210

I thought this was only a problem in master and was fixed later before a release.

But, now I realized that I think we need to backport https://github.com/knative/eventing-contrib/pull/1398 to 0.16 branch and make a new 0.16 bugfix release.

[2020-09-09 16:58] aliok commented on #1539
/assign

I will take the rest of this week off, but I will check this on Monday.

[2020-09-10 00:54] AceHack commented on #1100
Any update?

[2020-09-10 03:00] #1087 closed

[2020-09-10 05:26] #1188 closed

[2020-09-10 06:49] slinkydeveloper commented on #1198
/remove-lifecycle stale

/good-first-issue

[2020-09-10 06:49] slinkydeveloper commented on #1051
I'm gonna close it, reopen if you need it

[2020-09-10 06:49] #1051 closed

[2020-09-10 08:20] slinkydeveloper commented on #682
Done in https://github.com/knative-sandbox/eventing-kafka-broker/pull/134

[2020-09-10 08:20] #682 closed

[2020-09-10 09:33] pierDipi commented on #983
/close

[2020-09-10 09:33] #983 closed

[2020-09-10 09:34] pierDipi commented on #1002
/close

[2020-09-10 09:34] #1002 closed

[2020-09-10 09:34] pierDipi commented on #1086
/close

[2020-09-10 09:34] #1086 closed

[2020-09-10 09:34] pierDipi commented on #1190
/close

[2020-09-10 09:34] #1190 closed

[2020-09-10 09:35] pierDipi commented on #1214
/close

[2020-09-10 09:35] #1214 closed

[2020-09-10 09:46] pierDipi commented on #1100
@AceHack Is your issue fixed?
That PR should fix it.

cc @lberk

[2020-09-10 09:47] pierDipi commented on #1084
Fixed in #1059
/close

[2020-09-10 09:48] #1084 closed

[2020-09-10 09:49] pierDipi commented on #947
I don't see any `pkg/controller/sdk` directory.
/close

[2020-09-10 09:49] #947 closed

[2020-09-10 09:51] pierDipi commented on #915
/remove-lifecycle stale
/lifecycle frozen

[2020-09-10 09:54] pierDipi commented on #770
The proposal is almost what we're doing in https://github.com/knative-sandbox/eventing-kafka-broker

@slinkydeveloper, can we close this?

[2020-09-10 09:58] pierDipi commented on #1070
We get rid of cgo even in the sandbox org, so
/close

[2020-09-10 09:58] #1070 closed

[2020-09-10 10:02] slinkydeveloper commented on #770
This issue is invalid

[2020-09-10 10:02] #770 closed

[2020-09-10 13:09] lionelvillard commented on #1131
this is done.

[2020-09-10 13:09] #1131 closed

[2020-09-10 14:05] AceHack opened #1548 "Kafka channel controller won't start"
**Describe the bug**
Gets the following error and restarts "Error reading/parsing logging configuration"

 **Expected behavior**
channel controller to start

 **To Reproduce**
Install kafka channel controller

 **Knative release version**
0.17.2 serving, 0.17.3 eventing, 0.17.1 contrib

 **Additional context**
here is the config-logging
[code]

[2020-09-10 14:11] slinkydeveloper commented on #1548
The config map sounds fine, can you show the log you see?

[2020-09-10 14:28] lionelvillard opened #1549 "The github webhook fails to start (crash loop)"
**Describe the bug**
Getting this error:

[code]

most likely due to:

[code]

 **Expected behavior**
no crash

 **To Reproduce**
Steps to reproduce the behavior.

Install the github source

 **Knative release version**
0.17.1

 **Additional context**
Add any other context about the problem here such as proposed priority

[2020-09-10 15:11] AceHack commented on #1548
I found the issue, I missed a --- in my yaml for cluster roles so it was an RBAC issue.

[2020-09-10 15:11] #1548 closed

[2020-09-10 15:35] #1549 closed

[2020-09-10 16:13] AceHack opened #1554 "Kafka channel webhook in crash loop"
**Describe the bug**
Kafka channel webhook crashes over and over with:
`2020/09/10 13:43:00 http: TLS handshake error from 10.78.180.106:33934: server key missing`
Also, the `messaging-webhook-certs` never gets updated with real certs

 **Expected behavior**
Webhook to startup correctly and certs created

 **To Reproduce**
Install kafka channel

 **Knative release version**
serving 0.17.2, eventin

[2020-09-11 02:41] AceHack opened #1556 "HA mode breaks horizontal scaling of kafka channel dispatcher"
**Describe the bug**
In 0.16.x where HA mode was off by default I was able to change the replica count for the kafka channel dispatcher and get horizontal scale.  By this I mean if a topic has 100 partitions and I was to scale to 2 dispatchers I would get 50 partitions owned by dispatcher 1 and 50 partitions owned by dispatcher 2.  If I scaled up to four I would a 25, 25, 25, 25 partition distribu

[2020-09-11 04:06] AceHack commented on #1100
It appears to be fixed.  I'll open a new issue if not.

[2020-09-11 04:08] AceHack commented on #1188
We have more than one channel per namespace.  Will this fix my issue?

[2020-09-11 04:11] AceHack commented on #813
/reopen
/remove-lifecycle stale

I would like an answer to this question.

[2020-09-11 04:12] AceHack commented on #1110
/reopen
/remove-lifecycle stale

I would like an answer to this question.

[2020-09-11 04:16] mattmoor commented on #1110
/lifecycle frozen

[2020-09-11 06:11] pierDipi commented on #1100
/close

[2020-09-11 06:11] #1100 closed

[2020-09-11 06:13] pierDipi commented on #588
We evaluated and decided to use sarama.
/close

[2020-09-11 06:13] #588 closed

[2020-09-11 06:47] slinkydeveloper commented on #1556
I think this is related to the discussion here https://github.com/knative/eventing-contrib/pull/1446/files#r469492807

[2020-09-11 06:52] slinkydeveloper commented on #596
This is solved

[2020-09-11 06:52] #596 closed

[2020-09-11 06:52] slinkydeveloper commented on #563
This is solved

[2020-09-11 06:52] #563 closed

[2020-09-11 07:10] #1493 closed

[2020-09-11 07:14] pierDipi commented on #1556
The "quick fix" is what you're doing by disabling HA, but there are some issues with that.

[2020-09-11 13:04] pierDipi commented on #627
/close

[2020-09-11 13:04] #627 closed

[2020-09-11 13:25] lionelvillard commented on #1188
@AceHack Are you using the hidden `eventing.knative.dev/scope` annotation?

[2020-09-11 13:26] lionelvillard commented on #538
/reopen

We need to have a test for it

[2020-09-11 13:26] lionelvillard commented on #538
/remove-lifecycle stale

[2020-09-11 13:28] lionelvillard commented on #570
There is ongoing work in this repo: https://github.com/lionelvillard/eventing-redis

/close

[2020-09-11 13:28] #570 closed

[2020-09-11 13:30] lionelvillard commented on #590
/remove-lifecycle stale

[2020-09-11 14:33] AceHack commented on #1188
I didn't think it was hidden, it's called out here in the docs.
https://github.com/knative/eventing-contrib/tree/master/kafka/channel#namespace-dispatchers

And yes we are using that

[2020-09-11 14:46] lionelvillard commented on #1188
thanks @AceHack. Can I ask you a couple more questions:
- Are you also using the cluster dispatcher?
- If the answer is no, would you be ok if instead of the annotation we provide a release artifact that only includes the namespace dispatcher?

thanks.

[2020-09-11 15:54] AceHack commented on #1188
Currently, we are also using the cluster dispatcher but we could avoid it, it's not absolutely necessary.  It's some more works for us to deploy the namespace dispatcher separately but something we could do.

[2020-09-11 17:33] AceHack commented on #1524
I use this

[2020-09-11 17:35] AceHack commented on #1188
We have multiple kafka clusters and need the ability to connect to the different ones per namespace

[2020-09-11 17:38] AceHack commented on #1189
we have multiple kafka clusters and need the ability to connect to different clusters

[2020-09-11 17:40] AceHack commented on #1189
Can you please fix this as soon as possible since "Fixing this problem is not very hard".  It is causing us bad issues currently.

[2020-09-11 17:43] AceHack commented on #1189
@scholzj what do you man disable the Topic Operator?  how can you do that?

[2020-09-11 18:24] lionelvillard commented on #1188
thanks @AceHack, this is very helpful!

[2020-09-11 18:27] scholzj commented on #1189
The Kafka contrib part is using Kafka from a project called Strimzi. The `KafkaTopic` resources are created by the Strimzi Topic Operator which can be disabled by removing [this line](https://github.com/strimzi/strimzi-kafka-operator/blob/1c8f8c5d94b72162d555bf0cecdf1d398fd76e38/examples/kafka/kafka-persistent.yaml#L37) from the `Kafka` custom resource which defines the Kafka cluster. for the reco

[2020-09-11 18:49] AceHack commented on #1188
We actually would like to connect to different ones per topic, but we've been getting by with per namespace.

[2020-09-11 19:20] lionelvillard commented on #1188
@matzew @slinkydeveloper @lberk

[2020-09-11 20:34] AceHack commented on #1189
@scholzj in no way does knative kafka channel contrib use Strimzi.  It creates topics all by itself without any external kafka operator such as Strimzi.  For instance, we don't even have Strimzi installed and use knative kafka channel contrib and it works fine.  Whenever you create KafkaTopic CRD that IS part of knative kafka channel contrib, it's the knative kafka channel controller creates the k

[2020-09-11 20:57] scholzj commented on #1189
I didn't said it is using the `KafkaTopic` resources to create topics. I the operator would create them when you create a topic in Kafka. Anyway ... that is my understanding why I was cced here. If it is not the case, you can just ignore anything I said.

[2020-09-11 22:02] ntzlqx opened #1560 "KafkaChannel subscribers list ends up with duplicate subscribers for the same subscription. This results in duplicate dispatches."
**Describe the bug**
Duplicate messages are dispatched to the same knative function

 **Expected behavior**
Events are not duplicated

 **To Reproduce**
I believe the issue occurs upon manual deletion of a subscription, but could be also upon upgrade (not verified)
Another way to replicate: Edit the broker config to add delivery options. This results in recreating all subscriptions and respectivel

[2020-09-12 14:31] lionelvillard commented on #534
this is fixed.

[2020-09-12 14:31] #534 closed

[2020-09-12 22:24] duglin commented on #537
/remove-lifecycle stale

[2020-09-13 11:24] pierDipi commented on #656
This is done.
/close

[2020-09-13 11:24] #656 closed

[2020-09-13 12:09] knative-test-reporter-robot opened #1561 "[flaky] test/e2e.TestKafkaSourceReconciler/create_sink_after_delete"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaSourceReconciler/create_sink_after_delete
* **Repository name**: eventing-contrib

[2020-09-13 12:09] knative-test-reporter-robot opened #1562 "[flaky] test/e2e.TestKafkaSourceReconciler/create_kafka_source"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaSourceReconciler/create_kafka_source
* **Repository name**: eventing-contrib

[2020-09-13 12:09] knative-test-reporter-robot opened #1563 "[flaky] test/e2e.TestKafkaSourceReconciler/create_sink"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaSourceReconciler/create_sink
* **Repository name**: eventing-contrib

[2020-09-13 12:09] knative-test-reporter-robot opened #1564 "[flaky] test/e2e.TestKafkaSourceReconciler/delete_sink"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaSourceReconciler/delete_sink
* **Repository name**: eventing-contrib

[2020-09-14 06:45] slinkydeveloper commented on #1554
Weird, i wonder why disable-ha affects the webhooks. Let me try it

[2020-09-14 06:46] slinkydeveloper commented on #1560
/assign

[2020-09-14 07:20] aliok commented on #1188
@AceHack

No, in the fix PR, only the cluster scope dispatcher is created in advance.

For the namespaced ones nothing changed.

[2020-09-14 07:30] aliok commented on #1188
IMO we should have all these information in the CR: cluster, topic, etc

[2020-09-14 08:00] aliok commented on #828
@tom24d  Did you have a similar problem in DockerHubSource?

[2020-09-14 08:02] aliok commented on #638
/close

[2020-09-14 08:02] #638 closed

[2020-09-14 08:04] slinkydeveloper commented on #1554
I tried to reproduce the issue, installing on kind using these scripts https://github.com/matzew/kn-box and the webhook certs secret is properly populated:

[code]

[2020-09-14 09:02] slinkydeveloper commented on #1560
@ntzlqx I tried to remove and create a sub again using a clean 0.17.3 setup, but i don't see any issue. Can you please provide a reproducer code/reproducer script?

Can you post the log (in debug mode) of kafka-ch-controller & kafka-ch-dispatcher when the issue happens?

[2020-09-14 12:10] #1464 closed

[2020-09-14 12:13] matzew commented on #1560
I think https://github.com/knative/eventing/pull/4042  is related here

/cc @pierDipi

[2020-09-14 12:17] aliok commented on #1539
@whitleykeith can you give https://github.com/knative/eventing-contrib/pull/1567 a try?

[2020-09-14 12:39] lionelvillard commented on #1560
here more context: https://knative.slack.com/archives/CR2141CGY/p1599849495058400

[2020-09-14 13:16] slinkydeveloper commented on #1560
@matzew I'm not sure it's related to https://github.com/knative/eventing/pull/4042, it seems more some corner case of the controller logic...

[2020-09-14 14:29] tom24d commented on #828
I have confirmed this was already fixed by #1021 with option 1.

/close

[2020-09-14 14:29] #828 closed

[2020-09-14 15:50] AceHack commented on #1554
I was installing with 0.17.1, not 0.17.0.  Looking for other differences in the script.

[2020-09-14 16:04] AceHack commented on #1554
Also not sure if it makes any difference but I'm using istio not kourier and I'm using the operator for installing serving and eventing.

[2020-09-14 16:10] slinkydeveloper commented on #1554
Maybe that's an issue in the operator @aliok ?

[2020-09-14 16:48] itsmurugappan commented on #1564
/assign

[2020-09-14 16:48] itsmurugappan commented on #1563
/assign

[2020-09-14 16:48] itsmurugappan commented on #1562
/assign

[2020-09-14 16:48] itsmurugappan commented on #1561
/assign

[2020-09-14 17:29] AceHack commented on #1554
@slinkydeveloper The script you point to is also doing something weird with the sugar controller.

kubectl apply --filename https://storage.googleapis.com/knative-releases/eventing/previous/${eventing_version}/eventing-sugar-controller.yaml

[2020-09-14 18:05] AceHack commented on #1554
@slinkydeveloper I wrote this script and I am unable to reproduce this issue locally in docker desktop currently.  Gonna update it to use the operators and see if that makes a difference.  Also looking for any differences to our dev environment.

[code]

[2020-09-14 18:42] AceHack commented on #1554
@slinkydeveloper
Okay, I am able to reproduce the issue now locally.  Run the above script that creates everything.  After it finishes create a topic with.

[code]

Now run
[code]

Re-apply the kafka channel with
[code]

Now you will see the issue.

[code]

[2020-09-14 18:45] AceHack commented on #1554
FYI, in case you are interested here is the script I created to create everything the operator way.  The issue can be reproduced both with and without the operator.

[code]

[2020-09-14 20:24] grantr commented on #1520
Possibly related to https://github.com/knative/eventing-contrib/issues/1560

[2020-09-14 22:14] AceHack commented on #1554
@slinkydeveloper Here is one script to reproduce the whole thing, no operator involved.

[code]

[2020-09-15 07:31] slinkydeveloper commented on #1554
Yep I reproduced it. I've found another ticket in pkg that describes the same issue https://github.com/knative/eventing-contrib/issues/1554

[2020-09-15 09:23] yuvalif opened #1571 "calling update-deps.sh fails"
get the following error:
[code]

[2020-09-15 12:10] knative-test-reporter-robot opened #1572 "[flaky] 1.51% tests failed in repo eventing-contrib on 2020-09-15 10:37:43 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.51% tests failed in repo eventing-contrib on 2020-09-15 10:37:43 +0000 UTC
* **Repository name**: eventing-contrib

[2020-09-15 12:24] aliok commented on #949
/remove-lifecycle stale

This is still valid.

[2020-09-15 12:29] aliok commented on #1539
@whitleykeith https://github.com/knative/eventing-contrib/releases/tag/v0.16.1 is now released with this fix

[2020-09-15 14:36] MIBc commented on #1571
It seems like a dns problem.

[2020-09-15 15:32] mattmoor commented on #1554
If one of y'all have a repro setup, can you try changing the liveness probe to have one or both of:
 * `failureThreshold: 10`
 * `initialDelaySeconds: 10`

Judging from the logs, it is expecting 3 liveness probes to succeed over HTTPS unreasonably quickly after starting up.  The "has stopped leading" messages seem indicative of when the Pod is getting SIGTERM and the context is cancelled, which pr

[2020-09-15 17:08] yuvalif commented on #1571
do you mean it is a temporary problem?

[2020-09-16 02:31] MIBc commented on #1571
Check you dns config. `10.35.255.14` is not a public dns server.

[2020-09-16 08:05] yuvalif commented on #1571
I've set the IP statically (changing DNS didn't seem to help), but now I get a cert issue:
[code]

[2020-09-16 08:17] yuvalif commented on #1571
I've set the dns address to a public one, but didn't seem to help:
[code]

[2020-09-16 09:31] tom24d commented on #1571
@yuvalif Which `Go` version are you using?
I cannot reproduce this with go 1.15.2 even if I drop all related go mod cache.
Note that vbom.ml/util has been moved to github.com/fvbommel/util(See the issue 7 in that repo).

[2020-09-16 09:49] yuvalif commented on #1571
go version go1.14.6 linux/amd64

[2020-09-16 10:03] pierDipi commented on #1571
I've just tried on Fedora 32 with the same Go version and it's working.

Can you share the output of the command `go env`?

[2020-09-16 10:17] yuvalif commented on #1571
[code]

[2020-09-16 10:33] pierDipi commented on #1571
It seems ok.

Are you on the default branch?

/priority awaiting-more-evidence

[2020-09-16 12:03] yuvalif commented on #1571
yes, on "master"

[2020-09-16 12:11] knative-test-reporter-robot opened #1577 "[flaky] 6.82% tests failed in repo eventing-contrib on 2020-09-16 10:37:13 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 6.82% tests failed in repo eventing-contrib on 2020-09-16 10:37:13 +0000 UTC
* **Repository name**: eventing-contrib

[2020-09-16 15:47] lberk commented on #1571
fwliw, I've hit this as well on the `test-infra` repo

[2020-09-16 17:58] vaikas commented on #1520
Ok, so tried to repro this from the head with those steps and I couldn't:

[code]

So, I wonder if something was fixed along the way. When are you planning on ugprading? Also, FYI, there was an issue with some of the releases when going from .16 to .17, but it should have been fixed in the later dot releases. @Harwayne which is the one that has been fixed?

[2020-09-16 18:14] MPeyrard86 commented on #1520
I have put in a request to get our Kubernetes version upgraded, as that is blocking us from upgrading Knative. As soon as that happens, I will be upgrading Knative and trying this again.

[2020-09-16 18:16] vaikas commented on #1520
ok, thanks and sorry about the trouble :(

[2020-09-16 18:33] MPeyrard86 commented on #1520
No worries. This isn't affecting production or anything. We're using Knative to develop a new feature that hasn't shipped yet.

[2020-09-17 12:12] #1562 closed

[2020-09-17 12:12] #1564 closed

[2020-09-17 12:12] #1561 closed

[2020-09-17 20:28] lberk commented on #1571
For those coming here via search, considering this is a dns issue (instead of a eventing-contrib issue) and I've verified others users are hitting this well, I've manually worked around the issue by adding a `replace` line in go.mod to avoid using the vanity url, ie:
`vbom.ml/util => github.com/fvbommel/util v0.0.2`

Closing this issue out for now

[2020-09-17 20:28] #1571 closed

[2020-09-18 06:10] ntzlqx opened #1590 "Kafka channel dispatcher logs HTTP error 502 on malformed response from an event handling client function"
**Describe the bug**
The issue does not result in a real failure if the response is not meaningful, but creates confusion in logs and traces.
There is an explicit conversion in code of a http status code 200 to 502 without some additional logging context

 **Expected behavior**
Clear indication that the client function responded with a malformed cloudevent

 **To Reproduce**
Respond from a kn hand

[2020-09-18 12:15] #1563 closed

[2020-09-18 12:16] knative-test-reporter-robot opened #1591 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-09-18 12:16] knative-test-reporter-robot opened #1592 "[flaky] test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerChannelFlowTriggerV1BrokerV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-09-19 12:16] knative-test-reporter-robot opened #1594 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-09-19 12:16] knative-test-reporter-robot opened #1595 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/NatssChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/NatssChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-09-19 12:16] knative-test-reporter-robot opened #1596 "[flaky] test/e2e.TestSingleStructuredEventForChannelV1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestSingleStructuredEventForChannelV1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-09-20 12:12] #1591 closed

[2020-09-20 12:12] #1592 closed

[2020-09-20 12:12] #1471 closed

[2020-09-21 11:52] Fabian-K commented on #1085
Sorry, forgot about this issue. Yes, this is fixed :)

[2020-09-21 11:52] #1085 closed

[2020-09-21 12:11] #1594 closed

[2020-09-21 12:11] #1596 closed

[2020-09-21 12:11] #1595 closed

[2020-09-21 16:36] dprotaso opened #1599 "Adopt apiextension.k8s.io & admissionregistration.k8s.io v1 API"
The yaml in this repo is still using beta APIs that can switch to v1.

[2020-09-21 16:38] dprotaso commented on #1599
related: https://github.com/knative/serving/issues/9494

[2020-09-21 16:47] dprotaso commented on #1599
note: - eventing & serving have switched in previous releases

[2020-09-22 12:13] #1401 closed

[2020-09-27 12:12] knative-test-reporter-robot opened #1613 "[flaky] test/e2e.TestKafkaBinding/no_event-v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestKafkaBinding/no_event-v1beta1
* **Repository name**: eventing-contrib

[2020-09-30 11:19] aliok commented on #1332
/close

Created tickets in new repo, `knative-sandbox/eventing-kafka` for the remaining tasks: https://github.com/knative-sandbox/eventing-kafka/issues/65

[2020-09-30 11:20] #1332 closed

[2020-09-30 11:21] aliok commented on #1332
@matzew , I created https://github.com/knative-sandbox/eventing-kafka/issues/69 for this

[2020-09-30 11:21] aliok commented on #1394
/close

Created tickets in new repo, `knative-sandbox/eventing-kafka` for the remaining tasks: https://github.com/knative-sandbox/eventing-kafka/issues/65

[2020-09-30 11:21] #1394 closed

[2020-09-30 11:43] aliok commented on #1396
/close

Moved to knative-sandbox/eventing-kafka: https://github.com/knative-sandbox/eventing-kafka/issues/70

[2020-09-30 11:43] #1396 closed

[2020-09-30 11:44] aliok commented on #1350
/close

Created tickets in knative-sandbox/eventing-kafka for the remaining work: https://github.com/knative-sandbox/eventing-kafka/issues/70

[2020-09-30 11:44] #1350 closed

[2020-10-02 12:12] knative-test-reporter-robot opened #1624 "[flaky] 1.58% tests failed in repo eventing-contrib on 2020-10-02 10:38:03 +0000 UTC"
### Auto-generated issue tracking flakiness of test
* **Test name**: 1.58% tests failed in repo eventing-contrib on 2020-10-02 10:38:03 +0000 UTC
* **Repository name**: eventing-contrib

[2020-10-03 12:13] #1433 closed

[2020-10-06 12:13] knative-test-reporter-robot opened #1626 "[flaky] test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1alpha1/fibonacci"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestBrokerRedelivery/KafkaChannel-messaging.knative.dev/v1alpha1/fibonacci
* **Repository name**: eventing-contrib

[2020-10-06 12:14] #1459 closed

[2020-10-07 12:12] knative-test-reporter-robot opened #1627 "[flaky] test/e2e.TestEventTransformationForSubscriptionV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscriptionV1Beta1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-10-07 12:12] knative-test-reporter-robot opened #1628 "[flaky] _build_tests.Verify_CodeGen"
### Auto-generated issue tracking flakiness of test
* **Test name**: _build_tests.Verify_CodeGen
* **Repository name**: eventing-contrib

[2020-10-07 12:12] knative-test-reporter-robot opened #1629 "[flaky] test/e2e.TestEventTransformationForSubscriptionV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscriptionV1Beta1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-10-07 13:55] aliok commented on #1554
For reference, https://github.com/knative-sandbox/eventing-kafka/pull/81 fixes this.
Backport for 0.18: https://github.com/knative/eventing-contrib/pull/1630
Backport for 0.17: https://github.com/knative/eventing-contrib/pull/1631

Won't be fixed on eventing-contrib master as we're not touching there anymore I think.

[2020-10-07 17:24] aliok commented on #1554
/close
This is fixed now with the PRs in comment above. There will be a new release for 0.17 and 0.18 next week.

[2020-10-07 17:24] #1554 closed

[2020-10-08 12:13] knative-test-reporter-robot opened #1632 "[flaky] test/e2e.TestEventTransformationForSubscriptionV1/KafkaChannel-messaging.knative.dev/v1alpha1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscriptionV1/KafkaChannel-messaging.knative.dev/v1alpha1
* **Repository name**: eventing-contrib

[2020-10-08 12:13] #1626 closed

[2020-10-08 12:13] knative-test-reporter-robot opened #1633 "[flaky] test/e2e.TestEventTransformationForSubscriptionV1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestEventTransformationForSubscriptionV1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib

[2020-10-09 12:12] #1628 closed

[2020-10-09 12:12] #1629 closed

[2020-10-09 12:12] #1627 closed

[2020-10-10 01:18] #1284 closed

[2020-10-10 01:18] #1233 closed

[2020-10-10 01:18] #1127 closed

[2020-10-10 01:18] #1109 closed

[2020-10-10 01:18] #1019 closed

[2020-10-10 01:18] #979 closed

[2020-10-10 01:18] #970 closed

[2020-10-10 01:18] #936 closed

[2020-10-10 01:18] #909 closed

[2020-10-10 01:18] #894 closed

[2020-10-10 01:18] #833 closed

[2020-10-10 01:18] #827 closed

[2020-10-10 01:18] #809 closed

[2020-10-10 01:18] #775 closed

[2020-10-10 01:18] #758 closed

[2020-10-10 01:19] #756 closed

[2020-10-10 01:19] #752 closed

[2020-10-10 01:19] #731 closed

[2020-10-10 01:19] #691 closed

[2020-10-10 01:19] #695 closed

[2020-10-10 01:19] #658 closed

[2020-10-10 01:19] #655 closed

[2020-10-10 01:19] #654 closed

[2020-10-10 01:19] #653 closed

[2020-10-10 01:19] #643 closed

[2020-10-10 01:19] #636 closed

[2020-10-10 12:11] #1633 closed

[2020-10-10 12:11] knative-test-reporter-robot opened #1634 "[flaky] test/e2e.TestChannelDeadLetterSinkV1/KafkaChannel-messaging.knative.dev/v1beta1"
### Auto-generated issue tracking flakiness of test
* **Test name**: test/e2e.TestChannelDeadLetterSinkV1/KafkaChannel-messaging.knative.dev/v1beta1
* **Repository name**: eventing-contrib